<div>
  <div class="psm-stream-card"
    *ngFor="let stream of streamList; trackBy: trackByIdFn">

    <a class="psm-logo" (click)="doRedirectToStream(stream.id)">
      <app-logotype *ngIf="!isFuture"
        [logo]="stream.logo"
      ></app-logotype>
      <div *ngIf="isFuture" class="psm-logo-future">
      </div>
    </a>

    <div class="psm-details">
      <div class="psm-date text">
        <!-- id:{{ stream.id }} _ -->
        {{ stream.starttime | date: (!isFuture ? formatDate : formatDateTime) }}
      </div>
      <div class="psm-title">
        <a (click)="doRedirectToStream(stream.id)">
          {{ stream.title }}
        </a>
      </div>
      <div class="psm-descript">{{ stream.descript }}</div>
    </div>

    <button mat-stroked-button *ngIf="canDuplicate"
      class="mat-elevation-z3 psm-shrink-0 psm-mg-rg psm-pd-hor-05" color="primary"
      (click)="doActionDuplicate(stream.id)">
      <span class="psm-action-label">
        <i class="psm-duplicate-accent"></i>
        {{ 'panel-stream-mini.buttons.duplicate' | translate }}
      </span>
    </button>

    <button mat-stroked-button *ngIf="canEdit"
      class="mat-elevation-z3 psm-shrink-0 psm-mg-rg psm-pd-hor-07" color="primary"
      (click)="doActionEdit(stream.id)">
      <span class="psm-action-label">
        <i class="psm-edit-accent"></i>
        {{ 'panel-stream-mini.buttons.edit' | translate }}
      </span>
    </button>

    <button mat-stroked-button *ngIf="canDelete"
      class="mat-elevation-z3 psm-shrink-0 psm-mg-rg psm-pd-hor-07" color="primary"
      (click)="doActionDelete(stream)">
      <span class="psm-action-label">
        <i class="psm-delete-accent"></i>
        {{ 'panel-stream-mini.buttons.delete' | translate }}
      </span>
    </button>

  </div>
</div>
