<div [ngClass]="['pbu-header', (!!title ? 'pbu-hdr-pd' : '')]">
  <div class="pbu-label" >{{ !!title ? (title | translate) : '' }}</div>
</div>
  
<div class="pbu-sepr"></div>

<div class="pbu-middle global-scroll">
  @if (isLoadData) {
    <app-spinner isFillParent [diameter]="30"></app-spinner>
  }
  @if (blockedUsers.length > 0) {
    <div pbu-brd-bt class="pbu-item pbu-header-item">
      <div class="pbu-item-nickname">
        <span>{{ 'panel-blocked-users.user_nickname' | translate }}</span>
      </div>
      <div class="pbu-item-date">
        <span>{{ 'panel-blocked-users.date_blocking' | translate }}</span>
      </div>
    </div>
    <div pbu-brd-bt></div>
  }
  @for (blockedUser of blockedUsers; track blockedUser.id) {
    <div pbu-brd-bt class="pbu-item"
    [matMenuTriggerFor]="menuItem"
    [matMenuTriggerData]="{ member: blockedUser.blockedNickname }">
      <div class="pbu-item-nickname">
        <span>{{ blockedUser.blockedNickname }}</span>
      </div>
      <div class="pbu-item-date">
        <span>{{ blockedUser.blockDate | dateTimeFormat:locale:formatDate }}</span>
        <span>{{ blockedUser.blockDate | dateTimeFormat:locale:formatTime }}</span>
      </div>
    </div>
    <div pbu-brd-bt></div>
  }
</div>

<mat-menu #menuItem="matMenu" class="pbu-menu-panel" xPosition="before" [overlapTrigger]="true">
  <ng-template matMenuContent let-member="member">
    <button mat-menu-item class="pbu-item-menu" (click)="doUnblockUser(member, blockedUsers)">
      <svg class="pbu-svg-box">
        <use href="assets/icons/lib-concept/panel-blocked-users/lock-open-bin.svg#lock-open-bin"></use>
      </svg>
      <span class="pbu-menu-label">{{ 'panel-blocked-users.menu.unblock_user' | translate }}</span>
    </button>
  </ng-template>
</mat-menu>
  