<div class="hd-box-logo">
  <i class="hd-icon hd-logo-mini"></i>
  <span class="hd-logo-text">{{ 'app.name' | translate }}</span>
</div>

<!-- <div class="hd-box-search" style="display: none;">
  <span>box-search</span>
</div> -->

<div class="hd-box-actions">
  <!-- <span>box-actions</span> -->
  <nav>
    <ul>
      <li *ngFor="let item of menuList">
        <a nodecor class="hd-menu" routerLink="{{ item.link }}" routerLinkActive="active" ariaCurrentWhenActive="page">
          {{ item.name | translate }}
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="hd-box-user">
  <!-- <span>box-user</span> -->

  <ng-container *ngIf="!!profileDto">
    <app-main-menu
      [isShowMyStreams]="true"
      [isShowCreateStream]="true"
      [isShowDarkTheme]="true"
      [isShowLogout]="true"
      (setDarkTheme)="setDarkTheme($event)"
      (logout)="doLogout()">
      <div class="hd-profile-avatar">
        <span>{{ profileDto.nickname }}</span>
        <img class="hd-avatar" [src]="profileDto.avatar || '/assets/images/icon_man.png'" alt="image" />
      </div>
    </app-main-menu>
  </ng-container>
</div>
