<mat-toolbar>
  <i class="h-icon-bg h-logo-mini"></i>
  <span h-mr-lf-0_5></span>
  <h4 class="h-logo-text">{{ 'app.name' | translate }}</h4>
  <span h-mr-lf-0_5></span>

  @for (pageMenu of pageMenuList; track pageMenu) {
    <a no-decor no-color mat-button class="h-page-menu"
      routerLink="{{ pageMenu.link }}"
      routerLinkActive="h-page-menu-selected"
      ariaCurrentWhenActive="page">
      {{ pageMenu.name | translate }}
    </a>
  }

  <span class="h-spacer"></span>

  <button mat-button [matMenuTriggerFor]="mainMenu" 
    [ngClass]="['h-menu-avatar', (!profileDto ? 'h-menu-btn' : '')]">
    <span>{{ profileDto?.nickname }}</span>
    @if (!!profileDto) {
      @if (!!profileDto.avatar) {
        <img class="h-img-avatar" [src]="profileDto.avatar" />
      } @else {
        <svg class="h-svg-avatar">
          <use href="assets/icons/components/header/user-man-bin.svg#user-man-bin"></use>
        </svg>
      }
    } @else {
      <svg class="h-svg-more-vert">
        <use href="assets/icons/components/header/more-vert.svg#more-vert"></use>
      </svg>
    }
  </button>

</mat-toolbar>

<mat-menu #mainMenu="matMenu" xPosition="before">

  @if (isShowMyStreams) {
    <button mat-menu-item class="app-main-menu-item" [routerLink]="[linkMyStreams]">
      <span class="mm-icon mm-my-streams"></span>
      <span class="mm-mr-lf-1_">{{ 'main_menu.stream_list' | translate }}</span>
    </button>
  }
  @if (isShowCreateStream) {
    <button mat-menu-item class="app-main-menu-item" [routerLink]="[linkCreateStream]">
      <span class="mm-icon mm-my-streams"></span>
      <span class="mm-mr-lf-1_">{{ 'main_menu.stream_create' | translate }}</span>
    </button>
  }
  @if (isShowTheme) {
    <button mat-menu-item class="pn-main-menu-item" [matMenuTriggerFor]="themes">
      <span class="mm-icon mm-locale"></span>
      <span class="mm-mr-lf-1_">{{ 'main_menu.theme' | translate }}</span>
    </button>
  }
  @if (isShowLocale) {
    <button mat-menu-item class="pn-main-menu-item" [matMenuTriggerFor]="locales">
      <span class="mm-icon mm-locale"></span>
      <span class="mm-mr-lf-1_">{{ 'main_menu.locale' | translate }}</span>
    </button>
  }
  @if (isShowLogout) {
    <button mat-menu-item class="app-main-menu-item" (click)="doLogout()">
      <span class="mm-icon mm-log-out"></span>
      <span class="mm-mr-lf-1_">{{ 'main_menu.log_out' | translate }}</span>
    </button>
  }
</mat-menu>

<mat-menu #themes="matMenu">
  @for (colorSchemeItem of colorSchemeList; track colorSchemeItem) {
    <button mat-menu-item [value]="colorSchemeItem"
      [ngClass]="['mm-menu-btn', (colorScheme == colorSchemeItem ? 'mm-curr' : ''), (colorSchemeItem == '' ? 'mm-item-fn-it' : '')]"
      (click)="doSetColorScheme(colorSchemeItem)">
      <span>{{ ('theme.' + colorSchemeItem) | translate }}</span>
      <span [ngClass]="['mm-menu-item-min', (colorScheme == colorSchemeItem ? 'mm-check' : '')]"></span>
    </button>
  }
</mat-menu>

<mat-menu #locales="matMenu">
  @for (localeItem of localeList; track localeItem) {
    <button mat-menu-item [ngClass]="['mm-menu-btn', (locale == localeItem ? 'mm-curr' : ''), (localeItem == '' ? 'mm-item-fn-it' : '')]"
      [value]="localeItem"
      (click)="doSetLocale(localeItem)">
      <span>{{ ('locale.' + localeItem) | translate }}</span>
      <span [ngClass]="['mm-menu-item-min', (locale == localeItem ? 'mm-check' : '')]"></span>
    </button>
  }
</mat-menu>