/*# sourceURL=header.component.scss */

app-header {
  --mat-toolbar-standard-height: var(--app-header-hg);
  --mat-toolbar-mobile-height: var(--app-header-hg);
  --mdc-text-button-label-text-size: 1rem; // 16px
  --mdc-text-button-container-shape: 0.75rem; // 12px
  ---hdr-hg: calc(var(--app-header-hg, 62px) - 8px);

  container-name: cnt-header;
  display: block;

  &.h-is-authorized {
    ---hdr-auth-bg: var(--app-site-auth);
  }
  &:not(.h-is-authorized) {
    ---hdr-auth-bg: var(--app-site-unauth);
  }
  --mat-toolbar-container-background-color: color-mix(in srgb, var(---hdr-auth-bg) 20%, var(--sys-surface));

  [h-mr-lf-0_5] { margin-left: 0.5em; }

  // ** logo image **
  .h-icon-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .h-logo-mini {
    background-image: url('/assets/icons/components/header/logo-bin.svg');
    flex-shrink: 0;
    height: var(---hdr-hg);
    width: var(---hdr-hg);
  }

  // ** logo text **
  .h-logo-text {
    margin-left: 0.5em;
    --mat-toolbar-title-text-weight: 500;
    --mat-toolbar-title-text-size: 1.125rem;
  }
  
  // ** page-menu **
  .mat-toolbar .h-page-menu.mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
    --mdc-text-button-label-text-color: var(--sys-primary);
  }
  @container cnt-header style(--color-scheme: dark) {
    .h-page-menu {
      ---hdr-dark-mn-sel: 7%;
      --mat-text-button-hover-state-layer-opacity: 0.14;
    }
  }
  .h-page-menu-selected {
    background-color: color-mix(in srgb, var(--sys-primary) calc(15% + var(---hdr-dark-mn-sel, 0%)), rgba(0, 0, 0, 0));
  }

  // ** separator **
  .h-spacer {
    flex: 1 1 auto;
  }

  // ** menu avatar **
  .h-menu-avatar {
    min-width: var(--mdc-text-button-container-height);

    &.h-menu-btn {
      ---hdr-menu-hg: 40px;
      --mdc-text-button-container-shape: 50%;
      --mat-text-button-horizontal-padding: 0px;
      --mat-text-button-state-layer-color: var(--sys-on-surface-variant);
    }
    --mdc-text-button-container-height: var(---hdr-menu-hg, 2.75rem); // 44px
    padding-right: 0px;
  }
  // * avatar image *
  .h-img-avatar {
    border-radius: 0.3rem;
    box-sizing: border-box;
    height: calc(var(---hdr-hg) - 4px);
    margin-left: 0.5em;
    object-fit: cover;
    vertical-align: middle;
    width: calc(var(---hdr-hg) - 4px);
  }
  .h-svg-avatar {
    color: var(--app-svg-icon-cl);
    height: var(---hdr-hg);
    width: var(---hdr-hg);
    vertical-align: middle;
  }
  // * menu "more-vert" *
  .h-svg-more-vert {
    color: var(--sys-on-surface-variant);
    height: 1.5rem;
    width: 1.5rem;
    vertical-align: middle;
  }
}

.cdk-overlay-container .mat-mdc-menu-panel {
  .mm-mr-lf-1 {
    margin-left: 1em;
  }
  .mm-menu-btn {

    &.mm-curr {
      background-color: var(--mat-option-selected-state-layer-color);
    }
    .mat-mdc-menu-item-text {
      display: flex;
      justify-content: space-between;
    }
    .mm-menu-item-min {
      flex-shrink: 0;
      height: 18px;
      margin-left: 10px;
      position: relative;
      width: 18px;
    }
    .mm-menu-item-min.mm-check::after {
      border-bottom: 2px solid currentColor;
      border-left: 2px solid currentColor; 
      bottom: 0;
      content: "";
      height: 6px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: -4.24px;
      transform: rotate(-45deg);
      width: 14px;
    }
  }
}