/*# sourceURL=header.component.scss */

app-header {
  display: flex;
  justify-content: space-between;
  height: 100%;
  
  &:not(.hd-user-info) {
    ---hd-bg-h: var(--app-site-unauth-h);
    ---hd-bg-s: var(--app-site-unauth-s);
    ---hd-bg-l: var(--app-site-unauth-l);
    ---hd-bg-delta1: -8%;
    ---hd-bg-delta2: -5%;
  }
  &.hd-user-info {
    ---hd-bg-h: var(--app-site-auth-h);
    ---hd-bg-s: var(--app-site-auth-s);
    ---hd-bg-l: var(--app-site-auth-l);
    ---hd-bg-delta1: 8%;
    ---hd-bg-delta2: 5%;
  }

  background-color: hsl(var(---hd-bg-h), var(---hd-bg-s), var(---hd-bg-l));

  & > div {
    align-items: center;
    display: flex;
    padding: 0 0.5em 0 0.5em;
  }
  & > .hd-box-logo {
    flex: 0 0 auto; // #255px;
  }
//   & > .hd-box-search {
//     flex: 1 1 auto;
//   }
  & > .hd-box-actions {
    flex-grow: 1;
  }
  & > .hd-box-user {
    flex: 0 0 auto; // #255px;
  }

  // Section: "box-logo"
  .hd-logo-link {
    align-items: center;
    color: inherit;
    display: flex;
  }
  .hd-logo-text {
    font-size: x-large;
    font-weight: 500;
    margin-left: 0.5em;
  }
  .hd-logo-mini {
    background-image: url('../../../assets/images/logo_mini.png');
    height: 4em;
    width: 4em;
  }

  // Section: "box-search"
//   .hd-box-search {
//     // font-size: 14px;
//     margin-top: 3px;
//     max-width: 400px;
//     min-width: 200px;
//   }
  // "box-actions"
  .hd-menu {
    border-radius: 0.3em;
    font-size: calc(1em + 1px);
    font-weight: 500;
    padding: 0.3em 0.5em;
    &.active {
      ---hd-bg-delta: var(---hd-bg-delta1);
    }
    &:hover {
      ---hd-bg-delta: var(---hd-bg-delta2);
    }
    background-color: hsl(var(---hd-bg-h), var(---hd-bg-s), calc(var(---hd-bg-l) + var(---hd-bg-delta)));

  }
  // "box-user"
  .hd-user-info {
    display: flex;
    align-items: center;
  }
  .hd-user-image {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    border-radius: 12px;
  }

  // -- --
  .hd-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // &.hd-my-profile { width: 21px; height: 21px; }
    // &.hd-create-stream { width: 24px; height: 24px; }
  }
}
