<mat-toolbar>
  <i class="h-icon-bg h-logo-mini"></i>
  <span h-mr-lf-0_5></span>
  <h4 class="h-logo-text">{{ 'app.name' | translate }}</h4>
  <span h-mr-lf-0_5></span>

  @for (mainMenuItem of mainMenuItems; track mainMenuItem.name) {
    <a no-decor no-color mat-button class="h-elem-menu"
      routerLink="{{ mainMenuItem.link }}"
      routerLinkActive="h-selected"
      ariaCurrentWhenActive="page">
      {{ ('main_menu.' + mainMenuItem.name) | translate }}
    </a>
  }

  <span class="h-spacer"></span>

  @if (!!profileDto) {
    <button mat-button [matMenuTriggerFor]="mainMenu" class="h-nickname-btn">
      <span class="h-nickname">{{ nickname }}</span>
    </button>
    <button mat-button [matMenuTriggerFor]="mainMenu" class="h-avatar-btn">
      <app-avatar class="h-avatar"
        [avatar]="profileDto.avatar">
      </app-avatar>
    </button>
  } @else {
    <button mat-icon-button [matMenuTriggerFor]="mainMenu">
      <svg class="h-svg-more-vert">
        <use href="assets/icons/components/header/more-vert.svg#more-vert"></use>
      </svg>
    </button>
  }

</mat-toolbar>



<mat-menu #mainMenu="matMenu" class="h-menu-panel" xPosition="before">
  @for (panelMenuItem of panelMenuItems; track panelMenuItem.name) {
    <button mat-menu-item class="pn-menu-item" routerLink="{{ panelMenuItem.link }}">
      <span [ngClass]="['mm-icon', ('mm-' + panelMenuItem.name) ]"></span>
      <span class="mm-mr-lf-0_5">{{ ('main_menu.' + panelMenuItem.name) | translate }}</span>
    </button>
  }
  @if (isShowTheme) {
    <button mat-menu-item class="pn-item-menu" [matMenuTriggerFor]="themes">
      <span class="mm-icon mm-theme"></span>
      <span class="mm-mr-lf-0_5">{{ 'main_menu.theme' | translate }}</span>
    </button>
  }
  @if (isShowLocale) {
    <button mat-menu-item class="pn-item-menu" [matMenuTriggerFor]="locales">
      <span class="mm-icon mm-locale"></span>
      <span class="mm-mr-lf-0_5">{{ 'main_menu.locale' | translate }}</span>
    </button>
  }
  @if (isShowLogout && !!profileDto) {
    <button mat-menu-item class="pn-item-menu" (click)="doLogout()">
      <span class="mm-icon mm-log-out"></span>
      <span class="mm-mr-lf-0_5">{{ 'main_menu.log_out' | translate }}</span>
    </button>
  }
</mat-menu>

<mat-menu #themes="matMenu" class="h-menu-panel">
  @for (colorSchemeItem of colorSchemeList; track colorSchemeItem) {
    <button mat-menu-item [value]="colorSchemeItem"
      [ngClass]="['pn-item-menu', 'mm-menu-btn', (colorScheme == colorSchemeItem ? 'mm-curr' : '')]"
      (click)="doSetColorScheme(colorSchemeItem)">
      <span>{{ ('theme.' + colorSchemeItem) | translate }}</span>
      <span [ngClass]="['mm-menu-item-min', (colorScheme == colorSchemeItem ? 'mm-check' : '')]"></span>
    </button>
  }
</mat-menu>

<mat-menu #locales="matMenu" class="h-menu-panel">
  @for (localeItem of localeList; track localeItem) {
    <button mat-menu-item [ngClass]="['pn-item-menu', 'mm-menu-btn', (locale == localeItem ? 'mm-curr' : '')]"
      [value]="localeItem"
      (click)="doSetLocale(localeItem)">
      <span>{{ ('locale.' + localeItem) | translate }}</span>
      <span [ngClass]="['mm-menu-item-min', (locale == localeItem ? 'mm-check' : '')]"></span>
    </button>
  }
</mat-menu>