/*# sourceURL=header.component.scss */

app-header {
  --mat-toolbar-standard-height: var(--app-header-hg);
  --mat-toolbar-mobile-height: var(--app-header-hg);
  --mdc-text-button-label-text-size: 1rem; // 16px
  --mdc-text-button-container-shape: 0.75rem; // 12px
  ---hdr-hg: var(--app-header-hg, 62px);

  container-name: cnt-header;
  display: block;

  &.h-is-authorized {
    ---hdr-auth-bg: var(--app-site-auth);
  }
  &:not(.h-is-authorized) {
    ---hdr-auth-bg: var(--app-site-unauth);
  }
  --mat-toolbar-container-background-color: color-mix(in srgb, var(---hdr-auth-bg) 20%, var(--sys-surface));

  [h-mr-lf-0_5] { margin-left: 0.5em; }

  // ** logo **
  .h-logo-text {
    margin-left: 0.5em;
    --mat-toolbar-title-text-weight: 500;
    --mat-toolbar-title-text-size: 1.125rem;
  }
  .h-logo-mini {
    background-image: url('../../../assets/images/logo_mini.png');
    height: var(---hdr-hg);
    width: var(---hdr-hg);
  }
  .h-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // ** page-menu **
  .mat-toolbar .h-page-menu.mat-mdc-button-base.mat-mdc-button-base.mat-unthemed {
    --mdc-text-button-label-text-color: var(--sys-primary);
  }
  @container cnt-header style(--color-scheme: dark) {
    .h-page-menu {
      ---hdr-dark-mn-sel: 7%;
      --mat-text-button-hover-state-layer-opacity: 0.14;
    }
  }
  .h-page-menu-selected {
    background-color: color-mix(in srgb, var(--sys-primary) calc(15% + var(---hdr-dark-mn-sel, 0%)), rgba(0, 0, 0, 0));
  }

  .h-spacer {
    flex: 1 1 auto;
  }
  
  // ** menu avatar **
  .h-menu-avatar {
    --mdc-text-button-container-height: 2.75rem; // 44px
  }
  .h-avatar-wrap {
    display: flex;
    align-items: center;
  }
  .h-avatar {
    border-radius: 0.3rem;
    box-sizing: border-box;
    height: calc(var(---hdr-hg) - 4px);
    margin-left: 0.5em;
    object-fit: cover;
    width: calc(var(---hdr-hg) - 4px);
  }
  /*
  background-color: hsl(var(---hd-bg-h), var(---hd-bg-s), var(---hd-bg-l));
  --app-link-cl: var(--app-default-cl);
  */
}

.cdk-overlay-container .mat-mdc-menu-panel {
  .mm-mr-lf-1 {
    margin-left: 1em;
  }
  .mm-item-fn-it {
    font-style: italic;
  }
  .mm-mr-lf-0_5 {
    margin-left: 0.5em;
  }
  .mm-menu-btn {

    &.mm-curr {
      background-color: var(--mat-option-selected-state-layer-color);
    }
    .mat-mdc-menu-item-text {
      display: flex;
      justify-content: space-between;
    }
    .mm-menu-item.mm-minimal {
      flex-shrink: 0;
      height: 18px;
      margin-left: 10px;
      position: relative;
      width: 18px;
    }
    .mm-menu-item.mm-check::after {
      border-bottom: 2px solid currentColor;
      border-left: 2px solid currentColor; 
      bottom: 0;
      content: "";
      height: 6px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: -4.24px;
      transform: rotate(-45deg);
      width: 14px;
    }
  }
}