<div class="sl-my-calendar sl-flex-col">
  <div class="sl-title">
    {{ 'stream_list.my_calendar' | translate }}
  </div>
  <div class="sl-calendar">
    <!-- <app-spinner *ngIf="scheduleService.selectedDateMarkedDatesLoading" [isFullOwner]="true"></app-spinner> -->
    <!-- <app-schedule-calendar
      [selectedDate]="scheduleService.selectedDate"
      [markedDates]="scheduleService.selectedDateMarkedDates"
      (changeSelectedDate)="doChangeSelectedDate($event)"
      (changeActiveDate)="doChangeActiveDate($event)"
    ></app-schedule-calendar> -->
  </div>
  <div class="sl-events">
    <!-- <app-spinner *ngIf="scheduleService.calendarMiniStreamsLoading" [isFullOwner]="true"></app-spinner> -->
    <!-- <app-schedule-event
      *ngIf="!scheduleService.calendarMiniStreamsLoading && scheduleService.isShowCalendarMiniStreams()"
      [canEdit]="true"
      [streamDTOList]="scheduleService.calendarMiniStreams"
      (editStream)="doActionEdit($event)"
    ></app-schedule-event> -->
  </div>
</div>
<div class="sl-my-streams sl-flex-col" style="outline: 1px solid green;">
  <div class="sl-stream-box" style="outline: 1px solid rgb(5, 82, 5);">
    <div class="sl-title">
      {{ 'stream_list.my_future_streams' | translate }}
    </div>
    <app-spinner *ngIf="streamListService.futureStreamLoading" [isFullOwner]="true">
    </app-spinner>
    <app-panel-stream-mini
      [canDuplicate]="true"
      [canEdit]="true"
      [canDelete]="true"
      [isFuture]="true"
      [streamList]="streamListService.futureStreamsDto"
      (requestNextPage)="doRequestNextPageFuture($event)"
      redirectToStream9="doRedirectToStreamView($event)"
      actionDuplicate9="doActionDuplicate($event)"
      actionEdit9="doActionEdit($event)"
      actionDelete9="doActionDelete($event)"
    ></app-panel-stream-mini>
  </div>
  <div class="sl-stream-box" style="outline: 1px solid rgb(9, 104, 148);">
    <div class="sl-title">
      {{ 'stream_list.my_past_streams' | translate }}
    </div>
    <app-spinner *ngIf="streamListService.pastStreamLoading" [isFullOwner]="true">
    </app-spinner>
    <app-panel-stream-mini
      [canDuplicate]="true"
      [canDelete]="true"
      [streamList]="streamListService.pastStreamsDto"
      (requestNextPage)="doRequestNextPagePast($event)"
      (redirectToStream)="doRedirectToStreamView($event)"
      (actionDuplicate)="doActionDuplicate($event)"
      (actionDelete)="doActionDelete($event)"
    ></app-panel-stream-mini>
  </div>
</div>
