/*# sourceURL=stream-list.component.scss */

app-stream-list {
  display: flex;
  height: 100%;
  &>.sl-my-calendar { flex: 0 0 27%; max-width: 27%; }
  &>.sl-my-streams { flex: 0 0 72.99%;}

  .sl-pd-lf {
    padding-left: 1.3em;
    box-sizing: border-box;
  }
  .sl-title {
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: calc(1em + 1px);
    flex: 0 0 3.5em;
    &>span {
      font-size: 18px;
      font-style: normal;
      font-weight: bold;
    }
  }
  .sl-flex-col {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .sl-relative {
    position: relative;
  }

  // ** "My Calendar" **
  .sl-my-calendar {
    &>.sl-calendar { flex: 0 0 auto; }
    &>.sl-events { flex-grow: 1; overflow-y: hidden; }
  }

  .sl-events {
    display: flex;
    flex-direction: column;
  }
  .sl-event-label {
    font-weight: 500;
    height: 4em;
    line-height: 4em;
    padding-left: 5em;
  }
  .sl-event-list {
    height: calc(100% - 4em);
  }
  .sl-hide {
    display: none;
  }
  .sl-stream-box {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    overflow-y: hidden;
  }
}