<div class="sl-my-calendar sl-pd-lf sl-flex-col">

  <div class="sl-title">
    {{ 'stream_list.my_calendar' | translate }}
  </div>

  <div class="sl-calendar sl-relative">
    <app-spinner isFillParent *ngIf="streamCalendarService.calendarLoading">
    </app-spinner>
    <app-panel-stream-calendar
      [selected]="streamCalendarService.eventsOfDaySelected"
      [markedDates]="streamCalendarService.calendarMarkedDates"
      [minDate]="streamCalendarService.calendarMinDate"
      [maxDate]="streamCalendarService.calendarMaxDate"
      (changeSelected)="getListEventsForDate($event, 1)"
      (changeCalendar)="getCalendarInfoForPeriod($event)">
    </app-panel-stream-calendar>
  </div>

  <div class="sl-events sl-relative">
    <div class="sl-event-label">
      <span>{{ streamCalendarService.eventsOfDaySelected | date: formatDate }}</span>
    </div>
    <div class="sl-event-list">
      <app-spinner isFillParent *ngIf="streamCalendarService.eventsOfDayLoading">
      </app-spinner>
      <app-panel-stream-event
        [canEdit]="true"
        [streamShortDtoList]="streamCalendarService.eventsOfDay"
        (requestNextPage)="getListEventsForDate(streamCalendarService.eventsOfDaySelected, -1)"
        (editStream)="actionEdit($event)">
      </app-panel-stream-event>
    </div>
  </div>

</div>

<div class="sl-my-streams sl-flex-col">

  <div class="sl-stream-box sl-pd-lf sl-relative">
    <div class="sl-title">
      {{ 'stream_list.my_future_streams' | translate }}
    </div>

    <app-spinner isFillParent *ngIf="streamListService.futureStreamLoading">
    </app-spinner>
    <app-panel-stream-info
      [canDuplicate]="true"
      [canEdit]="true"
      [canDelete]="true"
      [isFuture]="true"
      [streamList]="streamListService.futureStreamsDto"
      (requestNextPage)="searchNextFutureStream()"
      (redirectToStream)="redirectToStreamView($event)"
      (actionDuplicate)="actionDuplicate($event)"
      (actionEdit)="actionEdit($event)"
      (actionDelete)="actionDelete($event)">
    </app-panel-stream-info>
  </div>

  <div class="sl-stream-box sl-pd-lf sl-relative">
    <div class="sl-title">
      {{ 'stream_list.my_past_streams' | translate }}
    </div>

    <app-spinner isFillParent *ngIf="streamListService.pastStreamLoading">
    </app-spinner>
    <app-panel-stream-info
      [canDuplicate]="true"
      [canDelete]="true"
      [streamList]="streamListService.pastStreamsDto"
      (requestNextPage)="searchNextPastStream()"
      (redirectToStream)="redirectToStreamView($event)"
      (actionDuplicate)="actionDuplicate($event)"
      (actionDelete)="actionDelete($event)">
    </app-panel-stream-info>
  </div>

</div>
