/*# sourceURL=stream-list.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;


app-stream-list {
  @media screen and (width <= dimensions.$mobile-480) {
    --sl-pd: 0.5em;
    --wd: 100%;
  }
  @media screen and (dimensions.$mobile-480 < width <= dimensions.$tablet-768) {
    --sl-pd: 1.5em;
    --wd: 30em;
  }
  @media screen and (dimensions.$tablet-768 < width <= dimensions.$laptop-1024) {
    --sl-pd: 2em;
    --wd: 32em; // !!
  }
  @media screen and (dimensions.$laptop-1024 < width <= dimensions.$desktop-1280) {
    --sl-pd: 2.5em;
    --wd: 34em;
  }
  @media screen and (dimensions.$desktop-1280 < width) {
    --sl-pd: 3em;
    --wd: 36em;
  }

  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: var(--sl-pd);
  &>.sl-my-calendar { flex: 0 0 min(27vw, 25em); }
  &>.sl-my-streams { flex: 0 0 calc(99.9vw - min(27vw, 25em) - var(--sl-pd) - var(--sl-pd));}

  .sl-my-streams {
    padding-left: var(--sl-pd);
    box-sizing: border-box;
  }
  .sl-title {
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: calc(1em + 1px);
    flex: 0 0 3.5em;
    margin-left: 1em;
    &>span {
      font-size: 18px;
      font-style: normal;
      font-weight: bold;
    }
  }
  .sl-flex-col {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .sl-relative {
    position: relative;
  }

  .sl-brd {
    border: 1px solid var(--app-pn-stream-low);
    border-radius: 1em;
  }

  // ** "My Calendar" **
  .sl-my-calendar {
    &>.sl-calendar { flex: 0 0 auto; }
    &>.sl-events { flex-grow: 1; overflow-y: hidden; }
  }

  .sl-calendar {
    display: flex;
    flex-direction: column;
  }
  .sl-events {
    display: flex;
    flex-direction: column;
  }
  .sl-event-label {
    &.sl-heavier {
      --sl-fn-wg: 500;
    }
    font-weight: var(--sl-fn-wg, lighter);
    height: 4em;
    line-height: 4em;
    padding-left: 5em;
  }
  .sl-event-list {
    height: calc(100% - 4em);
  }
  .sl-stream-box {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
    overflow-y: hidden;
  }
  .sl-hidden {
    visibility: hidden;
  }
}