<div class="sl-container global-scroll">
    
  <div class="sl-my-calendar">

    <div class="sl-calendar">
      <div class="sl-title">{{ 'stream_list.my_calendar' | translate }}</div>
      @if (streamCalendarService.calendarLoading) {
        <app-spinner isFillParent></app-spinner>
      }
      <app-panel-stream-calendar class="sl-pn-calendar"
        [selected]="streamCalendarService.eventsOfDaySelected"
        [markedDates]="streamCalendarService.calendarMarkedDates"
        [minDate]="streamCalendarService.calendarMinDate"
        [maxDate]="streamCalendarService.calendarMaxDate"
        (changeSelected)="getListEventsForDate($event, 1)"
        (changeCalendar)="getCalendarInfoForPeriod($event)">
      </app-panel-stream-calendar>
    </div>

    <div class="sl-indent"></div>

    <div class="sl-events">
      <div class="sl-event-label"
       [ngClass]="{ 'sl-heavier': streamCalendarService.isShowEvents(streamCalendarService.calendarMonth) }">
        <span>{{ streamCalendarService.eventsOfDaySelected | date: formatDate }}</span>
      </div>
      <div class="sl-event-list">
        @if (streamCalendarService.eventsOfDayLoading) {
          <app-spinner isFillParent></app-spinner>
        }
        <app-panel-stream-event
          [canEdit]="true"
          [streamShortDtoList]="streamCalendarService.eventsOfDay"
          (requestNextPage)="getListEventsForDate(streamCalendarService.eventsOfDaySelected, -1)"
          (editStream)="actionEdit($event)">
        </app-panel-stream-event>
      </div>
    </div>

  </div>

  <!-- <div class="sl-indent sl-indent-ord"></div> -->

  <div class="sl-my-streams">

    <div class="sl-stream-box">
      <div class="sl-title">{{ 'stream_list.my_future_streams' | translate }}</div>
      @if (streamListService.futureStreamLoading) {
        <app-spinner isFillParent></app-spinner>
      }
      <app-panel-stream-info
        [canDuplicate]="true"
        [canEdit]="true"
        [canDelete]="true"
        [isFuture]="true"
        [streamList]="streamListService.futureStreamsDto"
        (requestNextPage)="searchNextFutureStream()"
        (redirectToStream)="redirectToStreamView($event)"
        (actionDuplicate)="actionDuplicate($event)"
        (actionEdit)="actionEdit($event)"
        (actionDelete)="actionDelete($event)">
      </app-panel-stream-info>
    </div>

    <div class="sl-indent"></div>

    <div class="sl-stream-box">
      <div class="sl-title">{{ 'stream_list.my_past_streams' | translate }}</div>
      @if (streamListService.pastStreamLoading) {
        <app-spinner isFillParent></app-spinner>
      }
      <app-panel-stream-info
        [canDuplicate]="true"
        [canDelete]="true"
        [streamList]="streamListService.pastStreamsDto"
        (requestNextPage)="searchNextPastStream()"
        (redirectToStream)="redirectToStreamView($event)"
        (actionDuplicate)="actionDuplicate($event)"
        (actionDelete)="actionDelete($event)">
      </app-panel-stream-info>
    </div>

  </div>
</div>