<app-concept-view
  [avatar]="profileDto?.avatar"
  [blockedUsers]="blockedUsers"
  [chatIsEditable]="isStreamActive && chatSocketService.isJoined() && !chatSocketService.isBlocked()"
  [chatMaxRows]="chatMaxRows"
  [chatMinRows]="chatMinRows"
  [chatMsgs]="chatMsgs"
  [countOfViewer]="chatSocketService.countOfMembers"
  [isLoadChatMsg]="isLoadChatMsg"
  [isLoadStream]="isLoadStream"
  [isShowTimer]="isShowTimer"
  [isStreamOwner]="isStreamOwner"
  [nickname]="profileDto?.nickname"
  [streamDto]="streamDto"
  (changeState)="doChangeState(isStreamOwner, streamDto?.id, $event)"
  (blockUser)="doBlockUser($event)"
  (unblockUser)="doUnblockUser($event)"
  (sendMessage)="doSendMessage($event)"
  (editMessage)="doEditMessage($event)"
  (removeMessage)="doRemoveMessage($event)"
  (queryChatMsgs)="doQueryChatMsgs($event)">
</app-concept-view>