<app-concept-view
  [avatar]="profileDto?.avatar"
  [chatIsNotReady]="!socketChatService.isReady"
  [chatMaxRows]="chatMaxRows"
  [chatMinRows]="chatMinRows"
  chatMsgs9="chatMsgs"
  [countOfViewer]="socketChatService.countOfMembers$ | async"
  [isLoadStream]="isLoadStream"
  [isShowTimer]="isShowTimer"
  [isStreamOwner]="isStreamOwner"
  [nickname]="profileDto?.nickname"
  [streamDto]="streamDto"
  (changeState)="doChangeState(isStreamOwner, streamDto?.id, $event)"
  (sendMessage)="doSendMessage($event)"
  (editMessage)="doEditMessage($event)"
  (removeMessage)="doRemoveMessage($event)"
  (setRefreshChatMsgs)="doSetRefreshChatMsgs($event)">
</app-concept-view>