<app-concept-view
  [avatar]="profileDto?.avatar"
  [chatIsEditable]="isStreamActive && chatSocketService.isJoined()"
  [chatMaxRows]="chatMaxRows"
  [chatMinRows]="chatMinRows"
  [chatMsgs]="chatSocketService.chatMsgs"
  [countOfViewer]="chatSocketService.countOfMembers"
  [isLoadStream]="isLoadStream"
  [isShowTimer]="isShowTimer"
  [isStreamOwner]="isStreamOwner"
  [nickname]="profileDto?.nickname"
  [streamDto]="streamDto"
  (changeState)="doChangeState(isStreamOwner, streamDto?.id, $event)"
  (sendMessage)="doSendMessage($event)"
  (editMessage)="doEditMessage($event)"
  (removeMessage)="doRemoveMessage($event)">
</app-concept-view>