/*# sourceURL=field-nickname.component.scss */

app-field-nickname {
  display: block;

  &[wd100] {
    width: 100%;
  }
  mat-form-field {
    max-width: inherit;
    width: inherit;
  }
  .mat-mdc-form-field-subscript-wrapper {
    --mdc-typography-caption-line-height: 1.25;
  }
}
