/*# sourceURL=panel-stream-actions.component.scss */

app-panel-stream-actions {
    --mat-outlined-button-horizontal-padding: 0.7rem;

    display: flex;

    [psa-box-mr] {
        margin-right: 0.5rem;
        margin-top: 0.25rem;
    }

    [psa-mr-r0_25] {
        margin-right: 0.25rem;
    }

    .psa-ver-md {
        vertical-align: middle;
    }

    // ** icon **
    .psa-svg-sz {
        height: 1.75rem;
        width: 1.75rem;
    }

    .psa-scale {
        scale: 1.15;
    }
}