@if (isShowBntPrepare(state) || true) {
  <button mat-stroked-button psa-box-mr (click)="doChangeState(statePreparing)">
    <svg psa-mr-r0_25 class="psa-svg-sz psa-ver-md">
      <use href="assets/icons/lib-concept/panel-stream-actions/prepare-bin.svg#prepare-bin"></use>
    </svg>
    <span psa-mr-r0_25 class="psa-ver-md">{{ 'panel-stream-actions.prepare_stream' | translate }}</span>
  </button>
}

@if (isShowBntStart(state) || true) {
  <button mat-stroked-button psa-box-mr (click)="doChangeState(stateStarted)">
    <svg psa-mr-r0_25 class="psa-svg-sz psa-ver-md psa-scale">
      <use href="assets/icons/lib-concept/panel-stream-actions/play-bin.svg#play-bin"></use>
    </svg>
    <span psa-mr-r0_25 class="psa-ver-md">{{ 'panel-stream-actions.go_live_stream' | translate }}</span>
  </button>
}

@if (isShowBntPause(state) || true) {
  <button mat-stroked-button psa-box-mr (click)="doChangeState(statePaused)">
    <svg psa-mr-r0_25 class="psa-svg-sz psa-ver-md psa-scale">
      <use href="assets/icons/lib-concept/panel-stream-actions/pause-bin.svg#pause-bin"></use>
    </svg>
    <span psa-mr-r0_25 class="psa-ver-md">{{ 'panel-stream-actions.pause_stream' | translate }}</span>
  </button>
}

@if (isShowBtnStop(state) || true) {
  <button mat-stroked-button psa-box-mr (click)="doChangeState(stateStopped)">
    <svg psa-mr-r0_25 class="psa-svg-sz psa-ver-md psa-scale">
      <use href="assets/icons/lib-concept/panel-stream-actions/stop-bin.svg#stop-bin"></use>
    </svg>
    <span psa-mr-r0_25 class="psa-ver-md">{{ 'panel-stream-actions.stop_stream' | translate }}</span>
  </button>
}
