/*# sourceURL=panel-stream-actions.component.scss */

app-panel-stream-actions {
  --mdc-typography-button-font-size: 1em; // Font size for buttons.
  display: flex;

  .psa-prepare {
    padding-left: 0.25em;
  }
  .psa-play {
    padding-left: 0.25em;
  }
  .psa-pause {
    padding-left: 0.25em;
  }
  .psa-stop {
    margin-left: 0.5em;
    padding-left: 0.25em;
  }

  .psa-icon {
    background-color: currentColor;
    color: var(--psa-icon-cl);
    display: inline-block;
    mask-size: cover;
    vertical-align: middle;
    height: var(---psa-icon2-wd, var(--psa-icon-wd, 2em));
    width: var(---psa-icon2-wd, var(--psa-icon-wd, 2em));
  }
  .psa-icon.prepare { mask-image: url('/assets/icons/panel-stream-actions/prepare-bin.svg'); }
  .psa-icon.play { mask-image: url('/assets/icons/panel-stream-actions/play-bin.svg'); }
  .psa-icon.pause { mask-image: url('/assets/icons/panel-stream-actions/pause-bin.svg'); }
  .psa-icon.stop { mask-image: url('/assets/icons/panel-stream-actions/stop-bin.svg'); }
  
  .psa-icon.prepare {
    ---psa-icon2-wd: calc(0.75 * var(--psa-icon-wd, 2em));
    margin-left: 0.15em;
    margin-right: 0.25em;
  }
  .mat-mdc-outlined-button {
    --mdc-outlined-button-outline-color: rgba(0, 0, 0, 0.25);
  }

  .psa-vert {
    vertical-align: middle;  
  }
}
