/*# sourceURL=field-textarea.scss */

app-field-textarea {
    ---line-hg: 1lh;
    display: block;

    &[wd100] {
        width: 100%;
    }

    &[hg100] {
        height: 100%;
    }

    &[scroll-thin] textarea.ft-textarea {
        scrollbar-width: thin;
    }

    .mat-mdc-form-field .mat-mdc-text-field-wrapper textarea.ft-sizing {
        field-sizing: content;
    }

    textarea.ft-mn-hg {
        min-height: calc(var(---line-hg) * var(---mn-rows));
    }

    textarea.ft-mx-hg {
        max-height: calc(var(---line-hg) * var(---mx-rows));
    }

    &[ft-no-resize] textarea {
        resize: none;
    }

    &:not([ft-no-resize])textarea.ft-resize-none {
        resize: none;
    }

    &[ft-no-pd-hint-error] {

        .mat-mdc-form-field-hint-wrapper,
        .mat-mdc-form-field-error-wrapper {
            padding-left: 0;
            padding-right: 0;
        }
    }

    mat-form-field {
        max-width: inherit;
        width: inherit;
    }
}

@supports not(line-height: 1lh) {
    app-field-textarea {
        ---line-hg: 1.5rem;
        --is-not-unit-lh: 1;
    }
}

@supports not(field-sizing: content) {
    app-field-textarea {
        --is-not-fl-sizing: 1;
    }
}