/*# sourceURL=field-textarea.component.scss */

app-field-textarea {
    display: block;
    background-color: var(--ft-bg, var(---pc-itm-self-bg));

    &[wd100] {
        width: 100%;
    }

    &[hg100] {
        height: 100%;
    }

    &[is-suffix] .mat-mdc-text-field-wrapper {
        padding-right: 4px;
        // padding-left: 4px;
    }

    &[scroll-thin] {
        textarea.ft-textarea {
            scrollbar-width: thin;
        }
    }

    &[hide-error] .mat-mdc-form-field-error-wrapper {
        display: none;
    }

    mat-form-field {
        max-width: inherit;
        width: inherit;
    }
}

/*

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 0;
}
.mat-mdc-form-field-has-icon-prefix .mat-mdc-text-field-wrapper {
    padding-left: 0;
    --mat-mdc-form-field-label-offset-x: -16px;
}
    */