<mat-form-field [formGroup]="formGroup"
  [subscriptSizing]="subscriptSizing || ((formControl.touched && !!formControl.errors) || !!hint ? 'dynamic' : 'fixed')">

  @if (!!label) {
    <mat-label>{{ label | translate }}{{ !!isRequired ? " " : ""}}</mat-label>
  }
  <ng-content select="[ft-prefix]"></ng-content>

  @if (minRows!=null || maxRows!=null) {
    <textarea matInput class="ft-textarea global-scroll" mode2
      formControlName="textarea"
      autocomplete="new-password"
      autocapitalize="off"
      [required]="!!isRequired"
      [attr.maxlength]="maxLen != null && maxLen > 0 ? maxLen + 1 : undefined"
      [attr.spellcheck] ="!!isSpellcheck"
      cdkTextareaAutosize
      [cdkAutosizeMinRows]="minRows || 1"
      [cdkAutosizeMaxRows]="2 + (maxRows || 1)"
      (input)="onChange(formControl.value)"
    (blur)="onTouched()">
  </textarea>
  } @else {
    <textarea matInput class="ft-textarea global-scroll" mode1
      formControlName="textarea"
      autocomplete="new-password"
      autocapitalize="off"
      [required]="!!isRequired"
      [attr.maxlength]="maxLen != null && maxLen > 0 ? maxLen + 1 : undefined"
      [attr.spellcheck] ="!!isSpellcheck"
      [rows]="numRows"
      (input)="onChange(formControl.value)"
      (blur)="onTouched()">
    </textarea>
  }

  <ng-content select="[ft-suffix]"></ng-content>
  @if (!!hint) {
    <mat-hint>{{ hint | translate }}</mat-hint>
  }
  <mat-error>
    {{ (errorMsg || getErrorMsg(formControl.errors)) | translate: getErrorObj(formControl.errors, (!!label ? (label | translate) : "")) }}
  </mat-error>

</mat-form-field>
