/*# sourceURL=app.component.scss */

@import './app-screen-size.scss';
@import './app-panel-colors.scss';

app-root {
    --app-footer-hg: 1.75em;

    ---brd-wd: 1px;
    ---brd-cl: color-mix(in srgb, var(--sys-outline-variant) 70%, transparent);

    display: block;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
    // If the app-spinner is expanded to full screen, then "position: relative;" should only be present on the root element.
    position: relative;

    &>app-header {
        border-bottom: var(---brd-wd) solid var(---brd-cl);
        height: var(--app-header-hg);
    }

    &>app-footer {
        border-top: var(---brd-wd) solid var(---brd-cl);
        height: var(--app-footer-hg);
    }

    &>main {
        height: calc(100% - var(--app-header-hg) - var(--app-footer-hg) - 2 * var(---brd-wd));
    }


}