<header>
  <app-header [userInfo]="userService.userInfo"></app-header>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <span>{{ 'app_name' | translate }}</span>
</footer>

<section class="tmp-routes">
  <button routerLink="login">login</button>
  <button routerLink="signup">signup</button>
  <button routerLink="forgot-password">forgot</button>
  <span>
    <select
      #langSelect
      (change)="translate.use(langSelect.value)"
    >
      <option
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        [selected]="lang === translate.currentLang"
      >
        {{ lang }}
      </option>
    </select>
  </span>
</section>
