/*# sourceURL=app.component.scss */

@use '../styles-variables.scss' as variable;

app-root {
  --footer-hg: 20px;
  @media screen and (width <= variable.$mobile-480) {
    --header-hg: min(18vh, 80px);
  }
  @media screen and (variable.$mobile-480 < width <= variable.$tablet-768) {
    --header-hg: 74px;
  }
  @media screen and (variable.$tablet-768 < width <= variable.$laptop-1024) {
    --header-hg: 68px;
  }
  @media screen and (variable.$laptop-1024 < width <= variable.$desktop-1280) {
    --header-hg: 64px;
  }
  @media screen and (variable.$desktop-1280 < width) {
    --header-hg: 62px;
  }

  display: block;
  flex-direction: column;
  height: 100%;
  // If the app-spinner is expanded to full screen, then "position: relative;" should only be present on the root element.
  position: relative;

  & > header {
    height: var(--header-hg);
  }
  & > footer {
    height: var(--footer-hg);
  }
  & > main {
    height: calc(100% - var(--header-hg) - var(--footer-hg) - 1px);
    overflow-y: hidden;
  }
  // ** **
  --app-site-off-header-bg: var(--orange-100);
  --app-site-off-footer-bg: var(--orange-100);

  --app-site-footer-bg: var(--green-050);
  --app-site-header-bg: var(--green-050);
  --app-site-delimiter-cl: var(--green-100);
  --app-site-border-cl: var(--green-500);
  --app-site-border-warn-cl: var(--red-500);
  --app-pn-stream-bg: var(--powder-050);

  // ** temp **
  .tmp-routes {
    position: absolute;
    left: 60px;
    top: 43px;
  }
}
