/*# sourceURL=panel-signup.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-panel-signup {
  ---ps-width: calc(100% - 1vw + 1vw); // width in "px".
  ---ps-pn-bg: var(--app-signup-pn);
  ---ps-pn-brd: var(--app-signup-pn-low);

  ---ps-pd: calc(min(var(---ps-width), 1280px) / 1280 * 48);
  ---ps-wd: min(100vw, calc((26px + var(---ps-width) / 128) * 16));

  [ps-mr-tp-0_5] { margin-top: 0.5em; }
  [ps-mr-tp-1] { margin-top: 1.1em; }
  [ps-mr-lf-0_5] { margin-left: 0.5em; }

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  .ps-content {
    background-color: var(--ps-pn-bg, var(---ps-pn-bg));
    border-color: var(--ps-pn-brd, var(---ps-pn-brd));
    border-style: solid;
    border-width: 2px;
    border-radius: var(--ps-pn-brd-rd, var(---ps-pd));
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: calc(var(---ps-pd) / 2) var(---ps-pd);
    width: var(---ps-wd);
  }
  
  .ps-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
    box-sizing: border-box;
    margin-right: var(---ps-cont-hg);
  }

  .ps-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    text-align: center;
  }

  .ps-note {
    display: flex;
    justify-content: center;
  }
}
