<div class="lg-content">
  <form class="lg-form" novalidate
    [formGroup]="formGroup">

    <div class="lg-title">{{ 'login.title' | translate }}</div>
  
    <app-field-nickname wd100
      formControlName="nickname"
      [gist]="isEmail ? 'email' : 'nickname'"
      [isRequired]="true"
      label="login.email_or_nickname"
      [maxLen]="isEmail ? emailMaxLen : nicknameMaxLen"
      [minLen]="isEmail ? emailMinLen : nicknameMinLen"
      [pattern]="isEmail ? '' : nicknamePattern"
      [type]="isEmail ? 'email' : 'text'"
      (input)="changeType($event['target']);updateErrMsg();"
      (focusout)="nicknameFocusout()">
    </app-field-nickname>
  
    <app-field-password wd100 mr-tp-05
      formControlName="password"
      [isRequired]="true"
      (input)="updateErrMsg()">
    </app-field-password>
  
    <button type="button" mr-bt-05 mr-tp-05 mat-raised-button
      class="mat-primary"
      [disabled]="formGroup.invalid || isDisabledSubmit ? '' : undefined"
      (click)="doLogin()">
      {{ 'login.button_login' | translate }}
    </button>
  
    <ng-container *ngFor="let errMsg of errMsgList">
      <mat-error class="lg-err">{{ errMsg }}</mat-error>
    </ng-container>

  </form>
  <div class="lg-note">
    <a nodecor routerLink="{{linkSignup}}">{{ 'login.create_an_account' | translate }}</a>
    <a nodecor routerLink="{{linkForgotPassword}}">{{ 'login.forgot_password' | translate }}</a>
  </div>
</div>
  