<ng-container [formGroup]="formGroup">
  <mat-form-field
    appearance="outline"
    color="primary"
    [ngClass]="(isReadOnly ? 'fl-readonly' : '')">
    <mat-label>{{ label | translate }}</mat-label>
    <mat-select
      formControlName="locale"
      panelClass="fl-select"
      (openedChange)="doOpenedChange($event)"
      (selectionChange)="doSelectionChange($event.value)">
      <mat-select-trigger [ngClass]="(!formControl.value ? 'fl-fn-it' : '')">
        {{ ('locale.' + formControl.value) | translate }}
      </mat-select-trigger>
      <mat-option *ngFor="let localeItem of localeList"
        [ngClass]="(localeItem == '' ? 'fl-opt-fn-it' : '')"
        [value]="localeItem">
        {{ ('locale.' + localeItem) | translate }}
      </mat-option>
    </mat-select>
    <mat-hint>{{ hint | translate }}</mat-hint>
    <mat-error>{{ getErrorMsg(formControl.errors) | translate : formControl.errors }}</mat-error>
  </mat-form-field>
</ng-container>
