/*# sourceURL=main-menu.component.scss */

app-spinner {
  display: contents;
  height: 100%;

  .sp-back {
    background-color: grey;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1100;
  }

  .sp-front {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1101;
  }
}
