/*# sourceURL=panel-view-list.component.scss */

app-spinner {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    &.fill-parent {
        inset: 0 0 0 0;
        position: absolute;
        z-index: 1;
    }

    .sp-back {
        background-color: rgba(0, 0, 0, 0.32);
        bottom: 0;
        left: 0;
        opacity: 0.1;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1100;
    }

    .sp-front {
        align-items: center;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1101;
    }
}