# Example .env file

# -----------------------------------------------------------------------------
# RUST_LOG
# -----------------------------------------------------------------------------
# for release
# RUST_LOG=info,actix_web=info,actix_server=info,verbena_backend=info

# for debugging
L_COMM=info,actix_web=info,actix_server=info
L_MAIN=verbena_backend=debug
#L_DBASE=verbena_backend::dbase=info
L_USER=users::user_controller=debug
L_USER_AUTH=users::user_auth_controller=debug
L_AUTH=extractors::authentication=debug

RUST_LOG=${L_COMM},${L_MAIN},${L_DBASE},${L_USER},${L_USER_AUTH},${L_AUTH}

# -----------------------------------------------------------------------------
# Application properties
# -----------------------------------------------------------------------------
APP_HOST=127.0.0.1
# Takes values: "http" | "https". Default: "http".
#APP_PROTOCOL=http
APP_PROTOCOL=https
# Default: 80 - for the "http" protocol, 443 - for the "https" protocol.
#APP_PORT=8080
APP_PORT=8443
# Maximum number of seconds the results can be cached. (600 seconds  = 10 minutes)
APP_MAX_AGE=600
# Waiting time for registration confirmation (in seconds). (900 seconds = 15 minutes)
APP_REGISTR_DURATION=900
# Waiting time for password recovery confirmation (in seconds). (600 seconds  = 10 minutes)
APP_RECOVERY_DURATION=600
# Site name.
APP_NAME=Verbéna
# SSL certificate and private key (for the "https" protocol)
APP_CERTIFICATE=example.crt.pem
# SSL private key (for the "https" protocol)
APP_PRIVATE_KEY=example.key.pem
# Cors permissions "allowed_origin" (array of values, comma delimited). There should be no spaces.
# APP_ALLOWED_ORIGIN=
# Directory for temporary files when uploading user files.
APP_DIR_TMP=./tmp
# Number of worker services (this is the number of available physical CPU cores for parallel computing).
# By default, it is detected automatically.
# APP_NUM_WORKERS=5

# -----------------------------------------------------------------------------
# Database (PostgreSQL)
# -----------------------------------------------------------------------------
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=
DB_USER=
DB_PASSWORD=
# Don't worry about the placeholders. Rust supports this feature.
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}

# -----------------------------------------------------------------------------
# JSON Web Token Credentials
# -----------------------------------------------------------------------------
JWT_SECRET_KEY=jwt_secret_key
JWT_MAXAGE=60
#  15 minutes;
# Access token duration (in seconds). (900 seconds = 15 minutes)
JWT_ACCESS_TOKEN_DURATION=900
# Refresh token duration (in seconds). (345600 seconds = 4 days  60sec*60min*24hour*4days)
JWT_REFRESH_TOKEN_DURATION=345600

# -----------------------------------------------------------------------------
# SMTP
# -----------------------------------------------------------------------------
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SENDER=

# -----------------------------------------------------------------------------
# Stream Controller Settings
# -----------------------------------------------------------------------------
# A flag to display the execution time of methods. (default false)
STRM_SHOW_LEAD_TIME=false
# Directory for storing logo files.
STRM_LOGO_FILES_DIR=./logo
# Maximum size for logo files. (5MB=5242880)
STRM_LOGO_MAX_SIZE=5242880
# List of valid input mime types for logo files (comma delimited).
# Valid values: image/jpeg,image/gif,image/png,image/bmp
STRM_LOGO_VALID_TYPES=image/jpeg,image/gif,image/png,image/bmp

