/*# sourceURL=panel-stream-params.component.scss */

app-panel-stream-params {
    display: block;
    line-height: 1.7;

    [psp-mr-r0_5] {
        margin-right: 0.5rem;
    }

    .psp-param {
        display: flex;
        flex-wrap: wrap;
    }

    .psp-middle {
        vertical-align: middle;
    }

    .psp-clock {
        display: flex;
        align-items: center;
    }

    // ** icon **

    .psp-icon-users {
        color: var(--app-svg-icon-cl);
        height: 2.5rem;
        width: 2.5rem;
    }

    .psp-icon-clock {
        color: var(--app-svg-icon-cl);
        height: 2.25rem;
        width: 2.25rem;
    }

}