/*# sourceURL=panel-stream-params.component.scss */

app-panel-stream-params {
  display: block;

  .psp-title {
    max-width: 400px;
  }

  .psp-tags {

  }
  .psp-tag {
    background-color: rgb(224, 224, 224);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    cursor: default;
    margin-left: 0.5em;
    padding: 0.25em 0.75em;
  }

  // ** author **
  .psp-author {

  }
  .psp-author > img {
    border-radius: var(--hd-image-brd-rd, 0.3em);
    box-sizing: border-box;
    height: calc(var(--header-hg, 62px) - 4px);
    margin-left: 0.75em;
    object-fit: cover;
    width: calc(var(--header-hg, 62px) - 4px);
  }

  //.hd-profile-avatar {
  //  display: flex;
  //  align-items: center;
  //}
  img.hd-avatar {
    border-radius: var(--hd-image-brd-rd, 0.3em);
    box-sizing: border-box;
    height: calc(var(--header-hg, 62px) - 4px);
    margin-left: 0.75em;
    object-fit: cover;
    width: calc(var(--header-hg, 62px) - 4px);
  }

}
