<div class="psp-param">
    <span psp-mr-r0_5 class="psp-param-label">
        {{ (!started ? 'panel-stream-params.start' :'panel-stream-params.started') | translate }}
    </span>
    <span psp-mr-r0_5>{{ (started || start)  | dateTimeFormat:locale:formatDateTime }} </span>
</div>

<div class="psp-param">
    <span psp-mr-r0_5>
        <svg psp-mr-r0_5 class="psp-icon-users psp-middle">
            <use href="assets/icons/lib-concept/panel-stream-params/users-group-bin.svg#users-group-bin"></use>
        </svg>
        <span class="psp-middle">{{ countOfViewer || 0 }}</span>
    </span>
    @if (isShowTimer && (!!started || !!start)) {
        <span psp-mr-r0_5 class="psp-clock">
            <svg psp-mr-r0_5 class="psp-icon-clock">
                <use href="assets/icons/lib-concept/panel-stream-params/clock-5hours-bin.svg#clock-5hours-bin"></use>
            </svg>
            <app-date-time-timer
                [isActive]="true"
                [startDate]="started || start">
            </app-date-time-timer>
        </span>
    }
</div>
<div>
    <app-time-tracking style="outline: 1px dashed chocolate; margin-left: 108px;"
        [isActive]="true" isHideLeadingZero
        [labelDays]="labelDays"
        [locale]="locale"
        [startTime]="date1"
        >
    </app-time-tracking>
</div>
@if (!!stopped) {
  <div class="psp-param">
    <span psp-mr-r0_5 class="psp-param-label">{{ 'panel-stream-params.stopped' | translate }}</span>
    <span psp-mr-r0_5>{{ stopped | dateTimeFormat:locale:formatDateTime }} </span>
  </div>
}
