/*# sourceURL=date-time-timer2.component.scss */
app-date-time-timer:not([is-custom-animat]){
@keyframes anm-dtt-seconds{
0%{}
2.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min( 1, var(---m-sec)));}
3.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min( 2, var(---m-sec)));}
5.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min( 3, var(---m-sec)));}
7.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min( 4, var(---m-sec)));}
8.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min( 5, var(---m-sec)));}
10.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min( 6, var(---m-sec)));}
12.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min( 7, var(---m-sec)));}
13.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min( 8, var(---m-sec)));}
15.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min( 9, var(---m-sec)));}
17.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(10, var(---m-sec)));}
18.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(11, var(---m-sec)));}
20.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(12, var(---m-sec)));}
22.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(13, var(---m-sec)));}
23.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(14, var(---m-sec)));}
25.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(15, var(---m-sec)));}
27.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(16, var(---m-sec)));}
28.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(17, var(---m-sec)));}
30.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(18, var(---m-sec)));}
32.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(19, var(---m-sec)));}
33.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(20, var(---m-sec)));}
35.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(21, var(---m-sec)));}
37.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(22, var(---m-sec)));}
38.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(23, var(---m-sec)));}
40.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(24, var(---m-sec)));}
42.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(25, var(---m-sec)));}
43.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(26, var(---m-sec)));}
45.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(27, var(---m-sec)));}
47.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(28, var(---m-sec)));}
48.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(29, var(---m-sec)));}
50.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(30, var(---m-sec)));}
52.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(31, var(---m-sec)));}
53.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(32, var(---m-sec)));}
55.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(33, var(---m-sec)));}
57.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(34, var(---m-sec)));}
58.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(35, var(---m-sec)));}
60.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(36, var(---m-sec)));}
62.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(37, var(---m-sec)));}
63.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(38, var(---m-sec)));}
65.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(39, var(---m-sec)));}
67.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(40, var(---m-sec)));}
68.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(41, var(---m-sec)));}
70.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(42, var(---m-sec)));}
72.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(43, var(---m-sec)));}
73.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(44, var(---m-sec)));}
75.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(45, var(---m-sec)));}
77.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(46, var(---m-sec)));}
78.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(47, var(---m-sec)));}
80.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(48, var(---m-sec)));}
82.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(49, var(---m-sec)));}
83.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(50, var(---m-sec)));}
85.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(51, var(---m-sec)));}
87.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(52, var(---m-sec)));}
88.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(53, var(---m-sec)));}
90.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(54, var(---m-sec)));}
92.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(55, var(---m-sec)));}
93.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(56, var(---m-sec)));}
95.50%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(57, var(---m-sec)));}
97.17%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(58, var(---m-sec)));}
98.83%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(59, var(---m-sec)));}
100%{counter-set: dtt-s-cnr calc(var(---sec) + var(---inc) * min(59, var(---m-sec)));}
}
}