/*# sourceURL=date-time-timer.component.scss */

app-date-time-timer {
  display: block;
  letter-spacing: var(--dtt-letter-spacing, 0px);

  & > [dtt-box] {
    display: inline-flex;
    justify-content: var(--dtt-box-justify-content, flex-end);
    overflow: hidden;
    width: calc(2ch + 3 * var(--dtt-letter-spacing, 0px));
    outline: 1px dashed green;
  }
  & > [dtt-hr]::after {
    counter-reset: dtt-hours-cnr var(--dtt-hours);
    content: var(--dtt-leading-zero, '0') counter(dtt-hours-cnr);
  }
  & > [dtt-min]::after {
    counter-reset: dtt-minutes-cnr var(--dtt-minutes);
    content: var(--dtt-leading-zero, '0') counter(dtt-minutes-cnr);
  }
  & > [dtt-sec] {
    counter-reset: dtt-seconds-cnr var(--dtt-seconds);
  }
  
  &[is-active] {
    & > [dtt-sec][animat1]::before {
      content: var(--dtt-leading-zero, '0') counter(dtt-seconds-cnr);
      animation: anm-dtt-seconds1 20s linear 0s 1, anm-dtt-seconds2 20s linear 20s 1, anm-dtt-seconds3 20s linear 40s 1;
    }
    & > [dtt-sec][animat2]::after {
      content: var(--dtt-leading-zero, '0') counter(dtt-seconds-cnr);
      animation: anm-dtt-seconds1 20s linear 0s 1, anm-dtt-seconds2 20s linear 20s 1, anm-dtt-seconds3 20s linear 40s 1;
    }
  }

  @keyframes anm-dtt-seconds1 {
     0% { counter-increment: dtt-seconds-cnr  calc(0 * var(--dtt-trend, 1)); }   // 00    
     5% { counter-increment: dtt-seconds-cnr  calc(1 * var(--dtt-trend, 1)); }   // 01
    10% { counter-increment: dtt-seconds-cnr  calc(2 * var(--dtt-trend, 1)); }   // 02
    15% { counter-increment: dtt-seconds-cnr  calc(3 * var(--dtt-trend, 1)); }   // 03
    20% { counter-increment: dtt-seconds-cnr  calc(4 * var(--dtt-trend, 1)); }   // 04
    25% { counter-increment: dtt-seconds-cnr  calc(5 * var(--dtt-trend, 1)); }   // 05
    30% { counter-increment: dtt-seconds-cnr  calc(6 * var(--dtt-trend, 1)); }   // 06
    35% { counter-increment: dtt-seconds-cnr  calc(7 * var(--dtt-trend, 1)); }   // 07
    40% { counter-increment: dtt-seconds-cnr  calc(8 * var(--dtt-trend, 1)); }   // 08
    45% { counter-increment: dtt-seconds-cnr  calc(9 * var(--dtt-trend, 1)); }   // 09
    50% { counter-increment: dtt-seconds-cnr  calc(10 * var(--dtt-trend, 1)); }  // 10
    55% { counter-increment: dtt-seconds-cnr  calc(11 * var(--dtt-trend, 1)); }  // 11
    60% { counter-increment: dtt-seconds-cnr  calc(12 * var(--dtt-trend, 1)); }  // 12
    65% { counter-increment: dtt-seconds-cnr  calc(13 * var(--dtt-trend, 1)); }  // 13
    70% { counter-increment: dtt-seconds-cnr  calc(14 * var(--dtt-trend, 1)); }  // 14
    75% { counter-increment: dtt-seconds-cnr  calc(15 * var(--dtt-trend, 1)); }  // 15
    80% { counter-increment: dtt-seconds-cnr  calc(16 * var(--dtt-trend, 1)); }  // 16
    85% { counter-increment: dtt-seconds-cnr  calc(17 * var(--dtt-trend, 1)); }  // 17
    90% { counter-increment: dtt-seconds-cnr  calc(18 * var(--dtt-trend, 1)); }  // 18
    95% { counter-increment: dtt-seconds-cnr  calc(19 * var(--dtt-trend, 1)); }  // 19
    100% { counter-increment: dtt-seconds-cnr  calc(20 * var(--dtt-trend, 1)); } // 20
  }
  @keyframes anm-dtt-seconds2 {
    0% { counter-increment: dtt-seconds-cnr  calc(20 * var(--dtt-trend, 1)); }  // 20
    5% { counter-increment: dtt-seconds-cnr  calc(21 * var(--dtt-trend, 1)); }  // 21
   10% { counter-increment: dtt-seconds-cnr  calc(22 * var(--dtt-trend, 1)); }  // 22
   15% { counter-increment: dtt-seconds-cnr  calc(23 * var(--dtt-trend, 1)); }  // 23
   20% { counter-increment: dtt-seconds-cnr  calc(24 * var(--dtt-trend, 1)); }  // 24
   25% { counter-increment: dtt-seconds-cnr  calc(25 * var(--dtt-trend, 1)); }  // 25
   30% { counter-increment: dtt-seconds-cnr  calc(26 * var(--dtt-trend, 1)); }  // 26
   35% { counter-increment: dtt-seconds-cnr  calc(27 * var(--dtt-trend, 1)); }  // 27
   40% { counter-increment: dtt-seconds-cnr  calc(28 * var(--dtt-trend, 1)); }  // 28
   45% { counter-increment: dtt-seconds-cnr  calc(29 * var(--dtt-trend, 1)); }  // 29
   50% { counter-increment: dtt-seconds-cnr  calc(30 * var(--dtt-trend, 1)); }  // 30
   55% { counter-increment: dtt-seconds-cnr  calc(31 * var(--dtt-trend, 1)); }  // 31
   60% { counter-increment: dtt-seconds-cnr  calc(32 * var(--dtt-trend, 1)); }  // 32
   65% { counter-increment: dtt-seconds-cnr  calc(33 * var(--dtt-trend, 1)); }  // 33
   70% { counter-increment: dtt-seconds-cnr  calc(34 * var(--dtt-trend, 1)); }  // 34
   75% { counter-increment: dtt-seconds-cnr  calc(35 * var(--dtt-trend, 1)); }  // 35
   80% { counter-increment: dtt-seconds-cnr  calc(36 * var(--dtt-trend, 1)); }  // 36
   85% { counter-increment: dtt-seconds-cnr  calc(37 * var(--dtt-trend, 1)); }  // 37
   90% { counter-increment: dtt-seconds-cnr  calc(38 * var(--dtt-trend, 1)); }  // 38
   95% { counter-increment: dtt-seconds-cnr  calc(39 * var(--dtt-trend, 1)); }  // 39
   100% { counter-increment: dtt-seconds-cnr  calc(40 * var(--dtt-trend, 1)); } // 40
 }
 @keyframes anm-dtt-seconds3 {
    0% { counter-increment: dtt-seconds-cnr  calc(40 * var(--dtt-trend, 1)); }  // 40
    5% { counter-increment: dtt-seconds-cnr  calc(41 * var(--dtt-trend, 1)); }  // 41
   10% { counter-increment: dtt-seconds-cnr  calc(42 * var(--dtt-trend, 1)); }  // 42
   15% { counter-increment: dtt-seconds-cnr  calc(43 * var(--dtt-trend, 1)); }  // 43
   20% { counter-increment: dtt-seconds-cnr  calc(44 * var(--dtt-trend, 1)); }  // 44
   25% { counter-increment: dtt-seconds-cnr  calc(45 * var(--dtt-trend, 1)); }  // 45
   30% { counter-increment: dtt-seconds-cnr  calc(46 * var(--dtt-trend, 1)); }  // 46
   35% { counter-increment: dtt-seconds-cnr  calc(47 * var(--dtt-trend, 1)); }  // 47
   40% { counter-increment: dtt-seconds-cnr  calc(48 * var(--dtt-trend, 1)); }  // 48
   45% { counter-increment: dtt-seconds-cnr  calc(49 * var(--dtt-trend, 1)); }  // 49
   50% { counter-increment: dtt-seconds-cnr  calc(50 * var(--dtt-trend, 1)); }  // 50
   55% { counter-increment: dtt-seconds-cnr  calc(51 * var(--dtt-trend, 1)); }  // 51
   60% { counter-increment: dtt-seconds-cnr  calc(52 * var(--dtt-trend, 1)); }  // 52
   65% { counter-increment: dtt-seconds-cnr  calc(53 * var(--dtt-trend, 1)); }  // 53
   70% { counter-increment: dtt-seconds-cnr  calc(54 * var(--dtt-trend, 1)); }  // 54
   75% { counter-increment: dtt-seconds-cnr  calc(55 * var(--dtt-trend, 1)); }  // 55
   80% { counter-increment: dtt-seconds-cnr  calc(56 * var(--dtt-trend, 1)); }  // 56
   85% { counter-increment: dtt-seconds-cnr  calc(57 * var(--dtt-trend, 1)); }  // 57
   90% { counter-increment: dtt-seconds-cnr  calc(58 * var(--dtt-trend, 1)); }  // 58
   95% { counter-increment: dtt-seconds-cnr  calc(59 * var(--dtt-trend, 1)); }  // 59
   100% { counter-increment: dtt-seconds-cnr  -var(--dtt-seconds); }
 }

}
