/*# sourceURL=date-time-timer.component.scss */

app-date-time-timer {
    display: table;
    container: cnt-d-t-timer / inline-size;
    letter-spacing: var(--dtt-letter-spacing, 0px);

    .dtt-cover {
        display: inline-flex;
    }

    .dtt-jst-af::after {
        display: flex;
        justify-content: flex-end;
    }

    .dtt-jst-bf::before {
        display: flex;
        justify-content: flex-end;
    }

    .dtt-days {
        display: inline-block;
    }

    .dtt-days::after {
        counter-reset: dtt-days-cnr var(--dtt-days);
        content: counter(dtt-days-cnr);
    }

    .dtt-label-days {
        display: inline-block;
        padding: 0px 0.25em;
    }

    .dtt-box {
        display: inline-block;
        overflow: hidden;
        width: calc(2ch + 3 * var(--dtt-letter-spacing, 0px));
    }

    .dtt-hours::after {
        counter-reset: dtt-hours-cnr var(--dtt-hours);
        content: var(--dtt-leading-zero, '0') counter(dtt-hours-cnr);
    }

    .dtt-separator {
        display: inline-block;
        padding: 0px 0.25em;
    }

    .dtt-minutes::after {
        counter-reset: dtt-minutes-cnr var(--dtt-minutes);
        content: var(--dtt-leading-zero, '0') counter(dtt-minutes-cnr);
    }

    .dtt-seconds {
        counter-reset: dtt-s-cnr var(--dtt-sec);
    }

    &[is-active] {
        &[animat1] .dtt-seconds::before {
            content: var(--dtt-leading-zero, '0') counter(dtt-s-cnr);
            animation: anm-dtt-seconds 60s linear 0s 1;
        }

        &[animat2] .dtt-seconds::after {
            content: var(--dtt-leading-zero, '0') counter(dtt-s-cnr);
            animation: anm-dtt-seconds 60s linear 0s 1;
        }
    }

    &:not([is-active]) {
        .dtt-seconds::after {
            content: var(--dtt-leading-zero, '0') counter(dtt-s-cnr);
        }
    }

}