<div class="pp-container app-pn-bg">

  <div class="pp-content pp-first">

    <form novalidate class="pp-form" [formGroup]="formGroupProfile">

      <div class="pp-title">{{ 'panel-profile.title_profile' | translate }}</div>

      <app-field-image pp-mt-2 img-h14r
        formControlName="avatar"
        [accepts]="accepts"
        [hint]="('field-file-upload.supported_file_types' | translate : { 'validTypes': availableFileTypes })
          + ' ' + ('field-file-upload.upload_no_more_than' | translate : { 'maxFileSize': availableMaxFileSize })"
        label="panel-profile.label_avatar"
        [maxSize]="maxSize"
        (addFile)="updateErrMsgObjsProfile();addAvatarFile($event);"
        (deleteFile)="updateErrMsgObjsProfile();deleteAvatarFile();">
      </app-field-image>


      <app-uniqueness-check pp-mt-4 #uniquenessCheckNickname="appUniquenessCheck"
        [debounceDelay]="debounceDelay"
        [checkUniqueFn]="checkUniqueNickname">
        <app-field-input wd100 #fieldNickname
          type="text"
          formControlName="nickname"
          hint="panel-profile.nickname_hint"
          [isRequired]="true"
          kind="nickname"
          label="panel-profile.nickname_label"
          [maxLen]="cn_nickname.maxLength"
          [minLen]="cn_nickname.minLength"
          [pattern]="cn_nickname.pattern"
          [errorMsg]="uniquenessCheckNickname.isUniquenessError ? '409.nickname_already_use' : undefined"
          (input)="updateErrMsgObjsProfile();
            uniquenessCheckNickname.checkParameter(cntlsProfile.nickname.value);">
        </app-field-input>
      </app-uniqueness-check>

      <app-uniqueness-check pp-mt-4 #uniquenessCheckEmail="appUniquenessCheck"
        [debounceDelay]="debounceDelay"
        [checkUniqueFn]="checkUniqueEmail">
        <app-field-input wd100 #fieldEmail class="pp-err-pd"
          type="email"
          formControlName="email"
          [isRequired]="true"
          kind="email"
          label="panel-profile.email_label"
          [maxLen]="cn_email.maxLength"
          [minLen]="cn_email.minLength"
          [errorMsg]="uniquenessCheckEmail.isUniquenessError ? '409.email_already_use' : undefined"
          (input)="updateErrMsgObjsProfile();
            uniquenessCheckEmail.checkParameter(cntlsProfile.email.value);">
        </app-field-input>
      </app-uniqueness-check>

      <div pp-mt-4 class="pp-theme-locale">
        <app-field-color-theme wd100 class="pp-theme"
          formControlName="theme"
          kind="theme"
          label="panel-profile.color-theme_label"
          (change)="updateErrMsgObjsProfile();">
        </app-field-color-theme>
        <app-field-locale wd100 class="pp-locale"
          formControlName="locale"
          kind="locale"
          label="panel-profile.locale_label"
          (change)="updateErrMsgObjsProfile();">
        </app-field-locale>
      </div>

      <app-field-textarea wd100 pp-mt-4 class="pp-err-pd"
        formControlName="descript"
        [isRequired]="false"
        kind="descript"
        label="panel-profile.descript"
        [maxLen]="cn_descript.maxLength"
        [minLen]="cn_descript.minLength"
        [numRows]="cn_descript.numRows"
        (input)="updateErrMsgObjsProfile();">
      </app-field-textarea>

      <div pp-mt-4 class="pp-actions">
        <button matButton="elevated" class="pp-btn-save stl-btn-brd"
          [disabled]="formGroupProfile.pristine || formGroupProfile.invalid || isDisabledSubmit"
          (click)="saveProfile(formGroupProfile)">
          <svg class="pp-svg-diskette-bin">
            <use href="./lib-pg-profile/panel-profile/diskette-bin.svg#diskette-bin"></use>
          </svg>
          <span>{{ 'panel-profile.btn_save_profile' | translate }}</span>
        </button>
      </div>
    </form>

    <div class="mat-mdc-form-field-subscript-wrapper">
      @for (errMsgObjProfile of errMsgObjsProfile; track errMsgObjProfile.msg) {        
        <mat-error>{{ errMsgObjProfile.msg | translate: errMsgObjProfile.obj }}</mat-error>
      }  
    </div>
  </div>

  <div class="pp-content">
    <form novalidate class="pp-form" [formGroup]="formGroupPassword">

      <div class="pp-title">{{ 'panel-profile.title_change_password' | translate }}</div>

      <app-field-password wd100 pp-mt-2
        formControlName="password"
        hint="panel-profile.password_hint"
        [isRequired]="isRequiredPassword"
        label="panel-profile.current_password"
        [maxLen]="cn_password.maxLength"
        [minLen]="cn_password.minLength"
        [pattern]="cn_password.pattern"
        (input)="updateErrMsgObjsPassword();
          statePassword(cntlsPassword.password.value);
          checkPassword(formGroupPassword);">
      </app-field-password>

      <app-field-password wd100 pp-mt-4
        formControlName="new_password"
        hint="panel-profile.password_hint"
        [isRequired]="isRequiredPassword"
        label="panel-profile.new_password"
        [maxLen]="cn_password.maxLength"
        [minLen]="cn_password.minLength"
        [pattern]="cn_password.pattern"
        (input)="updateErrMsgObjsPassword();
          statePassword(cntlsPassword.password.value || cntlsPassword.new_password.value);
          checkPassword(formGroupPassword);">
      </app-field-password>

      <div pp-mt-4 class="pp-actions">
        <button matButton="elevated" class="stl-btn-brd"
          [disabled]="formGroupPassword.pristine || formGroupPassword.invalid || isDisabledSubmit"
          (click)="setNewPassword(formGroupPassword)">
          <span>{{ 'panel-profile.btn_set_password' | translate }}</span>
        </button>
      </div>
    </form>

    <div class="mat-mdc-form-field-subscript-wrapper">
      @for (errMsgObjPassword of errMsgObjsPassword; track errMsgObjPassword.msg) {        
        <mat-error>{{ errMsgObjPassword.msg | translate: errMsgObjPassword.obj }}</mat-error>
      }  
    </div>
  </div>

  <div class="pp-content">
    <div class="pp-form">

      <div class="pp-title">{{ 'panel-profile.title_delete_account' | translate }}</div>
      <div pp-mt-2>
        <span>{{ 'panel-profile.note_before_deleting_account' | translate }}</span>
      </div>

      <div pp-mt-4 class="pp-actions">
        <button matButton="elevated" class="stl-btn-brd"
          [disabled]="isDisabledSubmit"
          (click)="removeAccount()">
          <span>{{ 'panel-profile.btn_delete_account' | translate }}</span>
        </button>
      </div>
    </div>

    <div class="mat-mdc-form-field-subscript-wrapper">
      @for (errMsgObjAccount of errMsgObjsAccount; track errMsgObjAccount) {
        <mat-error>{{ errMsgObjAccount.msg | translate: errMsgObjAccount.obj }}</mat-error>
      }
    </div>
  </div>

</div>
