/*# sourceURL=panel-banned-users.component.scss */

app-panel-banned-users {
    ---pbu-brd-cl: var(--pbu-brd-cl, var(--sys-outline-variant));
    ---pbu-brd-sz: var(--pbu-brd-sz, thin); // thin-1px, medium-3px, thick-5px
    ---pbu-hdr-bg: var(--pbu--hdr-bg, var(--sys-surface-container-highest));

    container: cnt-pn-bn-us / inline-size;
    display: flex;
    flex-direction: column;
    height: 100%;

    [pbu-wrap] {
        overflow-wrap: anywhere;
    }

    [pbu-italic] {
        font-style: italic;
    }

    // ** Header **

    .pbu-header {
        flex-shrink: 0;
        font-size: var(--pbu-hdr-fn-sz, 1rem);
        text-align: center;
    }

    .pbu-hdr-pd {
        padding: 0.4rem 0.5rem;
    }

    .pbu-item-hdr {
        background-color: var(---pbu-hdr-bg);
        border-radius: 0.5rem;
        min-height: 2.5rem;
        margin: 0 0.25rem;
    }

    .pbu-sort {
        align-items: center;
        box-sizing: border-box;
        cursor: ns-resize;
        display: flex;
        margin: 0 0.25rem;
    }

    .pbu-ord {
        font-size: calc(1rem * 1.4);
        height: 2rem;
        width: 2rem;
        text-align: center;
    }

    // ** separator **

    .pbu-sepr {
        border-top: var(---pbu-brd-sz) solid var(---pbu-brd-cl, initial);
    }

    // ** Middle **

    .pbu-middle {
        font-size: var(--pbu-mdl-fn-sz, 1rem);
        height: 100%;
        overflow-y: auto;
        width: 100%;
    }

    ---pbu-itm-grid-tmp-col: 6.5rem 1fr 1fr 12rem 9rem;
    ---pbu-cell1-column: 1 / 2;
    ---pbu-cell1-row: 1 / 2;
    ---pbu-cell2-column: 2 / 3;
    ---pbu-cell2-row: 1 / 2;
    ---pbu-cell3-column: 3 / 4;
    ---pbu-cell3-row: 1 / 2;
    ---pbu-cell4-column: 4 / 5;
    ---pbu-cell4-row: 1 / 2;
    ---pbu-cell5-column: 5 / 6;
    ---pbu-cell5-row: 1 / 2;

    @container cnt-pn-bn-us (740px < width) and (width <=960px) {
        .pbu-item {
            ---pbu-itm-grid-tmp-col: 6.5rem 1.5fr 12rem 9rem;
            ---pbu-cell1-column: 1 / 2;
            ---pbu-cell1-row: 1 / 3;
            ---pbu-cell2-column: 2 / 3;
            ---pbu-cell2-row: 1 / 2;
            ---pbu-cell3-column: 2 / 3;
            ---pbu-cell3-row: 2 / 3;
            ---pbu-cell4-column: 3 / 4;
            ---pbu-cell4-row: 1 / 3;
            ---pbu-cell5-column: 4 / 5;
            ---pbu-cell5-row: 1 / 3;
        }
    }

    @container cnt-pn-bn-us (680px < width) and (width <=740px) {
        .pbu-item {
            ---pbu-itm-grid-tmp-col: 6.5rem 1fr 1fr;
            ---pbu-cell1-column: 1 / 2;
            ---pbu-cell1-row: 1 / 3;
            ---pbu-cell2-column: 2 / 3;
            ---pbu-cell2-row: 1 / 2;
            ---pbu-cell3-column: 2 / 3;
            ---pbu-cell3-row: 2 / 3;
            ---pbu-cell4-column: 3 / 4;
            ---pbu-cell4-row: 1 / 2;
            ---pbu-cell5-column: 3 / 4;
            ---pbu-cell5-row: 2 / 3;
        }
    }

    @container cnt-pn-bn-us (450px < width) and (width <=680px) {
        .pbu-item {
            ---pbu-itm-grid-tmp-col: 6.5rem 1fr;
            ---pbu-cell1-column: 1 / 2;
            ---pbu-cell1-row: 1 / 3;
            ---pbu-cell2-column: 2 / 3;
            ---pbu-cell2-row: 1 / 2;
            ---pbu-cell3-column: 2 / 3;
            ---pbu-cell3-row: 2 / 3;
            ---pbu-cell4-column: 2 / 3;
            ---pbu-cell4-row: 3 / 4;
            ---pbu-cell5-column: 2 / 3;
            ---pbu-cell5-row: 4 / 5;
            ---pbu-item-act-mr-bt: 0.25rem;
        }
    }

    @container cnt-pn-bn-us (width <=450px) {
        .pbu-item {
            ---pbu-itm-grid-tmp-col: 1fr;
            ---pbu-cell1-column: 1 / 2;
            ---pbu-cell1-row: 1 / 2;
            ---pbu-cell2-column: 1 / 3;
            ---pbu-cell2-row: 2 / 3;
            ---pbu-cell3-column: 1 / 3;
            ---pbu-cell3-row: 3 / 4;
            ---pbu-cell4-column: 1 / 3;
            ---pbu-cell4-row: 4 / 5;
            ---pbu-cell5-column: 2 / 3;
            ---pbu-cell5-row: 1 / 2;
            ---pbu-item-date-mr-bt: 0.25rem;
        }
    }

    .pbu-item {
        align-items: center;
        box-sizing: border-box;
        column-gap: 0.5rem;
        display: grid;
        grid-template-columns: var(---pbu-itm-grid-tmp-col);
        padding: var(--pbu-itm-pd, 0.1rem 0.3rem);
        row-gap: 0.5rem;
    }

    .pbu-cell1 {
        grid-column: var(---pbu-cell1-column);
        grid-row: var(---pbu-cell1-row);
    }

    .pbu-cell2 {
        grid-column: var(---pbu-cell2-column);
        grid-row: var(---pbu-cell2-row);
    }

    .pbu-cell3 {
        grid-column: var(---pbu-cell3-column);
        grid-row: var(---pbu-cell3-row);
    }

    .pbu-cell4 {
        grid-column: var(---pbu-cell4-column);
        grid-row: var(---pbu-cell4-row);
    }

    .pbu-cell5 {
        grid-column: var(---pbu-cell5-column);
        grid-row: var(---pbu-cell5-row);
    }

    .pbu-item-avatar {
        --av-brd-rd: 0.5rem;
        --av-brd-cl: var(--avatar-brd-cl, var(---pbu-brd-cl));
        --av-hg: 5rem;
        --av-wd: auto;
    }

    .pbu-item-date {
        column-gap: 0.25rem;
        display: flex;
        flex-wrap: wrap;
        font-size: var(--pbu-date-fn-sz, inherit);
        margin-bottom: var(---pbu-item-date-mr-bt);
        min-width: var(--pbu-date-mn-wd, 6rem);
        word-wrap: break-word;
    }

    .pbu-item-action {
        margin-bottom: var(---pbu-item-act-mr-bt);
        text-align: center;
    }

}