
<div [ngClass]="['pbu-header', (!!title ? 'pbu-hdr-pd' : '')]">
    <div class="pbu-label" >{{ !!title ? (title | translate) : '' }}</div>
</div>

<ng-template #templDesc let-dsc="desc">
    {{ dsc ? '&#8675;' : '&#8673;' }}
</ng-template> 

<div class="pbu-middle global-scroll">

    <div class="pbu-item pbu-item-hdr">
        <div class="pbu-cell1"></div>
        <div wrap class="pbu-cell2 pbu-sort" (click)="doSort(colNickname, sortColumn, !!sortDesc)">
            <i><span>{{ 'panel-banned-users.nickname' | translate }}</span></i>
            <span class="pbu-ord">
                @if (sortColumn == colNickname) {
                    <ng-container  [ngTemplateOutlet]="templDesc" [ngTemplateOutletContext]="{desc: sortDesc}" />
                }
            </span>
        </div>
        <div wrap class="pbu-item-email pbu-cell3 pbu-sort" (click)="doSort(colEmail, sortColumn, !!sortDesc)">
            <i><span>{{ 'panel-banned-users.email' | translate }}</span></i>
            <span class="pbu-ord">
                @if (sortColumn == colEmail) {
                    <ng-container  [ngTemplateOutlet]="templDesc" [ngTemplateOutletContext]="{desc: sortDesc}" />
                }
            </span>
        </div>
        <div class="pbu-item-date pbu-cell4 pbu-sort" (click)="doSort(colBlockDate, sortColumn, !!sortDesc)">
            <i><span>{{ 'panel-banned-users.date_blocking' | translate }}</span></i>
            <span class="pbu-ord">
                @if (sortColumn == colBlockDate) {
                    <ng-container  [ngTemplateOutlet]="templDesc" [ngTemplateOutletContext]="{desc: sortDesc}" />
                }
            </span>
        </div>
        <div class="pbu-cell5"></div>
    </div>

    @for (blockedUser of blockedUsers; track blockedUser.id) {
        <div class="pbu-item">
            <app-avatar av-mx-wd-1_25-hg class="pbu-item-avatar pbu-cell1"
                [avatar]="blockedUser.avatar">
            </app-avatar>
            <div wrap class="pbu-cell2">
                <span>{{ (blockedUser.userId % 2 != 0 ? 'demo02_' : '') + blockedUser.nickname }}</span>
            </div>
            <div wrap class="pbu-cell3">
                <span>{{ (blockedUser.userId % 2 == 0 ? 'test01_' : '') + blockedUser.email }}</span>
            </div>
            <div class="pbu-item-date pbu-cell4">
                <span>{{ blockedUser.blockDate | dateTimeFormat:locale:formatDate }}</span>
                <span>{{ blockedUser.blockDate | dateTimeFormat:locale:formatTime }}</span>
            </div>
            <div class="pbu-item-action pbu-cell5">
                <button mat-stroked-button class="mat-primary" (click)="doUnblockUser(blockedUser.nickname)">
                    {{ 'panel-banned-users.unblock_user' | translate }}
                </button>
            </div>
        </div>
        <div class="pbu-sepr"></div>
    }
</div>