/*# sourceURL=sidebar.component.scss */

app-sidebar {
    ---sb-pnl-bg: var(--sb-bg, var(--sys-background));
    ---sb-mx-wd: var(--sb-mx-wd, 150px);
    ---sb-mn-wd: var(--sb-mn-wd, 50px);
    ---sb-durat: var(--sb-durat, 1s);

    display: block;
    height: 100%;
    max-width: var(---sb-mx-wd);
    min-width: var(---sb-mn-wd);
    padding: var(--sb-pd);
    position: relative;

    &[is-open] {
        ---sb-pnl-wd: var(---sb-mx-wd);
        ---sb-hst-wd: var(---sb-mx-wd);
    }

    &:not([is-open]) {
        ---sb-pnl-wd: var(---sb-mn-wd);
        ---sb-hst-wd: var(---sb-mn-wd);
    }

    &[is-over] {
        ---sb-ovr-wd: var(---sb-mn-wd);
        ---sb-panel-pos: absolute;
    }

    &[is-left] {
        ---sb-pnl-lf: 0;
    }

    &[is-right] {
        ---sb-pnl-rg: 0;
    }

    .sb-panel {
        background-color: var(---sb-pnl-bg);
        height: 100%;
        left: var(---sb-pnl-lf);
        position: var(---sb-panel-pos);
        transition-duration: var(---sb-durat);
        transition-property: width;
        width: var(---sb-pnl-wd);
        right: var(---sb-pnl-rg);
    }

    .sb-panel-box {
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .sb-panel-cont {
        height: 100%;
        left: var(---sb-pnl-rg);
        position: absolute;
        width: var(---sb-mx-wd);
        right: var(---sb-pnl-lf);
    }
}