/*# sourceURL=sidebar.component.scss */

app-sidebar {
    display: block;
    height: 100%;
    overflow: var(--sb-ov-fl, hidden);
    max-width: var(--sb-mx-wd, 150px);
    min-width: var(--sb-mn-wd, 0px);
    padding: var(--sb-pd);

    transition-duration: var(--sb-durat);
    transition-property: width, padding-left;

    &[is-above-parent] {
        position: relative;
    }

    &:not([is-above-parent]) {}


    &[is-open] {
        width: var(--sb-mx-wd, 150px);
    }

    &:not([is-open]) {
        width: var(--sb-mn-wd, 150px);
    }

}