/*# sourceURL=sidebar.component.scss */

app-sidebar {
    display: block;
    height: 100%;
    overflow: var(--sb-ov-fl, hidden);
    max-width: var(--sb-mx-wd, 150px);
    min-width: var(--sb-mn-wd, 0px);
    padding: var(--sb-pd);
    transition-duration: var(--sb-durat);
    transition-property: width, padding-left;

    &[is-open] {
        width: var(--sb-mx-wd, 150px);
    }

    &:not([is-open]) {
        width: var(--sb-mn-wd, 150px);
    }

    &.sb-relative {
        position: relative;
    }

    .sb-veil {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }

}