/*# sourceURL=sidebar.component.scss */

app-sidebar {
    ---sb-mx-wd: var(--sb-mx-wd, 150px);
    ---sb-mn-wd: var(--sb-mn-wd, 50px);
    ---sb-durat: var(--sb-durat, 1s);

    display: block;
    height: 100%;
    // overflow: var(--sb-ov-fl, hidden);
    max-width: var(---sb-mx-wd);
    min-width: var(---sb-mn-wd);
    padding: var(--sb-pd);
    position: relative; //var(---sb-pos);
    z-index: 1;

    &[is-open] {
        ---sb-wd: var(---sb-mx-wd);
    }

    &:not([is-open]) {
        ---sb-wd: var(---sb-mn-wd);
    }

    &[is-over] {
        // ---sb-over-wd: var(---sb-mx-wd);
        // ---sb-pos: relative;
        ---sb-panel-pos: absolute;
        outline: 1px dashed brown;
    }

    &[is-left] {
        ---sb-pnl-lf: 0;
    }

    &[is-right] {
        ---sb-pnl-rg: 0;
    }

    .sb-panel {
        background-color: var(--sb-bg);
        height: 100%;
        left: var(---sb-pnl-lf);
        position: var(---sb-panel-pos);
        transition-duration: var(---sb-durat);
        transition-property: width;
        width: var(---sb-wd);
        right: var(---sb-pnl-rg); // 0
    }

    .sb-panel-box {
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .sb-panel-cont {
        height: 100%;
        left: var(---sb-pnl-rg); // 0;
        position: absolute;
        width: var(---sb-mx-wd);
        right: var(---sb-pnl-lf);
    }
}