/*# sourceURL=panel-profile-info.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-panel-profile-info {
  ---ppi-pn-bg: var(--app-pn-profile);
  ---ppi-pn-brd: var(--app-pn-profile-low);

  @media screen and (width <= dimensions.$mobile-480) {
    ---ppi-crd-wd: 100vw;
    ---ppi-pd: 0.5em;
    ---ppi-wd: 100%;
  }
  @media screen and (dimensions.$mobile-480 < width <= dimensions.$tablet-768) {
    ---ppi-crd-wd: 100vw;
    ---ppi-pd: 1em;
    ---ppi-wd: 39em; // 30em;
  }
  @media screen and (dimensions.$tablet-768 < width <= dimensions.$laptop-1024) {
    ---ppi-crd-wd: 80vw;
    ---ppi-pd: 1.5em;
    ---ppi-wd: 41em; // 32em;
  }
  @media screen and (dimensions.$laptop-1024 < width <= dimensions.$desktop-1280) {
    ---ppi-crd-wd: 60vw;
    ---ppi-pd: 2em;
    ---ppi-wd: 43em; //34em;
  }
  @media screen and (dimensions.$desktop-1280 < width) {
    ---ppi-crd-wd: 40vw;
    ---ppi-pd: 2.5em;
    ---ppi-wd: 45em; //36em;
  }

  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: var(---ppi-pd) 0;
  user-select: none;

  [mr-bt-0_5] { margin-bottom: 0.5em; }
  [mr-tp-0_5] { margin-top: 0.5em; }
  [mr-tp-1] { margin-top: 1em; }
  [mr-tp-1_5] { margin-top: 1.5em; }
  [wd-100] { width: 100%; }
  [hg-100] { height: 100%; }

  .ppi-panel {
    background-color:  var(--ppi-pn-bg,var(---ppi-pn-bg));
    border-color: var(--ppi-pn-brd, var(---ppi-pn-brd));
    border-style: solid;
    border-width: 1px;
    border-radius: var(--ppi-pn-brd-rd, var(---ppi-pd));
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(---ppi-pd) 0;
    width: var(---ppi-wd);
  }
  .ppi-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 var(---ppi-pd);
  }
  .ppi-over-auto {
    overflow: auto;
  }

  .ppi-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    text-align: center;
  }

  .ppi-avatar {
    border-color: var(--pse-logo-brd-cl, rgba(0, 0, 0, 0.38));
    border-style: solid;
    border-width: 1px;
    border-radius: var(--pse-logo-brd-rd, 0.3em);
    box-sizing: border-box;
    height: 10em;
    text-align: center;
  }
  .ppi-avatar-image {
    height: 100%;
    display: inline-block;
    position: relative;
  }
  .ppi-avatar-view {
    height: 100%;
    border-radius: 0.5em;
  }
  .ppi-delete-logo {
    position: absolute;
    right: -2.5vw;
    width: 20px;
    height: 22px;
    top: 0;
    background-color: transparent;
    border: none;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  // ** Card Actions **

  .ppi-actions {
    display: flex;
    justify-content: space-evenly;
    padding-left: var(---ppi-pd);
    padding-right: var(---ppi-pd);
  }
  .ppi-actions-label {
    display: flex;
    align-items: center;
  }

  .mat-mdc-raised-button.ppi-cancel {
    --mdc-protected-button-container-color: #DCDCDC; // #FFDAB9 #D2B48C #fff;
    --mdc-protected-button-label-text-color: #000;
  }

  .ppi-delete-box {
    width: 14px;
    height: 18px;
    display: inline-block;
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/delete-box.svg');
  }
  .ppi-save {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/save-file.svg');
    margin-right: 0.5em;
  }
}
