<div class="ppi-panel">
  
  <div class="ppi-content">
    <div class="ppi-title">{{ 'profile.title_profile' | translate }}</div>
    
    <form [formGroup]="formGroup1" class="ppi-form" novalidate>

      <app-field-image-and-upload mr-tp-1 class="ppi-avatar"
        formControlName="avatar"
        [maxSize]="maxSize"
        [validTypes]="validTypes"
        (addFile)="addAvatarFile($event)"
        (deleteFile)="deleteAvatarFile()">
      </app-field-image-and-upload>

      <app-uniqueness-check mr-tp-1
        #uniquenessCheckNickname="appUniquenessCheck"
        [debounceDelay]="debounceDelay"
        [checkUniquenessFn]="checkUniquenessNickname">
        <app-field-nickname wd100
          formControlName="nickname"
          [isRequired]="true"
          label="field-nickname.label"
          hint="field-nickname.nickname_hint"
          [errorMsg]="uniquenessCheckNickname.isUniquenessError ? 'Conflict.nickname_already_use' : undefined"
          (input)="updateErrMsgsProfile(); uniquenessCheckNickname.checkParameter(controls1.nickname.value);">
        </app-field-nickname>
      </app-uniqueness-check>

      <app-uniqueness-check mr-tp-1_5
        #uniquenessCheckEmail="appUniquenessCheck"
        [debounceDelay]="debounceDelay"
        [checkUniquenessFn]="checkUniquenessEmail">
        <app-field-email wd100 
          formControlName="email"
          [isRequired]="true"
          label="field-email.label"
          [errorMsg]="uniquenessCheckEmail.isUniquenessError ? 'Conflict.email_already_use' : undefined"
          (input)="updateErrMsgsProfile(); uniquenessCheckEmail.checkParameter(controls1.email.value);">
        </app-field-email>
      </app-uniqueness-check>
        
      <app-field-descript wd100 mr-tp-1_5
        formControlName="descript"
        [isRequired]="false"
        label="stream_edit.descript">
      </app-field-descript>
      
      <div class="ppi-actions">
        <button mat-raised-button color="primary"
          class="app-infix app-ordinary"
          [disabled]="formGroup1.pristine || formGroup1.invalid"
          (click)="saveProfile()">
          <span class="ppi-actions-label">
            <i class="ppi-save"></i>
            {{ 'profile.btn_save_profile' | translate }}
          </span>
        </button>
      </div>
    </form>

    <ng-container *ngFor="let errMsg of errMsgsProfile">
      <mat-error class="ppi-err">{{ errMsg | translate }}</mat-error>
    </ng-container>
  </div>

  <div class="ppi-content">
    <div class="ppi-title">{{ 'profile.title_change_password' | translate }}</div>

    <form [formGroup]="formGroup2" class="ppi-form" novalidate>

      <app-field-password wd100 mr-tp-0_5
        formControlName="password"
        [isRequired]="isRequiredPassword"
        label="profile.current_password"
        hint="field-password.password_hint"
        (input)="updateErrMsgsPassword();statePasswordField(controls2.password.value);">
      </app-field-password>

      <app-field-password wd100 mr-tp-1_5
        formControlName="new_password"
        [isRequired]="isRequiredPassword"
        label="profile.new_password"
        hint="field-password.password_hint"
        (input)="updateErrMsgsPassword();statePasswordField(controls2.password.value || controls2.new_password.value);">
      </app-field-password>

      <div class="ppi-actions" mr-tp-1_5>
        <button mat-raised-button color="primary"
          class="app-infix app-ordinary"
          [disabled]="controls2.password.pristine || controls2.password.invalid
                   || controls2.new_password.pristine || controls2.new_password.invalid"
          (click)="setNewPassword()">
          <span class="ppi-actions-label">
            <i class="ppi-save"></i>
            {{ 'profile.btn_set_password' | translate }}
          </span>
        </button>
      </div>
    </form>

    <ng-container *ngFor="let errMsg of errMsgsPassword">
      <mat-error class="ppi-err">{{ errMsg | translate }}</mat-error>
    </ng-container>
  </div>

  <div class="ppi-content">
    <div class="ppi-title">{{ 'profile.title_delete_account' | translate }}</div>
    <div mr-tp-1_5>
      <span>
        {{ 'profile.note_before_deleting_account' | translate }}
      </span>
    </div>
    <div class="ppi-actions ppi-form" mr-tp-1_5>
      <button mat-raised-button color="primary"
        class="app-infix app-ordinary"
        [disabled]="isDisabledSubmit"
        (click)="performDeleteAccount()">
        <span class="ppi-actions-label">
          <i class="ppi-save"></i>
          {{ 'profile.btn_delete_account' | translate }}
        </span>
      </button>
    </div>

    <ng-container *ngFor="let errMsg of errMsgsAccount">
      <mat-error class="ppi-err">{{ errMsg | translate }}</mat-error>
    </ng-container>

  </div>
  <span>&nbsp;</span>
</div>
