/*# sourceURL=panel-profile-info.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

.dark-theme app-panel-profile-info {
  ---ppi-text-cl: hsl(210, 8%, 60%); // black350
}
.light-theme app-panel-profile-info {
  ---ppi-text-cl: hsl(210, 8%, 45%); // black500
}
  
app-panel-profile-info {
  ---ppi-pn-bg: var(--app-pn-profile);
  ---ppi-pn-brd: var(--app-pn-profile-low);

  @media screen and (width <= dimensions.$mobile-480) {
    ---ppi-crd-wd: 100vw;
    ---ppi-pd: 0.5em;
    ---ppi-wd: 100%;
  }
  @media screen and (dimensions.$mobile-480 < width <= dimensions.$tablet-768) {
    ---ppi-crd-wd: 100vw;
    ---ppi-pd: 1em;
    ---ppi-wd: 39em;
  }
  @media screen and (dimensions.$tablet-768 < width <= dimensions.$FWVGA-854) {
    ---ppi-crd-wd: 100vw;
    ---ppi-pd: 1.25em;
    ---ppi-wd: 43em;
  }
  @media screen and (dimensions.$FWVGA-854 < width <= dimensions.$laptop-1024) {
    ---ppi-crd-wd: 80vw;
    ---ppi-pd: 1.5em;
    ---ppi-wd: 49vw;
    ---ppi-fl-wr: wrap;
  }
  @media screen and (dimensions.$laptop-1024 < width <= dimensions.$desktop-1280) {
    ---ppi-crd-wd: 60vw;
    ---ppi-pd: 2em;
    ---ppi-wd: 49.5vw;
    ---ppi-fl-wr: wrap;
  }
  @media screen and (dimensions.$desktop-1280 < width <= dimensions.$extra-1536) {
    ---ppi-crd-wd: 40vw;
    ---ppi-pd: 2.5em;
    ---ppi-wd: 50vw;
    ---ppi-fl-wr: wrap;
  }
  @media screen and (dimensions.$extra-1536 < width) {
    ---ppi-crd-wd: 40vw;
    ---ppi-pd: 2.5em;
    ---ppi-wd: 46em;
    ---ppi-fl-wr: wrap;
  }
  
  ---ppi-group-wd: calc(var(---ppi-wd) - 1.5 * var(---ppi-pd));

  [mr-lf-1] { margin-left: 1em; }
  [mr-rg-1] { margin-right: 1em; }
  [mr-tp-0_5] { margin-top: 0.5em; }
  [mr-tp-1] { margin-top: 1em; }
  [mr-tp-1_5] { margin-top: 1.5em; }

  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: var(---ppi-pd) 0;
  overflow: auto;
  user-select: none;

  .ppi-mr-bt {
    margin-bottom: var(---ppi-pd);
  }
  .ppi-mr-hr {
    margin-left: calc(var(---ppi-pd) / 2);
    margin-right: calc(var(---ppi-pd) / 2);
  }
  .ppi-panel {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: var(---ppi-fl-wr, nowrap);
    height: 100%;
    width: 100%;
  }
  .ppi-group {
    display: flex;
    flex-direction: column;
    width: min(var(---ppi-group-wd), 100%);
  }
  .ppi-content {
    background-color:  var(--ppi-pn-bg,var(---ppi-pn-bg));
    border-color: var(--ppi-pn-brd, var(---ppi-pn-brd));
    border-style: solid;
    border-width: 1px;
    border-radius: var(--ppi-pn-brd-rd, var(---ppi-pd));
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: var(---ppi-pd) var(---ppi-pd) calc(var(---ppi-pd) / 2) var(---ppi-pd);
    width: 100%;
  }

  .ppi-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    text-align: center;
  }

  .ppi-avatar {
    --fiau-hg: calc(var(---ppi-avatar-mx-hg, 5em) * 2);
  }

  // ** Card Actions **

  .ppi-actions {
    display: flex;
    justify-content: center;
  }
  .ppi-actions-label {
    display: flex;
    align-items: center;
  }

  .mat-mdc-raised-button.ppi-cancel {
    --mdc-protected-button-container-color: #DCDCDC; // #FFDAB9 #D2B48C #fff;
    --mdc-protected-button-label-text-color: #000;
  }

  .ppi-them-local {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &>mat-form-field { flex-basis: 48%; }
  }

  .ppi-save {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/file-save.svg');
    margin-right: 0.5em;
  }

  // ** Form **
  .ppi-form {
    padding-bottom: calc(var(---ppi-pd) / 2);
  }

  // ** Button
  .ppi-btn {
    background: transparent;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    font-size: inherit;
    height: 2.5em;
    width: 100%;
  }
  .ppi-btn:not([disabled]):hover {
    background-color: var(--ppi-btn-hover, rgba(0, 0, 0, 0.04));
  }

  // ** Text **
  .ppi-label {
    color: var(--ppi-text-cl, var(---ppi-text-cl));
    font-size: calc(1em - 2px);
  }

  // ** Error **
  .ppi-err-pd.ng-invalid.ng-touched {
    padding-bottom: 1em;
  }
  .ppi-err {
    font-size: calc(1em - 1px);
  }
}


.cdk-overlay-pane {
  .ppi-option > .mat-mdc-option {
    min-height: 40px;
  }
  mat-option.ppi-fn-it {
    font-style: italic;
  }
}
