/*# sourceURL=panel-profile-info.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-panel-profile-info {
  ---ppi-pn-bg: var(--app-pn-profile);
  ---ppi-pn-brd: var(--app-pn-profile-low);

  @media screen and (width <= dimensions.$mobile-480) {
    ---ppi-crd-wd: 100vw;
    ---ppi-pd: 0.5em;
    ---ppi-wd: 100%;
  }
  @media screen and (dimensions.$mobile-480 < width <= dimensions.$tablet-768) {
    ---ppi-crd-wd: 100vw;
    ---ppi-pd: 1em;
    ---ppi-wd: 39em; // 30em;
  }
  @media screen and (dimensions.$tablet-768 < width <= dimensions.$laptop-1024) {
    ---ppi-crd-wd: 80vw;
    ---ppi-pd: 1.5em;
    ---ppi-wd: 50%; // 41em; // 32em;
    ---ppi-fl-wr: wrap;
  }
  @media screen and (dimensions.$laptop-1024 < width <= dimensions.$desktop-1280) {
    ---ppi-crd-wd: 60vw;
    ---ppi-pd: 2em;
    ---ppi-wd: 50%; //  43em; //34em;
    ---ppi-fl-wr: wrap;
  }
  @media screen and (dimensions.$desktop-1280 < width) {
    ---ppi-crd-wd: 40vw;
    ---ppi-pd: 2.5em;
    ---ppi-wd: 45em; //36em;
    ---ppi-fl-wr: wrap;
  }

  [mr-tp-0_5] { margin-top: 0.5em; }
  [mr-tp-1] { margin-top: 1em; }
  [mr-tp-1_5] { margin-top: 1.5em; }

  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: var(---ppi-pd) 0;
  overflow: auto;
  user-select: none;

  .ppi-panel {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: var(---ppi-fl-wr, nowrap);
    height: 100%;
    width: 100%;
  }
  .ppi-content {
    background-color:  var(--ppi-pn-bg,var(---ppi-pn-bg));
    border-color: var(--ppi-pn-brd, var(---ppi-pn-brd));
    border-style: solid;
    border-width: 1px;
    border-radius: var(--ppi-pn-brd-rd, var(---ppi-pd));
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-bottom: var(---ppi-pd);
    margin-top: var(---ppi-pd);
    margin-left: calc(var(---ppi-pd) / 2);
    margin-right: calc(var(---ppi-pd) / 2);
    padding: var(---ppi-pd);
    width: calc(var(---ppi-wd) - var(---ppi-pd));
  }

  .ppi-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    text-align: center;
  }

  .ppi-avatar {
    height: 10em;
  }

  // ** Card Actions **

  .ppi-actions {
    display: flex;
    justify-content: center;
  }
  .ppi-actions-label {
    display: flex;
    align-items: center;
  }

  .mat-mdc-raised-button.ppi-cancel {
    --mdc-protected-button-container-color: #DCDCDC; // #FFDAB9 #D2B48C #fff;
    --mdc-protected-button-label-text-color: #000;
  }

  .ppi-save {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/save-file.svg');
    margin-right: 0.5em;
  }
}
