/*# sourceURL=field-image.scss */

app-field-image {
    align-items: center;
    box-sizing: border-box;
    display: block;

    &[wd100] {
        width: 100%;
    }

    &[img-h10r] {
        --img-hg: 10rem;
    }

    &[img-h12r] {
        --img-hg: 12rem;
    }

    &[img-h14r] {
        --img-hg: 14rem;
    }

    &[img-h16r] {
        --img-hg: 16rem;
    }

    &[img-h18r] {
        --img-hg: 18rem;
    }

    &[img-h20r] {
        --img-hg: 20rem;
    }

    mat-form-field {
        max-width: inherit;
        width: inherit;
    }

    .mat-mdc-text-field-wrapper {
        height: var(--img-hg, 10rem);
    }

    .mat-mdc-form-field-flex {
        height: 100%;
    }

    .mat-mdc-form-field-infix {
        display: flex;
        height: 100%;
        justify-content: center;
    }

    .mat-mdc-text-field-wrapper .mdc-text-field__input.fi-hide {
        display: none;
    }

    .fi-remove-wrap {
        position: relative;
    }

    .fi-image {
        border-radius: var(--fi-img-br-rd, 0.5rem);
        box-sizing: border-box;
        display: block;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
    }

    .fi-remove {
        --mdc-icon-button-icon-size: 1.75rem;
        position: absolute;
        right: -2rem;
        top: -1.4rem;
        z-index: 1;
    }
}