<mat-form-field [formGroup]="formGroup" floatLabel="always"
  [subscriptSizing]="(formControl.touched && !!formControl.errors) || !!hint ? 'dynamic' : 'fixed'">

  @if (!!label) {
    <mat-label>{{ label | translate }}{{ !!isRequired ? " " : ""}}</mat-label>
  }

  <input matInput type="text" class="fi-hide" formControlName="image" />

  @if (!imageView) {
    <app-field-file-upload hg100 wd100
      [accepts]="accepts"
      [isDisabled]="!!isDisabled"
      [isBorder]="true"
      [isReadonly]="!!isReadOnly"
      [maxFileSize]="maxSize"
      (addFile)="addImage($event)"
      (readFile)="readImage($event)">
    </app-field-file-upload>
  } @else {
    <img class="fi-image" [src]="imageView" [alt]="'&ensp;' + ('field-image.not_found' | translate)" />

    @if (!isDisabled && !isReadOnly) {
      <span class="fi-remove-wrap">
        <button mat-icon-button class="fi-remove"
          (click)="deleteImage()"
          [matTooltip]="`field-image.remove_image` | translate"
          matTooltipPosition="above">
          <svg class="fi-file-circle-cross">
            <use href="./components/field-image/file-circle-cross-bin.svg#file-circle-cross-bin"></use>
          </svg>
        </button>
      </span>
    }
  }

  @if (!!hint) {
    <mat-hint>{{ hint | translate }}</mat-hint>
  }
  <mat-error>
    {{ (errorMsg || getErrorMsg(formControl.errors))
      | translate: getErrorObj(formControl.errors, (!!label ? (label | translate) : "")) }}
  </mat-error>

</mat-form-field>
