<app-stream-list
  [errObj]="errObj"
  [calendarDaySelected]="streamCalendarService.eventsOfDaySelected"
  [calendarMarkedDates]="streamCalendarService.calendarMarkedDates"
  [calendarMinDate]="streamCalendarService.calendarMinDate"
  [calendarMaxDate]="streamCalendarService.calendarMaxDate"
  [futureStreams]="futureStreamHdlr.streamsDto"
  [isLoadStreams]="streamCalendarService.calendarLoading
                || streamCalendarService.eventsOfDayLoading
                || futureStreamHdlr.streamLoading
                || pastStreamHdlr.streamLoading"
  [isRefreshStreamEvent]="isRefreshStreamEvent"
  [pastStreams]="pastStreamHdlr.streamsDto"
  [profileDto]="profileDto"
  [streamEventsForDay]="streamCalendarService.eventsOfDay"
  (calendarForPeriod)="doCalendarForPeriod($event)"
  (futureNextPage)="doSearchNextFutureStream()"
  (pastNextPage)="doSearchNextPastStream()"
  (streamEventsForDate)="doStreamEventsForDate($event)"
  (actionDuplicate)="doActionDuplicate($event)"
  (actionEdit)="doActionEdit($event)"
  (actionView)="doActionView($event)"
  (actionDelete)="doActionDelete($event)">
</app-stream-list>
