<div class="ttr-cover">
    @if (!isHideDaysVal && getDays() > 0) {
        <div ttr-pd class="ttr-days">{{ getDays() }}</div>
        <div ttr-pd class="ttr-label-days">
            {{ (getLabelByKey(labelDaysObj, getDays(), locale) || '' ) | translate }}
        </div>
    }
    <div ttr-pd class="ttr-hours">{{ getHours() }}</div>
    <span class="ttr-spacer">:</span>
    <div ttr-pd class="ttr-minutes">{{ getMinutes() }}</div>
    <span class="ttr-spacer">:</span>
    <div ttr-pd class="ttr-seconds">{{ getSeconds() }}</div>
</div>  