/*# sourceURL=time-tracking.component.scss */

app-time-tracking {
    display: table;
    letter-spacing: var(--ttr-letter-spacing, 0px);

    .ttr-cover {
        display: inline-flex;
    }

    [ttr-pd] {
        padding: 0px var(--ttr-spacer-pd-hor, 0.1em);
    }

    [ttr-wd] {
        text-align: center;
        width: calc(2ch + 3 * var(--ttr-letter-spacing, 0px));
    }
}