/*# sourceURL=signup.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-signup {
  [mr-bt-05] { margin-bottom: 0.5em; }
  [mr-tp-05] { margin-top: 0.5em; }
  
  ---sg-bg-h: var(--app-site-unauth-h);
  ---sg-bg-s: var(--app-site-unauth-s);
  ---sg-bg-l: var(--app-site-unauth-l);
  ---sg-brd-cl: hsl(var(---sg-bg-h), var(---sg-bg-s), var(---sg-bg-l));
  ---sg-shd-cl: hsl(var(---sg-bg-h), var(---sg-bg-s), calc(var(---sg-bg-l) - 13%));
  
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .su-content {
    @media screen and (width <= dimensions.$mobile-480) {
      ---sg-pd: 0.5em;
      ---sg-wd: 100%;
    }
    @media screen and (dimensions.$mobile-480 < width <= dimensions.$tablet-768) {
      ---sg-pd: 1.5em;
      ---sg-wd: 30em;
    }
    @media screen and (dimensions.$tablet-768 < width <= dimensions.$laptop-1024) {
      ---sg-pd: 2em;
      ---sg-wd: 32em;
    }
    @media screen and (dimensions.$laptop-1024 < width <= dimensions.$desktop-1280) {
      ---sg-pd: 2.5em;
      ---sg-wd: 34em;
    }
    @media screen and (dimensions.$desktop-1280 < width) {
      ---sg-pd: 3em;
      ---sg-wd: 36em;
    }
    
    border-radius: var(---sg-pd);
    // border: 1px solid var(--app-site-border-cl);
    border: 2px solid var(---sg-shd-cl);
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
    margin-bottom: 7em;
    padding: var(---sg-pd);
    width: var(---sg-wd);
  }
  
  .su-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
  }

  .su-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    margin-bottom: 1em;
    text-align: center;
  }

  .su-note {
    display: flex;
    margin-top: 0.5em;
    justify-content: center;
    span {
      color: darkslategrey;
    }
    a {
      margin-left: 0.5em;
    }
  }

  .su-err {
    font-size: calc(1em - 1px);
  }
}
