/*# sourceURL=field-file-upload.component.scss */

.light-theme app-field-file-upload {
//   ---ffu-label-cl: var(--app-theme-primary);
//   ---ffu-text-cl: hsl(210, 8%, 45%); // black500
  ---ffu-brd-cl: hsl(210, 8%, 50%);
}
.dark-theme app-field-file-upload {
//   ---ffu-label-cl: hsl(206, 100%, 70%);
//   ---ffu-text-cl: hsl(210, 8%, 60%); // black350
  ---ffu-brd-cl: hsl(210, 8%, 65%);
}
  
app-field-file-upload {
  align-items: center;
  border-radius: var(--ffu-brd-rd);
  display: flex;
  justify-content: center;

  // ** Root level styles (as additional input parameters). **
  &[wd100] {
    width: 100%;
  }
  &[hg100] {
    height: 100%;
  }
  &[is-border] {
    border-color: var(--ffu-brd-cl, var(---ffu-brd-cl));
    border-style: var(--ffu-brd-st, dashed);
    border-width: var(--ffu-brd-wd, 1px);
    box-sizing: border-box;
  }
  &.is-disabled {
    opacity: 0.6;
  }
  &.is-non-event {
    pointer-events: none;
  }

  // ** **

  label {
    cursor: pointer;
  }

  .ffu-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  input[type='file'] {
    display: none;
  }

  .ffu-svg-file-circle-plus {
    color: var(--sys-on-surface-variant);
    display: block;
    height: 4rem;
    width: 4rem;
  }

  .ffu-msg {
    padding-left: var(--ffu-msg-pg-lf, 1.5em);
    padding: var(--ffu-msg-pg, 0.5em);
  }
  .ffu-text {
    color: var(--ffu-text-cl, var(---ffu-text-cl));
    font-size: var(--ffu-text-fn-sz, calc(1em - 2px));
  }
}
