/*# sourceURL=field-file-upload.component.scss */
  
app-field-file-upload {
  align-items: center;
  border-radius: var(--ffu-brd-rd);
  display: flex;
  justify-content: center;

  // ** Root level styles (as additional input parameters). **
  &[wd100] {
    width: 100%;
  }
  &[hg100] {
    height: 100%;
  }
  &.is-border {
    border-color: var(--ffu-brd-cl, var(--mdc-outlined-text-field-outline-color));
    border-style: var(--ffu-brd-st, dashed);
    border-width: var(--ffu-brd-wd, 1px);
    box-sizing: border-box;
  }
  &.is-disabled {
    opacity: 0.6;
  }
  &.is-non-event {
    pointer-events: none;
  }

  // ** **

  label {
    cursor: pointer;
  }

  .ffu-container {
    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  input[type='file'] {
    display: none;
  }

  .ffu-svg-file-circle-plus {
    color: var(--sys-on-surface-variant);
    display: block;
    height: 4rem;
    width: 4rem;
  }

  .ffu-msg {
    padding-left: var(--ffu-msg-pg-lf, 1.5em);
    padding: var(--ffu-msg-pg, 0.5em);
  }
  .ffu-text {
    color: var(--ffu-text-cl, var(--sys-secondary));
    font-size: var(--ffu-text-fn-sz, calc(1em - 3px));
    line-height: 1.3;
  }
}
