/*# sourceURL=field-file-upload.component.scss */

.dark-theme app-field-file-upload {
  ---ffu-text-cl: hsl(210, 8%, 60%); // black350
}
.light-theme app-field-file-upload {
  ---ffu-text-cl: hsl(210, 8%, 45%); // black500
}
  
app-field-file-upload {
  align-items: center;
  border-radius: 0.286em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  &[wd100] {
    width: 100%;
  }
  &[hg100] {
    height: 100%;
  }
  &[is-border] {
    border: 1px solid var(--app-theme-input-border);
  }
  &.is-disabled {
    opacity: 0.6;
  }
  &.is-non-event {
    pointer-events: none;
  }

  label:not(.is-disabled) {
    cursor: pointer;
  }

  mat-form-field {
    max-width: inherit;
    width: inherit;
  }

  .ffu-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &>.ffu-upload-file { margin-top: 4%; }
    &>label:not(.is-disabled) {
      color: var(--app-theme-primary);
    }
  }
  input[type='file'] {
    display: none;
  }
  h3 {
    font-size: inherit;
    font-weight: 400;
  }
  .ffu-upload-file {
    width: 33px;
    height: 33px;
    display: inline-block;
    background: transparent none no-repeat center center;
    background-image: url('/assets/icons/upload-file.svg');
  }
  .ffu-label {
    margin-left: 0.5em;
  }
  .ffu-text {
    color: var(--ffu-text-cl, var(---ffu-text-cl));
  }
}
