<div class="ffu-container"
  appFieldDragAndDrop
  (fileDropped)="fileHandler($event, accepts, maxFileSize)">
  <input type="file" #fileDropRef [attr.id]="id"
    [attr.accept]="accepts || undefined"
    [attr.multiple]="isMultiple ? '': undefined"
    [attr.disabled]="isDisabled || isReadonly ? '': undefined"
    [attr.readonly]="isReadonly ? '': undefined"
    (change)="fileHandler(getFileList($event.target), accepts, maxFileSize)"
  />
  <label [attr.for]="id" [attr.is-disabled]="isDisabled || isReadonly ? '': undefined" class="ffu-file-add-plus"></label>
  <label [attr.for]="id" [attr.is-disabled]="isDisabled || isReadonly ? '': undefined" class="ffu-msg">
    <div class="ffu-label">{{ 'field-file-upload.drag_files_or_browse' | translate }}</div>
    <div class="ffu-text">{{ textAccepts }}</div>
    <div class="ffu-text">{{ textMaxFileSize }}</div>
  </label>
</div>
