<div class="ffu-container"
  appFieldDragAndDrop
  (fileDropped)="fileHandler($event, accepts, maxFileSize)">
  <input type="file" #fileDropRef [attr.id]="id"
    [attr.accept]="accepts || undefined"
    [attr.multiple]="isMultiple ? '': undefined"
    [attr.disabled]="isDisabled || isReadonly ? '': undefined"
    [attr.readonly]="isReadonly ? '': undefined"
    (change)="fileHandler(getFileList($event.target), accepts, maxFileSize)"
  />
  <label [attr.for]="id">
    <svg class="ffu-svg-file-circle-plus">
      <use href="assets/icons/components/field-file-upload/file-circle-plus.svg#file-circle-plus"></use>
    </svg>
  </label>
  <div>
    <a href="javascript:void(0);">
      <label [attr.for]="id">{{ 'field-file-upload.drag_files_or_browse' | translate }}</label>
    </a>
    <label [attr.for]="id" class="ffu-msg">
      <span>{{ textAccepts }}</span><br/>
      <span>{{ textMaxFileSize }}</span>
    </label>
  </div>
</div>
