/*# sourceURL=field-file-upload.component.scss */

.dark-theme app-field-file-upload {
  ---ffu-text-cl: hsl(210, 8%, 60%); // black350
}
.light-theme app-field-file-upload {
  ---ffu-text-cl: hsl(210, 8%, 45%); // black500
}

app-field-file-upload {
  align-items: center;
  border-radius: var(--ffu-brd-rd);
  display: flex;
  justify-content: center;

  // ** Root level styles (as additional input parameters). **
  &[wd100] {
    width: 100%;
  }
  &[hg100] {
    height: 100%;
  }
  &[is-border] {
    border-color: var(--ffu-brd-cl);
    border-style: var(--ffu-brd-st, solid);
    border-width: var(--ffu-brd-wd, 1px);
    box-sizing: border-box;
  }
  &.is-disabled {
    opacity: 0.6;
  }
  &.is-non-event {
    pointer-events: none;
  }

  // ** **

  label:not([is-disabled]) {
    cursor: pointer;
    ---ffu-cl: var(--ffu-label-cl, var(--app-theme-primary));
  }
  .ffu-label {
    color: var(---ffu-cl, var(--ffu-text-cl, var(---ffu-text-cl)));
  }

  .ffu-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
  input[type='file'] {
    display: none;
  }

  h3 {
    font-size: inherit;
    font-weight: 400;
  }

  .ffu-file-add-plus {
    background: transparent none no-repeat center center;
    background-image: url('/assets/icons/file-add-plus.svg');
    display: inline-block;
    height: 48px;
    padding: var(--ffu-image-pg, 0.5em);
    width: 48px;
    background-size: cover;
  }

  .ffu-msg {
    padding-left: var(--ffu-msg-pg-lf, 1.5em);
    padding: var(--ffu-msg-pg, 0.5em);
  }
  .ffu-text {
    color: var(--ffu-text-cl, var(---ffu-text-cl));
  }
}
