/*# sourceURL=panel-chat.component.scss */

app-panel-chat {
    align-items: center;
    background-color: var(--pc-bg, inherit);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--pc-pd, 0.5rem);
    overflow-y: hidden;

    // ** Header **

    .pc-header {
        flex-shrink: 0;
        padding: 0.4rem 0.5rem;
    }

    // ** Middle **

    .pc-middle {
        box-sizing: border-box;
        flex-grow: 1;
        font-size: var(--pc-fn-sz, 0.75rem);
        overflow-y: auto;
        padding-left: 2px;
        padding-right: 2px;
        width: 100%;
    }

    .pc-item {
        &.pc-self {
            ---pc-itm-bg: var(--pc-itm-self-bg);
            ---pc-itm-sh: var(--pc-itm-self-sh);
        }

        background-color: var(---pc-itm-bg, var(--pc-itm-bg));
        box-shadow: 0 0 2px 1px var(---pc-itm-sh, var(--pc-itm-sh));
        box-sizing: border-box;
        border-radius: var(--pc-br-rd, 0.75rem);
        display: flex;
        flex-direction: column;
        gap: var(--pc-itm-gp, .25rem);
        margin: var(--pc-itm-mr, 0.5rem 0px);
        padding: var(--pc-itm-pd, 0.25rem 0.5rem);
    }

    // -- item-date  --
    .pc-item-name-date {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }

    .pc-item-name {
        &.pc-myself {
            ---pc-name-cl: var(--pc-name-self-cl);
        }

        color: var(---pc-name-cl, var(--pc-name-cl));
        display: inline-block;
        font-size: var(--pc-name-fn-sz, .8125rem);
        font-weight: 500;
        word-wrap: break-word;
    }

    .pc-item-date {
        color: var(--pc-date-cl);
        display: inline-block;
        font-size: var(--pc-fn-sz, 0.75rem);
        word-wrap: break-word;
    }

    // -- item-info --
    .pc-item-info {
        clear: both;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        max-width: 100%;
        position: relative;
        // .pc-info-avatar { flex: 0 0 46px; }
        // .pc-info-text { flex: 1 1 auto; }
    }

    .pc-info-text {
        color: var(--sys-on-surface); // color: rgb(32, 33, 36); // color: var(--hotlane-on-background-color);
        // font-size: .8125rem;
        // line-height: 1.25rem;
        position: relative;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

    // ** Footer **

    .pc-footer {
        background-color: inherit;
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-top: 3px;
        position: relative;
        width: 100%;
    }

    .mat-mdc-form-field.pc-new-msg9 {
        --mat-form-field-container-vertical-padding: 12px; // 16px
        width: 100%;

        .mdc-text-field--outlined {
            background-color: var(--sys-background);
            border-radius: 8px;
            padding-left: 12px;
        }

        &.pc-modify-msg {
            .mat-mdc-form-field-flex {
                --mdc-outlined-text-field-focus-outline-color: var(--sys-tertiary);
            }
        }

    }

    .pc-textarea {
        resize: none;
    }


}