<div class="pc-header">
  <!-- <div class="pc-icon prc-chat-stream"></div> -->
  <div class="pc-label">{{ (title | translate) }}</div>
</div>

<div class="pc-sepr"></div>

<cdk-virtual-scroll-viewport  class="pc-middle" #scrollItem
  itemSize="50" (scroll)="dbncScrollItem($event)">
  <ng-container *cdkVirtualFor="let chatMsg of listChatMsg; templateCacheSize: 0">
    <div [ngClass]="['pc-item', (isSelf(chatMsg.member) ? 'pc-self' : '')
      , (msgMarked==chatMsg || msgEditing==chatMsg ? 'pc-marked' : '')]"
      [matMenuTriggerFor]="isEnableMenu(chatMsg, nickname) ? menuItem : null"
      [matMenuTriggerData]="menuDataMap.get(chatMsg.date) || getMenuDataByMap(chatMsg)"
      (menuOpened)="msgMarked=chatMsg;"
      (menuClosed)="msgMarked=null;">

      <div class="pc-item-name-date">
        <div [ngClass]="['pc-item-name', (isSelf(chatMsg.member) ? 'pc-myself' : '')]">
          {{ isSelf(chatMsg.member) ? ('panel-chat.you' | translate) : memberWithZero(chatMsg.member) }}
        </div>
        <div class="pc-item-date">
          @if (!isToday(chatMsg.date)) {
            <span>{{ chatMsg.date | dateTimeFormat:locale:formatDate }}</span>
          }
          <span>{{ chatMsg.date | dateTimeFormat:locale:formatTime }}</span>
          @if (chatMsg.isEdt && !chatMsg.isRmv) {
            <div><i>{{ 'panel-chat.message_edited' | translate }}</i></div>
          }
        </div>
      </div>
      
      @if (!chatMsg.isRmv) {
        <div [ngClass]="['pc-item-msg', (isSelf(chatMsg.member) ? 'pc-myself' : '')]">
          {{ chatMsg.msg }}
          <ng-container *ngTemplateOutlet="templateShowInfo; context: { chatMsg2: chatMsg }" />
        </div>
      } @else {
        <div class="pc-item-msg-rmv">
          <i>{{ 'panel-chat.message_deleted' | translate }}</i>
          <ng-container *ngTemplateOutlet="templateShowInfo; context: { chatMsg2: chatMsg }" />
        </div>
      }
      
      <!-- <div *ngIf="isBannedUserById(chatMsg.member)" class="prc-banned-user">
        <div class="prc-msg-banned-orange"></div>
      </div> -->
      
    </div>
  </ng-container>
</cdk-virtual-scroll-viewport>

<ng-template #templateShowInfo let-chatMsg="chatMsg2">
  <sub style="color: var(--sys-secondary);">
    id:{{ chatMsg.id }} <!-- date: {{ chatMsg.date }},--> E:{{ chatMsg.isEdt ? 1 : 0 }} R:{{ chatMsg.isRmv ? 1 : 0 }}
  </sub>
</ng-template> 

@if (isEditable) {
  <div class="pc-sepr"></div>

  <div class="pc-footer" [formGroup]="formGroup">
    <mat-form-field [ngClass]="['pc-new-msg', (!!msgEditing ? 'pc-editing' : '')]"
      appearance="outline"
      color="primary"
      subscriptSizing="dynamic"
      floatLabel="auto">
      <div [ngClass]="['pc-nmsg-label', (!msgEditing ? 'hide' : '')]">
        <svg class="pc-svg-mini">
          <use href="assets/icons/lib-chat/panel-chat/pen-bin.svg#pen-bin"></use>
        </svg>
        <span>{{ 'panel-chat.editing_msg' | translate }}</span>
      </div>
      <textarea matInput #messageInput #textareaElement
        class="pc-textarea global-scroll"
        formControlName="newMsg"
        autocomplete="new-password"
        autocapitalize="off"
        [attr.maxlength]="(maxLen > 0 ? maxLen + 1 : null)"
        (keydown.enter)="doKeydownEnter($event, formControl.value)"
        (keydown.escape)="doKeydownEscape()"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        [cdkAutosizeMinRows]="minRowsVal"
        [cdkAutosizeMaxRows]="2 + maxRowsVal">
      </textarea>

      @if (!!msgEditing) {
        <button mat-icon-button matSuffix class="pc-btn-cancel"
          (click)="doSetValueForEditing(null)">
          <svg class="pc-svg-send">
            <use href="assets/icons/lib-chat/panel-chat/close-circle-bin.svg#close-circle-bin"></use>
          </svg>
        </button>
      }
      <button mat-icon-button matSuffix class="pc-btn-send"
        [disabled]="initValue == (formControl.value?.trim() || null) ? '' : null"
        (click)="doSendMessage(formControl.value)">
        <svg class="pc-svg-send">
          <use href="assets/icons/lib-chat/panel-chat/send-bin.svg#send-bin"></use>
        </svg>
      </button>

    </mat-form-field>
  </div>
}

<mat-menu #menuItem="matMenu" class="pc-menu-panel" xPosition="before" [overlapTrigger]="true">
  <ng-template matMenuContent let-isEdit="isEdit" let-isRemove="isRemove">
    @if (isEdit) {
      <button mat-menu-item class="pn-menu-item" (click)="doSetValueForEditing(msgMarked)">
        <svg class="pc-svg-box">
          <use href="assets/icons/lib-chat/panel-chat/pen-bin.svg#pen-bin"></use>
        </svg>
        <span class="pc-menu-label">{{ 'panel-chat.menu.edit' | translate }}</span>
      </button>
    }
    @if (isRemove) {
      <button mat-menu-item class="pn-item-menu"  (click)="doRemoveMessage(msgMarked)">
        <svg class="pc-svg-box">
          <use href="assets/icons/lib-chat/panel-chat/trash-bin.svg#trash-bin"></use>
        </svg>
        <span class="pc-menu-label">{{ 'panel-chat.menu.remove' | translate }}</span>
      </button>
    }
  </ng-template>
</mat-menu>
