<div class="pc-header" [class.pc-hdr-pd]="!!title">
  <div class="pc-label" >{{ !!title ? (title | translate) : '' }}</div>
</div>

<div class="pc-sepr"></div>

<div class="pc-middle">
  @if (isLoading) {
    <div class="pc-item-load">
      <app-spinner [diameter]="30"></app-spinner>
    </div>
  }

  <app-view-item-list hg100 vil-col-rev #viewItemList
    containerClass="global-scroll pc-item-msg-list"
    [editSet]="editSet"
    [deleteIds]="deleteIds"
    [isReset]="isReset"
    [itemSet]="itemSetMsg"
    [maxSizeRows]="maxSizeRows"
    (afterScroll)="doAfterScroll($event.isModifiedList, $event.ratioY)"
    (loadSet)="doLoadSetChatMsg($event.isAddTop, $event.item, $event.count)">
    <ng-template let-chatMsg="item" let-idx="index">
      <div 
        [matMenuTriggerFor]="!!getMenuItem(chatMsg, !!isOwner, nickname) ? menuItem : null"
        [matMenuTriggerData]="getMenuItem(chatMsg, !!isOwner, nickname)"
        (menuOpened)="msgMarked=chatMsg;"
        (menuClosed)="msgMarked=null;">
        <div class="pc-item" attr.ch-msg-id="{{chatMsg.id}}" (click)="doClickCheckSelection($event)"
          [class.pc-self]="isSelf(chatMsg.member)"
          [class.pc-marked]="msgMarked==chatMsg || msgEditing==chatMsg">

          <div class="pc-item-name-date">
            <div class="pc-item-name" [class.pc-myself]="isSelf(chatMsg.member)">
              {{ isSelf(chatMsg.member) ? ('panel-chat.you' | translate) : chatMsg.member }}
            </div>
            <div class="pc-item-date" [class.pc-item-modify]="!!chatMsg.dateEdt || !!chatMsg.dateRmv"
              [matTooltip]="!!chatMsg.dateRmv
                ? ('panel-chat.message_removed' | translate) + ' ' + (chatMsg.dateRmv | dateTimeFormat:locale:formatDateTime)
                : (!!chatMsg.dateEdt
                    ? ('panel-chat.message_edited' | translate) + ' ' + (chatMsg.dateEdt | dateTimeFormat:locale:formatDateTime)
                    :'')">
              @if (!isToday(chatMsg.date)) {
                <span>{{ chatMsg.date | dateTimeFormat:locale:formatDate }}</span>
              }
              <span>{{ chatMsg.date | dateTimeFormat:locale:formatTime }}</span>
            </div>
          </div>

          @if (!chatMsg.dateRmv) {
            <div class="pc-item-msg" [class.pc-myself]="isSelf(chatMsg.member)">
              {{ chatMsg.msg }}
            </div>
          } @else {
            <div class="pc-item-msg-rmv">
              <i>{{ 'panel-chat.message_was_deleted' | translate }}</i>
            </div>
          }
        </div>
      </div>
    </ng-template>
  </app-view-item-list>

</div>

@if (isMoveToEnd) {
  <div class="pc-move-to-end-box">
    <div class="pc-move-to-end">
      @if (unreadCount > 0) {
        <label class="pc-move-to-end-count" for="btn-move-to-end_id">{{ unreadCount }}</label>  
      }
      <button class="pc-btn-move-to-end" id="btn-move-to-end_id" (click)="doMoveToEndOfList()">
        <svg viewBox="0 0 96 96" fill="none" stroke="currentColor" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"
          class="pc-angle">
          <path d="M28,38 l20,20 l20,-20" />
        </svg>
      </button>
    </div>
  </div>
}

<div class="pc-sepr"></div>

@if (isEditable && !isBlocked) {
  <form novalidate class="pc-msg-frm" [formGroup]="formGroup">

    <div class="pc-msg-edt">
      @if (!!msgEditing) {
        <div class="pc-nmsg-label" [attr.is-focuse-msg]="isFocusMsg ? '': null">
          <svg viewBox="0 0 96 96" fill="none" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"
            class="pc-svg-mini" focusable="false" aria-hidden="true">
            <path d="M72,40 l12,-12 l-16,-16 l-12,12 l16,16 l-40,40 h-16 v-16 l40,-40 z" />
          </svg>
          <span>{{ 'panel-chat.editing_msg' | translate }}</span>
        </div>
      }
      <app-field-textarea wd100 scroll-thin ft-no-resize ft-no-pd-hint-error
        class="pc-new-msg"
        [class.pc-editing]="!!msgEditing"
        formControlName="newMsg"
        kind="message"
        [maxLen]="maxLen"
        [minLen]="minLen"
        [maxRows]="maxRows"
        [minRows]="minRows"
        [subscriptSizing]="'dynamic'"
        (keydown.enter)="formGroup.valid ? doKeydownEnter($event, frmCtrlNewMsg.value) : null"
        (keydown.control.enter)="formGroup.valid ? doKeydownEnter($event, frmCtrlNewMsg.value): null"
        (keydown.escape)="cleanNewMsg()"
        (focusin)="isFocusMsg=true"
        (focusout)="isFocusMsg=false">
      </app-field-textarea>
    </div>

    <div class="pc-msg-btns">
      @if (!!msgEditing) {
        <button matSuffix  mat-icon-button class="pc-msg-icon"
          (click)="doResetValueForEditing()">
          <svg viewBox="0 0 96 96" fill="currentColor" focusable="false" aria-hidden="true">
            <path fill-rule="evenodd" d="M8,48 C8,25.9 25.9,8 48,8 s40,17.9 40,40 -17.9,40 -40,40 S8,70.09 8,48 Z m30.83,-14.83 a4,4 0 0 0 -5.66,5.66 L42.34,48 l-9.17,9.17 a4,4 0 0 0 5.66,5.66 L48,53.66 l 9.17, 9.17 a4,4 0 0 0 5.66,-5.66 L53.66,48 l9.17,-9.17 a4,4 0 0 0 -5.66,-5.66 L48,42.344 38.83,33.17 Z" clip-rule="evenodd"/>
          </svg>
        </button>
        <div class="pc-msg-btns-sepr"></div>
      }
      <button matSuffix mat-icon-button class="pc-msg-icon"
        [disabled]="(!frmCtrlNewMsg.value?.trim() || formGroup.invalid) ? '' : null"
        (click)="doSendMessage(frmCtrlNewMsg.value)">
        <svg viewBox="0 0 96 96" fill="none" stroke="currentColor" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"
          focusable="false" aria-hidden="true">
          <path d="M78,16 l-40,39 l11,20 c3,8 9,8 11,-1 l18,-50 c4,-9 -1,-12 -8,-8 l-50,17 c-6,3 -6,6 0,11 l18,11 z" />
        </svg>
      </button>
    </div>

  </form>
}

@if (isEditable && isBlocked) {
  <div class="pc-blocked">
    <div class="pc-blk-title">
      <svg viewBox="0 0 96 96" fill="none" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"
        class="pc-svg-block" focusable="false" aria-hidden="true">
        <path d="M48,58 v8 M28,40 h40 c6,0.5 11.5,6 12,12 v20 c-0.5,6 -6,11.5 -12,12 h-40 c-6,-0.5 -11.5,-6 -12,-12 v-20 c0.5,-6 6,-11.5 12,-12 z v-10 c4,-24 36,-24 40,0 v10 z" />
      </svg>
      <p>{{ 'panel-chat.you_been_blocked' | translate }}</p>
    </div>
    <p>{{ 'panel-chat.you_not_allowed_chat' | translate }}</p>
</div>
}

<mat-menu #menuItem="matMenu" class="pc-menu-panel" xPosition="before" [overlapTrigger]="true">
  <ng-template matMenuContent let-isEdit="isEdit" let-isCut="isCut" let-isRemove="isRemove" let-isBlock="isBlock" let-isUnblock="isUnblock">
    @if (isEdit) {
      <button mat-menu-item class="pn-menu-item" (click)="doSetValueForEditing(msgMarked)">
        <svg viewBox="0 0 96 96" fill="none" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"
          class="pc-svg-box" focusable="false" aria-hidden="true">
          <path d="M72,40 l12,-12 l-16,-16 l-12,12 l16,16 l-40,40 h-16 v-16 l40,-40 z" />
        </svg>
        <span class="pc-menu-label">{{ 'panel-chat.menu.edit' | translate }}</span>
      </button>
    }
    @if (isCut) {
      <button mat-menu-item class="pn-item-menu" (click)="doCutMessage(msgMarked)">
        <svg viewBox="0 0 96 96" fill="none" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"
          class="pc-svg-box" focusable="false" aria-hidden="true">
          <path d="M12,26 H84 a6,6 0,0,0 0,-12 H12 a6,6 0,0,0 0,12" />
          <path d="M28,14 L38,1 H58 L68,14" />
          <path d="M17,26 L22,80 a12,12 0,0,0 12,12 H62 a12,12 0,0,0 12,-12  L79,26" />
          <path d="M36,42 l24,24 m-24,0 l24,-24" />
        </svg>
        <span class="pc-menu-label">{{ 'panel-chat.menu.cut' | translate }}</span>
      </button>
    }
    @if (isRemove) {
      <button mat-menu-item class="pn-item-menu" (click)="doRemoveMessage(msgMarked)">
        <svg viewBox="0 0 96 96" fill="none" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"
          class="pc-svg-box" focusable="false" aria-hidden="true">
          <path d="M12,26 H84 a6,6 0,0,0 0,-12 H12 a6,6 0,0,0 0,12" />
          <path d="M28,14 L38,1 H58 L68,14" />
          <path d="M17,26 L22,80 a12,12 0,0,0 12,12 H62 a12,12 0,0,0 12,-12  L79,26" />
          <path d="M36,42 l24,24 m-24,0 l24,-24" />
        </svg>
        <span class="pc-menu-label">{{ 'panel-chat.menu.remove' | translate }}</span>
      </button>
    }
    @if (isBlock) {
      <button mat-menu-item class="pn-item-menu" (click)="doBlockUser(msgMarked?.member, blockedUsers)">
        <svg viewBox="0 0 96 96" fill="none" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"
          class="pc-svg-box" focusable="false" aria-hidden="true">
          <path d="M48,58 v8 M28,40 h40 c6,0.5 11.5,6 12,12 v20 c-0.5,6 -6,11.5 -12,12 h-40 c-6,-0.5 -11.5,-6 -12,-12 v-20 c0.5,-6 6,-11.5 12,-12 z v-10 c4,-24 36,-24 40,0 v10 z" />
        </svg>
        <span class="pc-menu-label">{{ 'panel-chat.menu.block_user' | translate }}</span>
      </button>
    }
    @if (isUnblock) {
      <button mat-menu-item class="pn-item-menu" (click)="doUnblockUser(msgMarked?.member, blockedUsers)">
        <svg viewBox="0 0 96 96" fill="none" stroke="currentColor" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"
          class="pc-svg-box" focusable="false" aria-hidden="true">
          <path d="M48,58 v8 M28,40 h40 c6,0.5 11.5,6 12,12 v20 c-0.5,6 -6,11.5 -12,12 h-40 c-6,-0.5 -11.5,-6 -12,-12 v-20 c0.5,-6 6,-11.5 12,-12 z M68,40 v-10 c2,-21 -23,-32 -36,-13" />
        </svg>
        <span class="pc-menu-label">{{ 'panel-chat.menu.unblock_user' | translate }}</span>
      </button>
    }
  </ng-template>
</mat-menu>
