/*# sourceURL=panel-chat.component.scss */

app-panel-chat {
    align-items: center;
    background-color: var(--pc-bg, inherit);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--pc-pd, 0.5rem);
    overflow-y: hidden;


    // ** Header **

    .pc-header {
        flex: 0 0 auto;
        // outline: 1px dashed orange;
        padding: 0.4rem .5rem;
    }

    // ** Middle **

    .pc-middle {
        outline: 1px dashed green;
        // border: 1px solid var(--app-theme-accent);
        flex: 1 1 auto;
        font-size: 0.75rem; //  12px;
        overflow-y: auto;
        width: 100%;

        // section {
        //     &:not(:first-of-type) {
        //         margin-top: 15px;
        //     }
        // }
    }

    .pc-chat-item {
        // outline: 1px dashed green;
        background-color: var(--sys-background);
        box-sizing: border-box;
        // border: 1px solid var(--sys-surface-container-high);
        border-radius: 1rem;
        // box-shadow: 0 0 2px 1px var(--sys-surface-container-high);
        box-shadow: 0 0 1px 1px var(---pc-ch-itm-sh, var(--sys-outline-variant));
        display: flex;
        flex-direction: column;
        gap: .25rem;
        margin: 0.5rem 0px;
        padding: 0.25rem 0.5rem;

        &.pc-owner {
            ---pc-ch-itm-sh: var(--sys-inverse-primary);
        }
    }


    // -- item-date  --
    .pc-item-date {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        // padding-left: 1rem;
        // padding-right: 1rem;
    }

    .pc-date-nickname {
        color: var(---pc-dt-nick-cl, var(--sys-on-surface)); // color: rgb(32, 33, 36); // var(--hotlane-on-background-color);
        display: inline-block;
        font-size: .8125rem;
        font-weight: 500;
        word-wrap: break-word;

        &.pc-myself {
            ---pc-dt-nick-cl: var(--sys-primary);
        }
    }

    .pc-date-time {
        color: var(--sys-secondary); // color: rgb(95, 99, 104); //   var(--hotlane-on-surface-variant-color);
        display: inline-block;
        font-size: .75rem;
        word-wrap: break-word;
    }

    // -- item-info --
    .pc-item-info {
        // display: flex;
        // flex: 1 1 auto;
        clear: both;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        max-width: 100%;

        // .pc-info-avatar {
        //     flex: 0 0 46px;
        // }

        // .pc-info-text {
        //     flex: 1 1 auto;
        // }

        position: relative;
    }

    .pc-info-text {
        color: var(--sys-on-surface); // color: rgb(32, 33, 36); // color: var(--hotlane-on-background-color);
        // font-size: .8125rem;
        // line-height: 1.25rem;
        position: relative;
        white-space: pre-wrap;
        word-wrap: break-word;
    }


    // ** Footer **

    .pc-footer {
        background-color: inherit;
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-top: 4px;
        position: relative;
        width: 100%;
    }

    .mat-mdc-form-field.pc-new-msg9 {
        --mat-form-field-container-vertical-padding: 12px; // 16px
        width: 100%;

        .mdc-text-field--outlined {
            background-color: var(--sys-background);
            border-radius: 8px;
            padding-left: 12px;
        }

        &.pc-modify-msg {
            .mat-mdc-form-field-flex {
                --mdc-outlined-text-field-focus-outline-color: var(--sys-tertiary);
            }
        }

    }

    .pc-textarea {
        resize: none;
    }


}