/*# sourceURL=panel-chat.component.scss */

app-panel-chat {
    ---pc-itm-bg: var(--pc-itm-bg);
    ---pc-itm-sh: var(--pc-itm-sh);
    ---pc-brd-sz: var(--pc-brd-sz, medium); // thin-1px, medium-3px, thick-5px
    ---pc-itm-self-bg: var(--pc-itm-self-bg, var(--sys-on-primary));
    ---pc-itm-self-sh: var(--pc-itm-self-sh, var(--sys-primary-fixed-dim));
    ---pc-itm-mrk-sh: var(--pc-itm-mrk-sh, var(--sys-tertiary));

    background-color: var(--pc-bg, inherit);
    display: flex;
    flex-direction: column;
    height: 100%;

    // ** Header **

    .pc-header {
        flex-shrink: 0;
        font-size: var(--pc-hdr-fn-sz, 1rem);
        text-align: center;
    }

    .pc-hdr-pd {
        padding: 0.4rem 0.5rem;
    }

    // ** separator **
    .pc-sepr {
        border-top: var(---pc-brd-sz) solid var(---pc-itm-sh, initial);
        box-sizing: border-box;
        width: 100%;
    }

    // ** Middle **

    .pc-middle {
        box-sizing: border-box;
        flex-grow: 1;
        font-size: var(--pc-mdl-fn-sz, 1rem);
        height: 100%;
        overflow-y: auto;
        padding-left: var(--pc-pd-lf, 2px);
        padding-right: var(--pc-pd-rg, 2px);
        width: 100%;
    }

    .pc-item-wrap {
        margin: var(--pc-itm-mr, 0.5rem 0px);
    }

    .pc-item-load {
        height: 30px;
    }

    .pc-item {
        &.pc-self {
            ---itm-bg: var(---pc-itm-self-bg);
            ---itm-sh: var(---pc-itm-self-sh);
        }

        &.pc-marked {
            ---itm-bx-sh: 0 0 3px 1px var(---pc-itm-mrk-sh);
        }

        background-color: var(---itm-bg, var(---pc-itm-bg));
        box-shadow: var(---itm-bx-sh, 0 0 2px 1px var(---itm-sh, var(---pc-itm-sh)));
        box-sizing: border-box;
        border-radius: var(--pc-br-rd, 0.75rem);
        display: flex;
        flex-direction: column;
        gap: var(--pc-itm-gp, .25rem);
        padding: var(--pc-itm-pd, 0.25rem 0.5rem);
    }

    // -- item nickname and date  --
    .pc-item-name-date {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }

    .pc-item-name {
        &.pc-myself {
            ---name-cl: var(--pc-name-self-cl, var(--sys-primary));
        }

        color: var(---name-cl, var(--pc-name-cl, var(--sys-on-surface)));
        display: inline-block;
        font-size: var(--pc-name-fn-sz, inherit);
        font-weight: 500;
        min-width: 5rem;
        overflow-wrap: anywhere;
    }

    .pc-item-date {
        color: var(--pc-date-cl, var(--sys-secondary));
        column-gap: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        font-size: var(--pc-date-fn-sz, inherit);
        min-width: var(--pc-date-mn-wd, 6rem);
        word-wrap: break-word;
    }

    .pc-item-modify {
        font-style: italic;
    }

    .pc-item-msg-rmv {
        color: var(--pc-msg-rmv-cl, var(--sys-secondary));
    }

    // -- item-msg --
    .pc-item-msg {
        &.pc-myself {
            ---msg-cl: var(--pc-msg-self-cl);
        }

        color: var(---msg-cl, var(--pc-msg-cl, var(--sys-on-surface)));
        font-size: var(--pc-msg-fn-sz, inherit);
        position: relative;
        word-wrap: break-word;
    }

    // ** Not viewed ** 

    .pc-notviewed-box {
        position: relative;
    }

    .pc-notviewed {
        bottom: 0.5rem;
        display: flex;
        justify-content: center;
        position: absolute;
        right: 1rem;
        z-index: 1;
    }

    .pc-notviewed-count {
        ---pc-wd: calc(2.2rem * 0.55);
        align-items: center;
        background-color: var(--sys-primary);
        border-radius: 2.2rem / 2.2rem;
        color: var(--sys-on-primary);
        cursor: pointer;
        display: flex;
        font-size: calc(1em - 1px);
        height: var(---pc-wd, 2em);
        justify-content: center;
        padding: 0 var(---pc-ntvw-count10-pd);
        position: absolute;
        top: calc(var(---pc-wd) * -0.5);
        min-width: var(---pc-wd, 2em);
        z-index: 2;

        &.pc-nvcnt-pd1 {
            ---pc-ntvw-count10-pd: 3px;
        }

        &.pc-nvcnt-pd2 {
            ---pc-ntvw-count10-pd: 5px;
        }
    }

    .pc-btn-notviewed {
        border-radius: 50%;
        border-width: 0;
        box-shadow: 0 0 3px 1px var(--sys-outline-variant);
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        padding: 2px;
    }

    .pc-angle {
        color: var(--sys-tertiary);
        display: block;
        height: 2.2rem;
        width: 2.2rem;
    }

    // ** Footer **

    .pc-msg-frm {
        background-color: inherit;
        box-sizing: border-box;
        display: flex;
        flex: 0 0 auto;
        padding: 2px var(--pc-pd-rg, 2px) 2px var(--pc-pd-lf, 2px);
        position: relative;
        width: 100%;
    }

    .pc-msg-edt {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .pc-nmsg-label {
        &:not([is-focuse-msg]) {
            ---pc-nmsg-label-cl: var(--mdc-outlined-text-field-outline-color, var(--mat-app-outline));
        }

        &[is-focuse-msg] {
            ---pc-nmsg-label-cl: var(--mdc-outlined-text-field-focus-outline-color, var(--mat-app-primary));
        }

        align-items: center;
        color: var(---pc-nmsg-label-cl);
        display: flex;
        font-size: calc(1rem - 4px);
        font-style: italic;
        font-weight: 500;
    }

    .pc-svg-mini {
        height: 1rem;
        width: 1rem;
        vertical-align: middle;
    }

    .pc-new-msg {
        --mat-form-field-container-vertical-padding: 0.75rem;
        --mat-form-field-container-text-size: var(--pc-mdl-fn-sz, 1rem);
        background-color: var(--pc-new-msg-bg, var(---pc-itm-self-bg));

        .mat-mdc-form-field-infix {
            --mat-form-field-container-height: 0px;
        }

        .mat-mdc-text-field-wrapper {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .pc-msg-btns {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pc-msg-btns-sepr {
        height: 12%;
        min-height: 6px;
        width: 100%;
    }

    .pc-msg-icon {
        --mdc-icon-button-state-layer-size: 36px;
        --mdc-icon-button-icon-size: 36px;
        --mdc-icon-button-icon-color: var(--app-svg-icon-cl);
    }

    .pc-blocked {
        ---pc-svg-blk: var(--pc-svg-blk, 2rem);
        color: var(--sys-tertiary);
        font-size: calc(1rem - 1px);
        margin-right: 0.5rem;
        padding: 0.3rem 0.5rem;
    }

    .pc-blk-title {
        align-items: center;
        display: flex;
    }

    .pc-svg-block {
        color: var(--app-svg-icon-cl); // for "svg"
        height: var(---pc-svg-blk);
        margin-right: 0.3rem;
        width: var(---pc-svg-blk);
        vertical-align: middle;
    }
}


// ** context menu **
.cdk-overlay-pane {
    .mat-mdc-menu-panel.pc-menu-panel {
        ---pc-svg-sz: var(--pc-svg-sz, 1.4rem);

        .pc-svg-box {
            color: var(--app-svg-icon-cl); // for "svg"
            height: var(---pc-svg-sz);
            width: var(---pc-svg-sz);
            vertical-align: middle;
        }

        .pc-menu-label {
            margin-left: 0.5rem;
            vertical-align: middle;
        }
    }
}