/*# sourceURL=panel-chat.component.scss */

app-panel-chat {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;

    // ** Header **

    .pc-header {
        flex: 0 0 auto;
        outline: 1px dashed orange;
        padding: 1rem 1rem;
    }

    // ** Middle **

    .pc-middle {
        outline: 1px dashed green;
        box-sizing: border-box;
        // border: 1px solid var(--app-theme-accent);
        flex: 1 1 auto;
        font-size: 0.75rem; //  12px;
        overflow-y: auto;
        width: 100%;

        // section {
        //     &:not(:first-of-type) {
        //         margin-top: 15px;
        //     }
        // }
    }

    section {
        position: relative; // ?
    }

    .pc-chat-item {
        outline: 1px dashed green;
        // display: flex;
        // flex-direction: column;
        display: flex;
        flex-direction: column;
        // font-family: "Google Sans";
        gap: .25rem;
        padding: .5rem .5rem;
    }

    // -- item-date  --
    .pc-item-date {
        // display: flex;
        // flex: 0 0 1.25rem;
        align-items: baseline;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        // padding-left: 1rem;
        // padding-right: 1rem;
    }

    .pc-date-nickname {
        // flex: 1 1 auto;
        color: rgb(32, 33, 36); // var(--hotlane-on-background-color);
        display: inline-block;
        float: left;
        font-size: .8125rem;
        font-weight: 500;
        word-wrap: break-word;
    }

    .pc-date-time {
        // flex: 1 0 auto;
        // text-align: end;
        // margin-right: 2px;
        color: rgb(95, 99, 104); //   var(--hotlane-on-surface-variant-color);
        display: inline-block;
        float: left;
        font-size: .75rem;
    }

    // -- item-info --
    .pc-item-info {
        outline: 1px dashed orange;
        // display: flex;
        // flex: 1 1 auto;
        clear: both;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        max-width: 100%;

        .pc-info-avatar {
            flex: 0 0 46px;
        }

        .pc-info-text {
            flex: 1 1 auto;
        }

        position: relative;
    }



    // ** Footer **

    .pc-footer {
        flex: 0 0 auto;
        outline: 1px dashed darkblue;
        position: relative;
        width: 100%;
    }

    .mat-mdc-form-field.pc-new-msg {
        margin-bottom: 2px;
        width: 100%;
        --mat-form-field-container-vertical-padding: 12px; // 16px

        .mdc-text-field--outlined {
            padding: 0 12px;
        }

        &.pc-modify-msg {
            .mat-mdc-form-field-flex {
                --mdc-outlined-text-field-focus-outline-color: var(--sys-tertiary);
            }
        }

    }

    .pc-textarea {
        resize: none;
    }


}