/*# sourceURL=panel-chat.component.scss */

app-panel-chat {
    ---pc-itm-bg: var(--pc-itm-bg, var(--sys-surface));
    ---pc-itm-sh: var(--pc-itm-sh, var(--sys-outline-variant));

    align-items: center;
    background-color: var(--pc-bg, inherit);
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;

    // ** Header **

    .pc-header {
        flex-shrink: 0;
        font-size: var(--pc-hdr-fn-sz, 1rem);
        padding: 0.4rem 0.5rem;
    }

    // ** separator **
    .pc-sepr {
        background-color: var(---pc-itm-sh);
        height: 0.25rem;
        width: 100%;
    }

    // ** Middle **

    .pc-middle {
        box-sizing: border-box;
        flex-grow: 1;
        font-size: var(--pc-mdl-fn-sz, 1rem);
        overflow-y: auto;
        padding-left: var(--pc-pd-lf, 2px);
        padding-right: var(--pc-pd-rg, 2px);
        width: 100%;
    }

    .pc-item {
        &.pc-self {
            ---itm-bg: var(--pc-itm-self-bg, var(--sys-on-primary));
            ---itm-sh: var(--pc-itm-self-sh, var(--sys-primary-fixed-dim));
        }

        background-color: var(---itm-bg, var(---pc-itm-bg));
        box-shadow: 0 0 2px 1px var(---itm-sh, var(---pc-itm-sh));
        box-sizing: border-box;
        border-radius: var(--pc-br-rd, 0.75rem);
        display: flex;
        flex-direction: column;
        gap: var(--pc-itm-gp, .25rem);
        margin: var(--pc-itm-mr, 0.5rem 0px);
        padding: var(--pc-itm-pd, 0.25rem 0.5rem);
    }

    // -- item nickname and date  --
    .pc-item-name-date {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        gap: .5rem;
    }

    .pc-item-name {
        &.pc-myself {
            ---name-cl: var(--pc-name-self-cl, var(--sys-primary));
        }

        color: var(---name-cl, var(--pc-name-cl, var(--sys-on-surface)));
        display: inline-block;
        font-size: var(--pc-name-fn-sz, inherit);
        font-weight: 500;
        overflow-wrap: anywhere;
    }

    .pc-item-date {
        color: var(--pc-date-cl, var(--sys-secondary));
        display: inline-block;
        font-size: var(--pc-date-fn-sz, inherit);
        min-width: var(--pc-date-mn-wd, 6rem);
        word-wrap: break-word;
    }

    // -- item-msg --
    .pc-item-msg {
        &.pc-myself {
            ---msg-cl: var(--pc-msg-self-cl);
        }

        color: var(---msg-cl, var(--pc-msg-cl, var(--sys-on-surface)));
        font-size: var(--pc-msg-fn-sz, inherit);
        position: relative;
        // white-space: pre-wrap;
        word-wrap: break-word;
    }

    // ** Footer **

    .pc-footer {
        background-color: inherit;
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-left: var(--pc-pd-lf, 2px);
        padding-right: var(--pc-pd-rg, 2px);
        position: relative;
        width: 100%;
    }

    .mat-mdc-form-field.pc-new-msg {
        --mat-form-field-container-vertical-padding: 0.75rem;
        --mat-form-field-container-text-size: var(--pc-mdl-fn-sz, 1rem);
        background-color: var(--pc-new-msg-bg);
        border-radius: var(--mdc-outlined-text-field-container-shape);
        width: 100%;

        .mat-mdc-icon-button {
            --mdc-icon-button-state-layer-size: 48px;
            --mdc-icon-button-icon-size: 32px;
        }

        .mat-mdc-text-field-wrapper {
            padding-right: 0.75rem;
            padding-left: 0.75rem;
        }

        textarea.pc-textarea {
            line-height: 1.5;
            resize: none;
            scrollbar-width: thin;
        }
    }

    .pc-svg-send {
        color: var(--sys-on-surface-variant);
    }

}