/*# sourceURL=panel-stream-calendar.component.scss */

app-panel-stream-calendar {
  container-name: cnt-stream-calendar;
  display: block;

  @container cnt-stream-calendar style(--color-scheme: dark) {
    .mat-calendar {
      ---psc-pn-bg-delta: 10%;
    }
  }
  .mat-calendar {
    ---psc-pn-bg: color-mix(in srgb, var(--app-pn-strm-calendr) calc(10% + var(---psc-pn-bg-delta, 0%)), var(--sys-surface));
    ---psc-pn-brd: color-mix(in srgb, var(--app-pn-strm-calendr) calc(30% + var(---psc-pn-bg-delta, 0%)), var(--sys-surface));
    ---psc-sel-bg: color-mix(in srgb, var(--app-pn-strm-calendr) calc(10% + var(---psc-pn-bg-delta, 0%)), var(--sys-inverse-primary));
    ---psc-emblem-bg: color-mix(in srgb, var(--app-pn-strm-calendr) calc(10% + var(---psc-pn-bg-delta, 0%)), var(--sys-tertiary-container));

    background-color: var(---psc-pn-bg);
    border: 1px solid var(---psc-pn-brd);
    border-radius: 1em;
    box-sizing: border-box;
    min-height: 24em;
    min-width: 17em;
  }
  button.psc-day-with-streams {
    background-color: var(---psc-sel-bg);
    border-radius: 100%;
  }
  .mat-calendar-header {
    padding: 0 8px;
  }
  .mat-calendar-controls {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
  .mat-calendar-body-label {
    visibility: hidden;
  }
  .mat-calendar {
    min-height: 19em;
  }
  .mat-calendar-table-header-divider {
    display: none;
  }
}