/*# sourceURL=panel-stream-calendar.component.scss */

app-panel-stream-calendar {
  display: block;
  padding-bottom: 1px;
  background-color: var(--app-stream-pn);
  border: 1px solid var(--app-stream-pn-low);
  border-radius: 0.75em;
  box-sizing: border-box;

  mat-calendar {
    min-height: 24em;
  }
  button.psc-day-with-streams {
    background: var(--app-stream-pn-day);
    border-radius: 100%;
  }

  .mat-calendar-body-label {
    visibility: hidden;
  }
}


.dark-theme app-panel-stream-calendar {
  .mat-calendar-table-header, .mat-calendar-body-label {
    color: inherit;
  }
  .mat-calendar-body-cell-content, .mat-date-range-input-separator {
    color: inherit;
  }
}