/*# sourceURL=panel-stream-calendar.component.scss */

app-panel-stream-calendar {
  display: block;
  padding-bottom: 1px;
  box-sizing: border-box;

  button.psc-day-with-streams {
    background: var(--green-200);
    border-radius: 100%;
  }
}

