/*# sourceURL=panel-stream-editor.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-panel-stream-editor {
  display: block;
  height: 100%;
  user-select: none;

  .pse-text {
    font-style: normal;
    font-weight: 500;
    font-size: medium;
    color: var(--app-theme-primary);
    margin-bottom: 0.5em;
  }
  [max-wd] {
    width: 100%;
  }
  .pse-start-date-time-label {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .pse-logo-block {
    margin-bottom: 0.5em;
    height: 130px;
    text-align: center;
  }
  .pse-logo-image {
    height: 100%;
    display: inline-block;
    position: relative;
  }
  .pse-image-view {
    height: 100%;
  }
  .pse-delete-logo {
    position: absolute;
    right: -2.5vw;
    width: 20px;
    height: 22px;
    top: 0;
    background-color: transparent;
    border: none;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .pse-start-date-time {
    display: flex;
    justify-content: space-around;
  }

  .pse-start-time-wrap {
    margin-bottom: 1.2em;
    position: relative;
    & > mat-label {
      &[is-disable] { color: var(--app-theme-accent); }
    }
    & > div {
      font-size: 16px;
    }
  }
  .pse-input {
    border-radius: 0.25em;
    border-style: solid;
    box-sizing: border-box;
    font: inherit;
    height: 3em;
    min-width: 10em;
    outline: none;
    &:not(:focus) {
      border-width: 1px;
      --pse-input-pd-delta: 1px;
    }
    padding-left: calc(0.9em + var(--pse-input-pd-delta, 0px));
    padding-right: calc(0.7em + var(--pse-input-pd-delta, 0px));
    border-color: var(--app-input-brd);
    &:not(:disabled):not(:focus):hover {
      border-color: var(--app-input-brd-hov);
    }
    &:focus {
      border-color: var(--app-primary);
    }
    &:disabled {
      color: var(--app-input-dis);
      border-color: var(--app-input-brd-dis);
    }
  }
  .pse-start-time-block {
    display: block;
  }
  .pse-start-time-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
  }
  
  mat-slide-toggle {
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .pse-btn-chip-remove {
    background-color: transparent;
    border: none;
    font-size: large;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    height: 1.3vh;
  }

  .pse-link-param {
    border: 1px solid var(--app-theme-input-border);
    border-radius: 0.286em;
    box-sizing: border-box;
    padding: 10px 13px 10px 13px;
    display: flex;
    &>.icon { flex: 0 0 auto; }
    align-items: center;
    justify-content: space-between;
  }
  .pse-ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .pse-icon {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.pse-copy { width: 31px; height: 25px; margin-left: 7px; }
  }

  mat-card-actions {
    text-align: center;
  }
  .pse-card-actions {
    padding: 1em;
  }
  .pse-card-actions-label {
    display: flex;
    align-items: center;
  }
  .pse-save {
    margin-bottom: 10px;
  }

  .pse-delete-box {
    width: 14px;
    height: 18px;
    display: inline-block;
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/delete-box.svg');
  }
  .pse-save-file {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/save-file.svg');
    margin-right: 0.5em;
  }

  /*.ngx-mat-timepicker[disabled="true"] {
    .mat-form-field-infix>.mat-input-element { color: var(--app-theme-accent); }
    .ngx-mat-timepicker-spacer { color: var(--app-theme-accent); }
    .mat-icon-button { color: var(--app-theme-accent); }
  }*/
    
  @media screen and (min-width: dimensions.$tablet-768) and (max-width: dimensions.$laptop-1024)  { // tablet  (768px - 1024px)
    @media (orientation: portrait) {
      mat-card { width: 50vw; }    
    }
  }
  @media screen and (min-width: dimensions.$laptop-1024) { // desktop   (1024px and more)
    mat-card { width: 40vw; }
  }
}


.dark-theme app-panel-stream-editor .pse-icon {
  &.pse-copy { background-image: url('../../../assets/icons/copy.svg'); }
}

.light-theme app-panel-stream-editor .pse-icon {
  &.pse-copy { background-image: url('../../../assets/icons/copy-light.svg'); }
}