/*# sourceURL=panel-stream-editor.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-panel-stream-editor {
  ---pse-pn-bg: var(--app-stream-pn);
  ---pse-pn-brd: var(--app-stream-pn-low);

  ---pse-pd: calc(min(var(--app-display-size), 1280) / 128 * 3 / 10 * 1em);
  ---pse-wd: min(100vw, calc((32 + var(--app-display-size) / 128) * 1em));

  [pse-mr-tp-0_5] { margin-top: 0.5em; }
  [pse-mr-tp-1] { margin-top: 1.1em; }

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: auto;

  .pse-content {
    background-color: var(--pse-pn-bg, var(---pse-pn-bg));
    border-color: var(--pse-pn-brd, var(---pse-pn-brd));
    border-style: solid;
    border-width: 2px;
    border-radius: var(--pse-pn-brd-rd, var(---pse-pd));
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: calc(var(---pse-pd) / 2) var(---pse-pd);
    width: var(---pse-wd);
  }

  .pse-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
  }

  .pse-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    text-align: center;
  }

  .pse-logo {
    --fiau-hg: calc(var(---pse-logo-mx-hg, 5em) * 2);
  }

  .pse-date-toggle {
    margin-left: 0.5em;
  }
  .pse-start-date-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .pse-start-date {
    margin-bottom: 0.55em;
    margin-right: var(---pse-pd);
    width: 18em;
  }
  .pse-start-time {
    width: 13em;
  }

  .pse-icon {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }
  .pse-copy {
    margin: 0.5em;
    height: 2em;
    width: 2em;
  }

  // ** Card Actions **

  .pse-actions {
    display: flex;
    justify-content: center;
  }
  .pse-actions-label {
    display: flex;
    align-items: center;
  }

  .mat-mdc-raised-button.pse-cancel {
    --mdc-protected-button-container-color: #DCDCDC; // #FFDAB9 #D2B48C #fff;
    --mdc-protected-button-label-text-color: #000;
  }

  .pse-save {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/file-save.svg');
    margin-right: 0.5em;
  }

}

.dark-theme app-panel-stream-editor .pse-icon {
  &.pse-copy { background-image: url('/assets/icons/copy.svg'); }
}

.light-theme app-panel-stream-editor .pse-icon {
  &.pse-copy { background-image: url('/assets/icons/copy-light.svg'); }
}
