/*# sourceURL=panel-stream-editor.component.scss */

app-panel-stream-editor {
  ---pse-width: calc(100% - 1vw + 1vw); // width in "px".
  ---pse-pn-bg: var(--app-stream-pn);
  ---pse-pn-brd: var(--app-stream-pn-low);

  // 512.22px: 18.767px;  640px: 23.976px;  767.78px: 28.767px;  896.67px: 33.611px;  1024.44px: 38.403px;  1280px: 47.986px;
  ---pse-pd: calc(0.0375 * min(var(---pse-width), 1280px) - 0.0115px);  
  ---pse-wd: min(100vw, calc((32px + var(---pse-width) / 128) * 16));

  [pse-mr-tp-0_5] { margin-top: 0.5em; }
  [pse-mr-tp-1] { margin-top: 1.1em; }

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  .pse-content {
    background-color: var(--pse-pn-bg, var(---pse-pn-bg));
    border-color: var(--pse-pn-brd, var(---pse-pn-brd));
    border-style: solid;
    border-width: 2px;
    border-radius: var(--pse-pn-brd-rd, var(---pse-pd));
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: calc(var(---pse-pd) / 2) var(---pse-pd);
    width: var(---pse-wd);
  }

  .pse-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
  }

  .pse-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    text-align: center;
  }

  .pse-logo {
    height: 15em;
  }

  .pse-date-toggle {
    margin-left: 0.5em;
  }
  .pse-start-date-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  .pse-start-date {
    margin-bottom: 0.55em;
    margin-right: var(---pse-pd);
    width: 18em;
  }
  .pse-start-time {
    width: 13em;
  }

  .pse-icon {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }
  .pse-copy {
    margin: 0.5em;
    height: 2em;
    width: 2em;
  }

  // ** Card Actions **

  .pse-actions {
    display: flex;
    justify-content: center;
  }
  .pse-actions-label {
    display: flex;
    align-items: center;
  }

  .mat-mdc-raised-button.pse-cancel {
    --mdc-protected-button-container-color: #DCDCDC; // #FFDAB9 #D2B48C #fff;
    --mdc-protected-button-label-text-color: #000;
  }

  .pse-btn-save[disabled] {
    ---pp-svg-save-op: 0.8;
  }
  .pse-svg-diskette-bin {
    color: var(--app-svg-icon-cl);
    display: block;
    height: 1.75rem;
    margin-right: 0.75em;
    opacity: var(---pp-svg-save-op, 1);
    width: 1.75rem;
  }

}

.dark-theme app-panel-stream-editor .pse-icon {
  &.pse-copy { background-image: url('/assets/icons/copy.svg'); }
}

.light-theme app-panel-stream-editor .pse-icon {
  &.pse-copy { background-image: url('/assets/icons/copy-light.svg'); }
}
