/*# sourceURL=panel-stream-editor.component.scss */

app-panel-stream-editor {
  ---pse-pn-bg: color-mix(in srgb, var(--app-pn-stream) 10%, var(--sys-surface));
  ---pse-pn-brd: color-mix(in srgb, var(--app-pn-stream) 22%, var(--sys-surface));
  ---pse-pd: calc(0.03125 * min(100vw, 1280px) - 2px);  // 512.22px: 14px;  1024.44px: 30px;
  ---pse-wd: min(100vw, calc((32px + 100vw / 128) * 16));

  [pse-mr-tp-0_5] { margin-top: 0.5em; }
  [pse-mr-tp-1] { margin-top: 1.1em; }

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  .pse-content {
    background-color: var(--pse-pn-bg, var(---pse-pn-bg));
    border-color: var(--pse-pn-brd, var(---pse-pn-brd));
    border-style: solid;
    border-width: 2px;
    border-radius: var(--pse-pn-brd-rd, var(---pse-pd));
    box-shadow: var(--pse-pn-sh, rgba(0, 0, 0, 0.35) 0px 4px 11px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: calc(var(---pse-pd) / 2) var(---pse-pd);
    width: var(---pse-wd);
  }

  .pse-form {
    display: flex;
    flex-direction: column;
    padding-bottom: calc(var(---pse-pd) / 2);
  }
  .pse-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    text-align: center;
  }
  .pse-logo {
    height: min(15em, var(---pse-logo-mx-hg, 15em));  // ---pse-logo-mx-hg: 1024px;
  }
  .pse-date-toggle {
    margin-left: 0.5em;
  }
  .pse-start-date-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pse-start-date {
    margin-bottom: 0.55em;
    margin-right: var(---pse-pd);
    width: 18em;
  }
  .pse-start-time {
    width: 13em;
  }
  .pse-file-copy-bin {
    color: var(--app-svg-icon-cl);
    display: block;
    height: 2rem;
    margin-right: 0.75em;
    width: 2rem;
  }


  // ** Card Actions **

  .pse-actions {
    text-align: center;
  }
  .pse-actions-label {
    display: flex;
    align-items: center;
  }

  .pse-btn-save[disabled] {
    ---pp-svg-save-op: 0.8;
  }
  .pse-svg-diskette-bin {
    color: var(--app-svg-icon-cl);
    display: block;
    height: 1.75rem;
    margin-right: 0.75em;
    opacity: var(---pp-svg-save-op, 1);
    width: 1.75rem;
  }
}
