/*# sourceURL=panel-stream-editor.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-panel-stream-editor {
  ---pse-pn-bg: var(--app-pn-stream);
  ---pse-pn-brd: var(--app-pn-stream-low);

  @media screen and (width <= dimensions.$mobile-480) {
    ---pse-crd-wd: 100vw;
    ---pse-pd: 0.5em;
    ---pse-wd: 100%;
  }
  @media screen and (dimensions.$mobile-480 < width <= dimensions.$tablet-768) {
    ---pse-crd-wd: 100vw;
    ---pse-pd: 1em;
    ---pse-wd: 39em; // 30em;
  }
  @media screen and (dimensions.$tablet-768 < width <= dimensions.$laptop-1024) {
    ---pse-crd-wd: 80vw;
    ---pse-pd: 1.5em;
    ---pse-wd: 41em; // 32em;
  }
  @media screen and (dimensions.$laptop-1024 < width <= dimensions.$desktop-1280) {
    ---pse-crd-wd: 60vw;
    ---pse-pd: 2em;
    ---pse-wd: 43em; //34em;
  }
  @media screen and (dimensions.$desktop-1280 < width) {
    ---pse-crd-wd: 40vw;
    ---pse-pd: 2.5em;
    ---pse-wd: 45em; //36em;
  }

  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: var(---pse-pd) 0;
  user-select: none;

  .pse-panel {
    background-color:  var(--pse-pn-bg,var(---pse-pn-bg));
    border-color: var(--pse-pn-brd, var(---pse-pn-brd));
    border-style: solid;
    border-width: 1px;
    border-radius: var(--pse-pn-brd-rd, var(---pse-pd));
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(---pse-pd) 0;
    width: var(---pse-wd);
  }
  .pse-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 var(---pse-pd);
  }
  .pse-over-auto {
    overflow: auto;
  }

  [mr-tp-025] { margin-top: 0.25em; }
  [wd-100] { width: 100%; }


  // ** Card Content **

  .pse-text {
    font-style: normal;
    font-weight: 500;
    font-size: medium;
    margin-bottom: 0.5em;
  }

  .pse-logo-block {
    border-color: var(--pse-logo-brd-cl, rgba(0, 0, 0, 0.38));
    border-style: solid;
    border-width: 1px;
    border-radius: var(--pse-logo-brd-rd, 0.3em);
    box-sizing: border-box;
    height: 10em;
    margin-bottom: 0.5em;
    text-align: center;
  }
  .pse-logo-image {
    height: 100%;
    display: inline-block;
    position: relative;
  }
  .pse-image-view {
    height: 100%;
  }
  .pse-delete-logo {
    position: absolute;
    right: -2.5vw;
    width: 20px;
    height: 22px;
    top: 0;
    background-color: transparent;
    border: none;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  mat-hint {
    color: var(--black-500);
  }

  .pse-start-date-time-label {
    margin-bottom: 0.5em;
  }
  .pse-toggle {
    margin-left: 2em;
  }
  .pse-start-date-time {
    display: flex;
  }
  .pse-start-time {
    margin-left: 2em;
    width: 16em;
  }

  .pse-link-param {
    border: 1px solid var(--app-theme-input-border);
    border-radius: 0.286em;
    box-sizing: border-box;
    padding: 10px 13px 10px 13px;
    display: flex;
    &>.icon { flex: 0 0 auto; }
    align-items: center;
    justify-content: space-between;
  }

  .pse-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .pse-icon {
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.pse-copy { width: 31px; height: 25px; margin-left: 7px; }
  }

  // ** Card Actions **

  .pse-actions {
    display: flex;
    justify-content: space-evenly;
    padding: var(---pse-pd) var(---pse-pd) 0 var(---pse-pd);
  }
  .pse-actions-label {
    display: flex;
    align-items: center;
  }

  .mat-mdc-raised-button.pse-cancel {
    --mdc-protected-button-container-color: #DCDCDC; // #FFDAB9 #D2B48C #fff;
    --mdc-protected-button-label-text-color: #000;
  }

  .pse-delete-box {
    width: 14px;
    height: 18px;
    display: inline-block;
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/delete-box.svg');
  }
  .pse-save {
    width: 25px;
    height: 25px;
    display: inline-block;
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/save-file.svg');
    margin-right: 0.5em;
  }
}

.dark-theme app-panel-stream-editor .psd-icon {
  &.pse-copy { background-image: url('../../../assets/icons/copy.svg'); }
}

.light-theme app-panel-stream-editor .psd-icon {
  &.pse-copy { background-image: url('../../../assets/icons/copy-light.svg'); }
}
