<div class="psd-card">
  <div class="psd-card-content">
    <form [formGroup]="formGroup" novalidate>
        
      <div class="psd-text">{{ 'stream_edit.caption' | translate }}</div>

      <mat-form-field class="psd-max-wd" appearance="outline" color="primary">
        <mat-label>{{ 'stream_edit.title' | translate }}</mat-label>
        <input matInput
          type="text"
          formControlName="title"
          [required]="isCreate"
          [attr.maxlength]="(maxLenTitle > 0 ? maxLenTitle + 1 : null)"
          autocomplete="off"
        />
        <mat-error>{{ getErrorMsg(controls.title.errors) | translate : controls.title.errors }}</mat-error>
      </mat-form-field>

      <app-field-descript class="psd-max-wd psd-mr-tp"
        formControlName="descript"
        [isRequired]="false"
        [label]="'stream_edit.descript'"
        [minLen]="minLenDescription"
        [maxLen]="maxLenDescription"
        [minRows]="countRowsDescription"
        [maxRows]="countRowsDescription">
      </app-field-descript>

      <div class="psd-text">{{ 'stream_edit.thumbnail' | translate }}</div>

      <div class="psd-logo-block">
        <app-field-file-upload *ngIf="!logoView"
          [maxFileSize]="maxFileSize"
          [validFileTypes]="validFileTypes"
          (addFile)="addFile($event)"
          (readFile)="readFile($event)">
        </app-field-file-upload>
        <div *ngIf="!!logoView" class="psd-logo-image">
          <img class="psd-image-view" [src]="logoView" alt="logo unavailable">
          <button class="psd-delete-logo" (click)="deleteFileLogo()">
            <span class="psd-delete-box"></span>
          </button>
        </div>
      </div>

      <div class="psd-text">{{ 'stream_edit.tags' | translate }}</div>

      <mat-form-field class="psd-max-wd" appearance="outline" color="primary">
        <mat-label>{{ 'stream_edit.add_tags_max_4' | translate }}</mat-label>
        <mat-chip-grid #chipGrid aria-label="Enter fruits">
          <mat-chip-row
            *ngFor="let tagValue of tagValues"
            [removable]="tagValueRemovable"
            (removed)="tagValueRemove(tagValue)">
            {{ tagValue }}
            <button class="psd-btn-chip-remove" matChipRemove *ngIf="tagValueRemovable">&#215;</button>
          </mat-chip-row>
          <input #tagValue
            [formControl]="tagValueCtrl"
            [matChipInputFor]="chipGrid"
            [attr.readonly]="tagValues.length == tagValuesMax ? '' : null"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="tagValueAdd($event)"
          />
        </mat-chip-grid>
      </mat-form-field>

      <div class="psd-start-date-time-label">
        <span class="psd-text">{{ 'stream_edit.set_date_and_time_or_now' | translate }}</span>
        <mat-slide-toggle
          color="primary"
          formControlName="isStartTime"
          (change)="changeIsStartTime()">
        </mat-slide-toggle>
      </div>

      <div class="psd-start-date-time">
        
        <mat-form-field appearance="outline" color="primary">
          <mat-label>{{ 'stream_edit.start_date' | translate }}</mat-label>
          <input matInput formControlName="startDate"
            [matDatepicker]="datepickerStartDate"
          />
          <mat-datepicker-toggle matSuffix [for]="datepickerStartDate"></mat-datepicker-toggle>
          <mat-datepicker #datepickerStartDate></mat-datepicker>
        </mat-form-field>

        
        <app-field-time class="psd-start-time"
          formControlName="startTime"
          [isRequired]="true">
        </app-field-time>
        <!-- [attr.disabled]="controls.startTime.disabled ? true : null" -->
      </div>

      <ng-container *ngIf="!isCreate">
        <div class="">
          <div class="psd-text">{{ 'stream_edit.link_for_visitors' | translate }}</div>
        </div>
        <div class="psd-link-param">
          <div class="psd-ellipsis">
            <span>{{ linkForVisitors }}</span>
          </div>
          <div class="psd-icon psd-copy"
            [matTooltip]="'stream_edit.copy_stream_link_to_clipboard' | translate"
            matTooltipPosition="above"
            (click)="doCopyToClipboard(linkForVisitors)"
          ></div>
        </div>
      </ng-container>

    </form>

  </div>
  <div class="psd-card-actions">

    <button mat-raised-button color="primary"
      [disabled]="formGroup.pristine || formGroup.invalid"
      (click)="saveStreamCard()">
      <span class="psd-card-actions-label">
        <i class="psd-save-file"></i>
        {{ (isCreate ? 'stream_edit.go_public' : 'stream_edit.save') | translate }}
      </span>
    </button>
    
    <button mat-raised-button class="psd-cancel"
      (click)="cancelStreamCard()">
      <span class="psd-card-actions-label">
        {{ 'buttons.cancel' | translate }}
      </span>
    </button>
  
  </div>
  <sub>
startDate: {{ controls.startDate.value | date: "dd MMMM yyyy HH:mm:ss z"}} __ startTime: {{ controls.startTime.value }}<br/>
pristine: {{ formGroup.pristine }} __ invalid: {{ formGroup.invalid }}<br/>
errors: {{ formGroup.errors | json }}<br/>
  </sub>
</div>
