/*# sourceURL=panel-stream-state.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-panel-stream-state {
  &[state="Paused"] {
    ---pss-bg-tr_pr: transparent;
  }

  background-color: var(---pss-bg-tr_pr, var(--pss-panel-bg));
  container: cnt-state / inline-size;
  color: inherit;
  height: 100%;
  overflow: hidden;

  &[state="Started"] {
    display: none;
  }
  &:not([state="Started"]) {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  } 
   
  .pss-image {
    color: var(--pss-icon-cl);
    background-color: currentColor;
    display: inline-block;
    height: var(---pss-image-wd);
    width: var(---pss-image-wd);
  }
  
  &[state="stopped"] .pss-image { mask-image: url('/assets/icons/panel-stream-state/has-ended-bin.svg'); }
  &[state="waiting" ] .pss-image { mask-image: url('/assets/icons/panel-stream-state/has-not-started-bin.svg'); }
  &[state="preparing" ] .pss-image { mask-image: url('/assets/icons/panel-stream-state/has-not-started-bin.svg'); }
  &[state="paused" ] .pss-image { mask-image: url('/assets/icons/panel-stream-state/has-paused-bin.svg'); }
  &[state] .pss-image { mask-repeat: no-repeat; }
  
  .pss-text {
    font-size: var(---pss-text-fn-sz);
    font-style: normal;
    font-weight: 700;
    margin-top: 1em;
    max-width: 95%;
    text-align: center;
  }

  @container cnt-state (width <= 768px) {
    .pss-image { ---pss-image-wd: min(30vh, 30vw); }
    .pss-text { ---pss-text-fn-sz: min(2.5em, 11vh); } // 36.8px
  }
  @container cnt-state (768px < width <= 1024px) {
    .pss-image { ---pss-image-wd: min(25vh, 25vw); }
    .pss-text { ---pss-text-fn-sz: 3.5em; } // 56px
  }
  @container cnt-state (1024px < width) {
    .pss-image { ---pss-image-wd: min(23vh, 23vw); }
    .pss-text { ---pss-text-fn-sz: 4em; } // 64px
  }
}
