/*# sourceURL=panel-stream-info.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-panel-stream-info {
  ---psi-pn-bg: color-mix(in srgb, var(--app-pn-stream) 10%, var(--sys-surface));
  ---psi-pn-brd: color-mix(in srgb, var(--app-pn-stream) 30%, var(--sys-surface));
  ---psi-title-cl: color-mix(in srgb, var(--sys-tertiary) 40%, var(--sys-on-surface));
  
    // --app-pn-stream
  --psi-btn-dpl-wd: 8em;
  --psi-btn-edt-wd: 5.5em;
  --psi-btn-del-wd: 6.5em;

  @media screen and (width <= dimensions.$laptop-1024) {
    --psi-pd: 2em;
    --psi-actn-fl-dr: column;
    --psi-actn2-fl-dr: column;
    --psi--btn-dpl-wd: 8em;
    --psi--btn-edt-wd: 8em;
    --psi--btn-del-wd: 8em;
    --psi--btn-mr-ver: 0.15em;
  }
  @media screen and (dimensions.$laptop-1024 < width <= dimensions.$desktop-1280) {
    --psi-pd: 2.5em;
    --psi-actn-fl-dr: row;
    --psi-actn2-fl-dr: column;
    --psi-actn2-js-cnt: space-between;
    --psi--btn-edt-wd: 6.5em;
  }
  @media screen and (dimensions.$desktop-1280 < width) {
    --psi-pd: 3em;
    --psi-actn-fl-dr: row;
    --psi-actn2-fl-dr: row;
  }

  container: cnt-panel-stream-info / inline-size;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  .psi-shrink-0 { flex-shrink: 0; }

  // ** Stream card **
  .psi-stream-card {
    align-items: center;
    background-color: var(---psi-pn-bg);
    border: 1px solid var(---psi-pn-brd);
    border-radius: 0.75em;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    &:first-of-type { margin-top: 1px; }
    &:not(:first-of-type) { margin-top: 0.75em; }
    // &>.psi-logo { flex: 0 0 130px; }
    &>.psi-details { flex-grow: 1; }
  }
  .psi-logo {
    align-items: center;
    border-radius: 0.75em;
    cursor: pointer;
    display: flex;
    flex-basis: 8rem;
    flex-grow: 0;
    flex-shrink: 0;
    height: 6rem;
    justify-content: center;
  }

  // ** Details **
  .psi-details {
    box-sizing: border-box;
    padding: 0.25em 0.5em;
    // outline: 1px dashed green;
  }
  .psi-date {
    font-size: calc(1em - 1px);
  }
  .psi-title {
    color: var(---psi-title-cl);
    height: 1.5rem;
    margin-bottom: 0.375rem;
    margin-top: 0.375rem;
    overflow: hidden;
  }
  .psi-descript {
    font-size: calc(1em - 1px);
    height: 1.5rem;
    overflow: hidden;
  }

  // ** Actions **
  .psi-actions {
    align-items: center;
    display: flex;
    flex-direction: var(--psi-actn-fl-dr);
    height: 100%;
    justify-content: center;
    // outline: 1px dashed blueviolet;
    --mdc-outlined-button-container-height: 32px;
  }

  .psi-actions-both {
    display: flex;
    flex-direction: var(--psi-actn2-fl-dr);
    justify-content: var(--psi-actn2-js-cnt, unset);
    // outline: 1px dashed darkgoldenrod;
  }


  .psi-action-label {
    align-items: center;
    display: flex;
    &>i { margin-right: 0.5em; }
  }
  .psi-btn-dpl {
    width: var(--psi--btn-dpl-wd, var(--psi-btn-dpl-wd));
  }
  .psi-btn-edt {
    width: var(--psi--btn-edt-wd, var(--psi-btn-edt-wd));
  }
  .psi-btn-del {
    width: var(--psi--btn-del-wd, var(--psi-btn-del-wd));
  }

  .psi-mr {
    margin-right: 0.8em;
    margin-top: var(--psi--btn-mr-ver, 0.25em);
    margin-bottom: var(--psi--btn-mr-ver, 0.25em);
  }

  .psi-logo-future {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/logo-future.svg');
    display: inline-block;
    height: 58px;
    width: 58px;
  }
  .psi-duplicate-accent {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/duplicate-accent.svg');
    display: inline-block;
    height: 24px;
    width: 24px;
  }
  .psi-edit-accent {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/edit-accent.svg');
    display: inline-block;
    height: 20px;
    width: 20px;
  }
  .psi-delete-accent {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/delete-accent.svg');
    display: inline-block;
    height: 24px;
    width: 24px;
  }
}
