@for (stream of streamList; track stream.id) {
  <div class="psi-stream-card">

    <a class="psi-logo" (click)="doRedirectToStream(stream.id)">
      @if (!isFuture) {
        <app-logotype [logo]="stream.logo"></app-logotype>
      } @else {
        <svg class="psi-logo-future">
          <use href="assets/icons/lib-stream/panel-stream-info/logo-future.svg#logo-future"></use>
        </svg>
      }
    </a>

    <div class="psi-details">
      <div class="psi-date">
        {{ stream.starttime | date: (!isFuture ? formatDate : formatDateTime) }}
      </div>
      <div class="psi-title">
        <a href9="javascript:void(0);" (click)="doRedirectToStream(stream.id)">
          {{ stream.title }}
        </a>
      </div>
      <div class="psi-descript">{{ stream.descript }}</div>
    </div>

    <div class="psi-actions">
      @if (canDuplicate) {
        <button mat-stroked-button class="app-infix app-ordinary mat-elevation-z3 psi-action-btn psi-btn-dpl"
           (click)="doActionDuplicate(stream.id)">
          <span class="psi-action-label">
            <!-- <i class="psi-duplicate-accent"></i> -->
            <svg class="psi-duplicate-accent">
              <use href="assets/icons/lib-stream/panel-stream-info/file-copy-bin.svg#file-copy-bin"></use>
            </svg>
            <span>{{ 'panel-stream-mini.buttons.duplicate' | translate }}</span>
          </span>
        </button>
      }
      <div class="psi-actions-both">
        @if (canEdit) {
          <button mat-stroked-button class="app-infix app-ordinary mat-elevation-z3 psi-action-btn"
            (click)="doActionEdit(stream.id)">
            <span class="psi-action-label">
              <!-- <i class="psi-edit-accent"></i> -->
              <svg class="psi-edit-accent">
                <use href="assets/icons/lib-stream/panel-stream-info/file-circle-pen-bin.svg#file-circle-pen-bin"></use>
              </svg>
              <span>{{ 'panel-stream-mini.buttons.edit' | translate }}</span>
            </span>
          </button>
        }
        @if (canDelete) {
          <button mat-stroked-button class="app-infix app-ordinary mat-elevation-z3 psi-action-btn"
            (click)="doActionDelete(stream)">
            <span class="psi-action-label">
              <!-- <i class="psi-delete-accent"></i> -->
              <svg class="psi-delete-accent">
                <use href="assets/icons/lib-stream/panel-stream-info/file-circle-cross-bin.svg#file-circle-cross-bin"></use>
              </svg>
              <span>{{ 'panel-stream-mini.buttons.delete' | translate }}</span>
            </span>
          </button>
        }
      </div>
    </div>

  </div>
}
