/*# sourceURL=panel-stream-info.component.scss */

app-panel-stream-info {
  --psi-pn-stream-bg: var(--app-pn-stream);
  --psi-pn-stream-brd: var(--app-pn-stream-low);

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;

  .psi-stream-card {
    align-items: center;
    background-color: var(--psi-pn-stream-bg);
    border: 1px solid var(--psi-pn-stream-brd);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    &:first-of-type { margin-top: 1px; }
    &:not(:first-of-type) { margin-top: 1vh; }
    &>.psi-logo { flex: 0 0 130px; }
    &>.psi-details { flex-grow: 1; }
    &>.psi-shrink-0 { flex-shrink: 0; }
  }
  .psi-logo {
    align-items: center;
    border-radius: 10px;
    color: var(--app-theme-accent);
    cursor: pointer;
    display: flex;
    height: 100px;
    justify-content: center;
  }
  .psi-details {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw 1vh 1vw;
  }

  .psi-date {
    font-style: normal;
    flex: 0 0 1.5em;
    margin-bottom: 0.25em;
  }
  .psi-title {
    flex: 0 0 1.5em;
    margin-bottom: 0.25em;
  }
  .psi-descript {
      // color: var(--app-theme-accent);
    font-size: calc(1em - 1px);
    font-style: normal;
    font-weight: 400;
    flex: 0 0 1.5em;
    overflow: hidden;
  }

  .psi-action-label {
    align-items: center;
    display: flex;
    &>i { margin-right: 0.5em; }
  }
  .psi-mg-rg {
    margin-right: 0.8em;
  }
  .psi-pd-hor-05 {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .psi-pd-hor-07 {
    padding-left: 0.7em;
    padding-right: 0.7em;
  }

  .mat-mdc-outlined-button {
    --mdc-outlined-button-outline-color: var(--psi-pn-stream-brd);
  }
//   .mat-mdc-outlined-button:not(:disabled) {
//     border-color: var(--mdc-outlined-button-outline-color, rgba(0, 0, 0, 0.12)));
//   }
//   .mat-mdc-outlined-button:not(:disabled) {
//     color: var(--mdc-outlined-button-label-text-color, inherit);
//   }
//   .mat-mdc-button.mat-primary, .mat-mdc-outlined-button.mat-primary {
//     --mat-mdc-button-persistent-ripple-color: #3f51b5;
//     --mat-mdc-button-ripple-color: rgba(63, 81, 181, 0.1);
//   }
//   .mat-mdc-outlined-button.mat-primary {
//     --mdc-outlined-button-label-text-color: #3f51b5;
//   }
  .psi-logo-future {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/logo-future.svg');
    display: inline-block;
    height: 58px;
    width: 58px;
  }
  .psi-duplicate-accent {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/duplicate-accent.svg');
    display: inline-block;
    height: 24px;
    width: 24px;
  }
  .psi-edit-accent {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/edit-accent.svg');
    display: inline-block;
    height: 20px;
    width: 20px;
  }
  .psi-delete-accent {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/delete-accent.svg');
    display: inline-block;
    height: 24px;
    width: 24px;
  }
}
