/*# sourceURL=panel-stream-info.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-panel-stream-info {
  --psi-btn-dpl-wd: 8em;
  --psi-btn-edt-wd: 5.5em;
  --psi-btn-del-wd: 6.5em;

  @media screen and (width <= dimensions.$laptop-1024) {
    --psi-pd: 2em;
    --psi-actn-fl-dr: column;
    --psi-actn2-fl-dr: column;
    --psi--btn-dpl-wd: 8em;
    --psi--btn-edt-wd: 8em;
    --psi--btn-del-wd: 8em;
    --psi--btn-mr-ver: 0.15em;
  }
  @media screen and (dimensions.$laptop-1024 < width <= dimensions.$desktop-1280) {
    --psi-pd: 2.5em;
    --psi-actn-fl-dr: row;
    --psi-actn2-fl-dr: column;
    --psi-actn2-js-cnt: space-between;
    --psi--btn-edt-wd: 6.5em;
  }
  @media screen and (dimensions.$desktop-1280 < width) {
    --psi-pd: 3em;
    --psi-actn-fl-dr: row;
    --psi-actn2-fl-dr: row;
  }

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;

  .psi-stream-card {
    align-items: center;
    background-color: var(--app-stream-pn);
    border: 1px solid var(--app-stream-pn-low);
    border-radius: 0.75em;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    &:first-of-type { margin-top: 1px; }
    &:not(:first-of-type) { margin-top: 0.75em; }
    &>.psi-logo { flex: 0 0 130px; }
    &>.psi-details { flex-grow: 1; }
  }
  .psi-shrink-0 { flex-shrink: 0; }
  .psi-logo {
    align-items: center;
    border-radius: 0.75em;
    cursor: pointer;
    display: flex;
    height: 100px;
    justify-content: center;
  }
  .psi-details {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw 1vh 1vw;
  }
  .psi-actions {
    align-items: center;
    display: flex;
    flex-direction: var(--psi-actn-fl-dr);
    height: 100%;
    justify-content: center
  }
  .psi-actions-both {
    display: flex;
    flex-direction: var(--psi-actn2-fl-dr);
    justify-content: var(--psi-actn2-js-cnt, unset);
  }

  .psi-date {
    font-style: normal;
    flex: 0 0 1.5em;
    margin-bottom: 0.25em;
  }
  .psi-title {
    flex: 0 0 1.5em;
    margin-bottom: 0.25em;
    overflow: hidden;
  }
  .psi-descript {
    // color: var(--app-theme-accent);
    font-size: calc(1em - 1px);
    font-style: normal;
    font-weight: 400;
    flex: 0 0 1.5em;
    overflow: hidden;
  }

  .psi-action-label {
    align-items: center;
    display: flex;
    &>i { margin-right: 0.5em; }
  }
  .psi-btn-dpl {
    width: var(--psi--btn-dpl-wd, var(--psi-btn-dpl-wd));
  }
  .psi-btn-edt {
    width: var(--psi--btn-edt-wd, var(--psi-btn-edt-wd));
  }
  .psi-btn-del {
    width: var(--psi--btn-del-wd, var(--psi-btn-del-wd));
  }

  .psi-mr {
    margin-right: 0.8em;
    margin-top: var(--psi--btn-mr-ver, 0.25em);
    margin-bottom: var(--psi--btn-mr-ver, 0.25em);
  }

  .psi-logo-future {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/logo-future.svg');
    display: inline-block;
    height: 58px;
    width: 58px;
  }
  .psi-duplicate-accent {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/duplicate-accent.svg');
    display: inline-block;
    height: 24px;
    width: 24px;
  }
  .psi-edit-accent {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/edit-accent.svg');
    display: inline-block;
    height: 20px;
    width: 20px;
  }
  .psi-delete-accent {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/delete-accent.svg');
    display: inline-block;
    height: 24px;
    width: 24px;
  }
}
