<ng-container [formGroup]="formGroup">
  <mat-form-field
    appearance="outline"
    color="primary"
  >
    <mat-label>{{ label | translate }}</mat-label>
    <textarea
      matInput
      class="global-scroll"
      formControlName="description"
      [required]="isRequired"
      [attr.maxlength]="maxLen > 0 ? maxLen + 1 : undefined"
      autocomplete="off"
      (input)="onChange(formControl.value)"
      cdkTextareaAutosize
      [cdkAutosizeMinRows]="minRows"
      [cdkAutosizeMaxRows]="maxRows"
    ></textarea>
    <mat-hint>{{ hint | translate }}</mat-hint>
    <mat-error>{{ getErrorMsg(formControl.errors) | translate : formControl.errors }}</mat-error>
  </mat-form-field>
</ng-container>
