/*# sourceURL=field-descript.component.scss */

app-field-descript {
  display: block;
  
  &[wd100] {
    width: 100%;
  }
  mat-form-field {
    max-width: inherit;
    width: inherit;
  }
  .mat-form-field-infix {
    line-height: 20px;
  }
  &[no-resize] textarea {
    resize: none;
  }
  .mat-mdc-form-field-subscript-wrapper {
    --mdc-typography-caption-line-height: 1.25;
  }
}
