/*# sourceURL=field-time.component.scss */

app-field-time {
  display: block;

  &[wd100] {
    width: 100%;
  }
  &[hg100] {
    height: 100%;
  }

  mat-form-field {
    max-width: inherit;
    width: inherit;
  }
  .mat-mdc-form-field-infix {
    width: 7em;
  }
}
