/*# sourceURL=field-time.component.scss */

app-field-time {
  display: block;

  .mat-mdc-form-field-infix {
    width: 7em;
  }
  .mat-mdc-form-field-subscript-wrapper {
    --mdc-typography-caption-line-height: 1.25;
  }
}
