/*# sourceURL=field-image-and-upload.component.scss */

app-field-image-and-upload {
  &[hg100] { ---fiau-hg100: 100%; }
  &[wd100] { ---fiau-wd100: 100%; }

  align-items: center;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;

  .mat-mdc-form-field {
    height: 100%;
    width: 100%;
  }
  .mat-mdc-text-field-wrapper {
    height: 100%;
   }
  .mat-mdc-form-field-flex {
    height: 100%;
  }
  .mat-mdc-form-field-infix {
    text-align:center;
    height: 100%;
  }
  .fiau-image-wrap {
    display: inline-flex;
    height: 100%;
    justify-content: center;
    position: relative;
    max-width: 100%;
    width: var(---fiau-wd100, inherit);
  }
  .fiau-image {
    border-radius: 0.5em;
    object-fit: cover;
    height: var(---fiau-hg100);
    width:  var(---fiau-wd100);
  }
  .fiau-remove {
    &:not(:disabled) { color: var(--app-icon-enb-cl); }
    &:disabled { color: var(--app-icon-dsb-cl); }
    position: absolute;
    right: -36px;
    top: -27px;
    z-index: 1;
  }
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input.fiau-hide {
    display: none;
  }

  .fiau-remove-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: currentColor;
    mask: url('/assets/icons/trash-bin.svg');
  }
}
