<mat-form-field [formGroup]="formGroup" floatLabel="always"
  [subscriptSizing]="(formControl.touched && !!formControl.errors) || !!hint ? 'dynamic' : 'fixed'">

  @if (!!label) {
    <mat-label>{{ label | translate }}{{ !!isRequired ? " " : ""}}</mat-label>
  }

  <input matInput type="text" class="fiau-hide" formControlName="image" />

  @if (!imageView) {
    <app-field-file-upload hg100 wd100 
      [accepts]="accepts"
      [isDisabled]="isDisabledVal"
      [isBorder]="true"
      [isReadonly]="!!isReadOnly"
      [maxFileSize]="maxSize"
      (addFile)="addImage($event)"
      (readFile)="readImage($event)">
    </app-field-file-upload>
  } @else {
    <img class="fiau-image" [src]="imageView" alt="image" />
    <span class="fiau-remove-wrap">
      @if (!isDisabledVal && !isReadOnly) {
        <button mat-icon-button
          class="fiau-remove"
          (click)="deleteImage()"
          [matTooltip]="`field-image.remove_image` | translate"
          matTooltipPosition="above">
          <svg class="fiau-file-circle-cross">
            <use href="./icons/field-image/file-circle-cross-bin.svg#file-circle-cross-bin"></use>
          </svg>
        </button>
      }
    </span>
  }

  @if (!!hint) {
    <mat-hint>{{ hint | translate }}</mat-hint>
  }
  <mat-error>
    {{ (errorMsg || getErrorMsg(formControl.errors))
      | translate: getErrorObj(formControl.errors, (!!label ? (label | translate) : "")) }}
  </mat-error>

</mat-form-field>
