/*# sourceURL=field-image-and-upload.component.scss */

app-field-image-and-upload {
  &[hg100] { ---fiau-hg100: 100%; }
  &[wd100] { ---fiau-wd100: 100%; }

  ---fiau-wd: var(---fiau-wd100, var(--fiau-wd));

  align-items: center;
  box-sizing: border-box;
  display: block;
  height: var(---fiau-hg100, var(--fiau-hg)); // image-size
  width : var(---fiau-wd100, var(--fiau-wd)); // image-size

  .mat-mdc-form-field {
    height: 100%;
    // height: var(---fiau-hg, 10em); // image-size does not affect
    width: 100%;                      // image-size does affect
  }
  .mat-mdc-text-field-wrapper {
    cursor: pointer;
    height: calc(100% - 19.167px);    // image-size  does not affect
    // max-width: var(---fiau-wd);    // image-size  does not affect
   }
  .mat-mdc-form-field-flex {
    height: 100%;                     // image-size  does not affect
  }
  .mat-mdc-form-field-infix {
    text-align:center;
    height: 100%;                     // image-size  does not affect
    // width: var(---fiau-img-wd, var(---fiau-wd));// image-size  does affect width: 100%;
  }
  .fiau-image-wrap {
    display: inline-flex;
    height: 100%;                     // image-size  does not affect
    justify-content: center;
    position: relative;
    max-width: 100%;                  // image-size  does not affect
    width: var(---fiau-wd100, inherit);//image-size  does not affect
  }
  .fiau-image {
    border-radius: 0.5em;
    object-fit: cover;
    height: 100%;                     // image-size  does not affect
    width: 100%;                      // image-size  does affect
  }
  .fiau-remove {
    &:not(:disabled) { color: var(--app-icon-enb-cl); }
    &:disabled { color: var(--app-icon-dsb-cl); }
    position: absolute;
    right: -36px;
    top: -27px;
    z-index: 1;
  }
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-text-field__input.fiau-hide {
    display: none;
  }

  .fiau-remove-icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-color: currentColor;
    mask: url('/assets/icons/trash-bin.svg');
  }
}
