/*# sourceURL=panel-stream-admin.component.scss */

app-panel-stream-admin {
  --mdc-typography-button-font-size: 1em; // Font size for buttons.
  display: flex;
  flex-direction: column;
  height: 100%;

  .psa-pd-lf-0_25 {
    padding-left: 0.25em;
  }
  .psa-mr-lf-0_5 {
    margin-left: 0.5em;
  }
  // Block "Params"
  .psa-params {
    display: flex;
    &>.psa-name-label { margin-left: 10px; }
    margin-bottom: 10px;
  }
  .psa-info-name {
    display: flex;
    &>div:not(:first-of-type) { margin-left: 7px; }
  }
  .psa-name-label {
    font-size: 14px;
    font-weight: 500;
  }
  .psa-info-text {
    color: var(--app-theme-orange);
    font-weight: 500;
  }
  
  .psa-icon-people {
    width: 13px;
    height: 13px;
    //   background-image: url('/assets/icons/people.svg');
    }
    // .psa-icon-clock {
    //   width: 12px;
    //   height: 12px;
    //   background-image: url('/assets/icons/clock.svg');
    // }
  .psa-timer {
    width: 18ch;
  }

  // Block "Actions"
  .psa-actions {
    display: flex;
    justify-content: space-between;
  }
  .psa-vert {
    vertical-align: middle;  
  }
  .psa-icon {
    background-color: currentColor;
    color: var(--psa-icon-cl);
    display: inline-block;
    mask-size: cover;
    vertical-align: middle;
    height: var(--psa-icon-wd, 2em);
    width: var(--psa-icon-wd, 2em);
  }
  .psa-icon.prepare { mask-image: url('/assets/icons/panel-stream-admin/prepare-bin.svg'); }
  .psa-icon.pause { mask-image: url('/assets/icons/panel-stream-admin/pause-bin.svg'); }
  .psa-icon.play { mask-image: url('/assets/icons/panel-stream-admin/play-bin.svg'); }
  .psa-icon.stop { mask-image: url('/assets/icons/panel-stream-admin/stop-bin.svg'); }
  .psa-icon.settings { mask-image: url('/assets/icons/panel-stream-admin/settings-bin.svg'); }

  .psa-icon.prepare {
    --psa-icon-wd: 1.5em;
  }
  .mat-mdc-outlined-button {
    --mdc-outlined-button-outline-color: rgba(0, 0, 0, 0.25);
  }
}
  
  
  