<div class="psa-params">
  <div class="psa-info-name">
    <div class="psa-icon-people"></div>
    <div class="psa-info-text">{{ countOfViewer || 0 }}</div>
    <!-- <ng-container *ngIf="!!broadcastDuration">
      <div class="psa-icon-clock"></div>
      <div class="psa-info-text">{{ broadcastDuration }}</div>
    </ng-container> -->
    <div class="psa-timer">
      <app-date-time-timer *ngIf="isShowTimer(state)"
        [isActive]="true" [startDate]="startDate">
      </app-date-time-timer>
    </div>
  </div>
  <div class="psa-name-label">
    <span>{{ title }}</span>
  </div>
</div>

<div class="psa-actions">

  <div class="psa-box-left">
    <button *ngIf="isShowSettings()"
      type="button" mat-stroked-button click9="doSettings(streamDto?.credentials || null)"
      class="psa-pd-lf-0_25">
      <span class="psa-icon settings"></span>
      <span class="psa-vert psa-pd-lf-0_25">{{ 'panel-stream-admin.btn_settings' | translate }}</span>
    </button>
  </div>

  <div class="psa-box-middle">
  </div>

  <div class="psa-box-right">
    <ng-container *ngIf="isShowBntPrepare(state)">
      <button type="button" mat-stroked-button (click)="doChangeState(statePreparing)"
        class="psa-pd-lf-0_25">
        <span class="psa-icon prepare"></span>
        <span class="psa-vert">{{ 'panel-stream-admin.prepare_stream' | translate }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="isShowBntStart(state)">
      <button type="button" mat-stroked-button (click)="doChangeState(stateStarted)"
        class="psa-pd-lf-0_25">
        <span class="psa-icon play"></span>
        <span class="psa-vert">{{ 'panel-stream-admin.go_live_stream' | translate }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="isShowBntPause(state)">
      <button type="button" mat-stroked-button color="warn" (click)="doChangeState(statePaused)"
        class="psa-pd-lf-0_25">
        <span class="psa-icon pause"></span>
        <span class="psa-vert">{{ 'panel-stream-admin.pause_stream' | translate }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="isBtnStop(state)">
      <button type="button" mat-stroked-button color="warn" (click)="doChangeOnStateStopped()"
        class="psa-mr-lf-0_5 psa-pd-lf-0_25">
        <span class="psa-icon stop"></span>
        <span class="psa-vert">{{ 'panel-stream-admin.stop_stream' | translate }}</span>
      </button>
    </ng-container>
  </div>

</div>