<div class="psa-params">
  <div class="psa-info-name">
    <div class="psa-icon-people"></div>
    <div class="psa-info-text">{{ countOfViewer || 0 }}</div>
    
    <ng-container *ngIf="!!broadcastDuration">
      <div class="psa-icon-clock"></div>
      <div class="psa-info-text">{{ broadcastDuration }}</div>
    </ng-container>
    <app-date-time-timer style="font-size: 40px;"
      [isActive]="true" [letterSpacing]="2" isHideLeadingZero9="true" isAlignCenter9="true" [futureDate]="futureDate"></app-date-time-timer>
  </div>
  <div class="psa-name-label">
    <span>{{ streamDto?.title }}</span>
  </div>
</div>

<div class="psa-actions">
  <div class="psa-box-left">
    <!-- <ng-container *ngIf="!!streamDto?.credentials">
      <button type="button" mat-button color="accent" (click)="doSettings(streamDto?.credentials || null)"
        class="mat-stroked-button smd-button slim mat-elevation-z">
        <span class="icon settings"></span>
        <span>{{ 'panel-stream-admin.btn_settings' | translate }}</span>
      </button>
    </ng-container> -->
  </div>
  <div class="psa-box-middle">

  </div>
  <div class="psa-box-right">
    <ng-container *ngIf="isBntPrepare(streamDto?.state)">
      <button type="button" mat-button (click)="doActionPrepare()"
        class="mat-stroked-button smd-button slim mat-elevation-z btn-orange">
        <span>{{ 'panel-stream-admin.prepare' | translate }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="isBntStart(streamDto?.state)">
      <button type="button" mat-button (click)="doActionStart()"
        class="mat-stroked-button smd-button slim mat-elevation-z btn-orange">
        <span class="icon streaming"></span>
        <span>{{ 'panel-stream-admin.go_live' | translate }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="isBntPause(streamDto?.state)">
      <button type="button" mat-button color="warn" (click)="doActionPause()"
        class="mat-stroked-button smd-button slim mat-elevation-z"
        [matTooltip]="'panel-stream-admin.pause' | translate"
        matTooltipPosition="above">
        <span class="icon no-indent pause"></span>
      </button>
    </ng-container>

    <ng-container *ngIf="isBtnStop(streamDto?.state)">
      <button type="button" mat-button mat-raised-button color="warn" (click)="doActionStop()"
        class="mat-stroked-button smd-button slim mat-elevation-z">
        <span class="icon streaming"></span>
        <span>{{ 'panel-stream-admin.stop_stream' | translate }}</span>
      </button>
    </ng-container>
  </div>

</div>
