<div class="psa-params">
  <div class="psa-info-name">
    <div class="psa-icon-people"></div>
    <div class="psa-info-text">{{ countOfViewer || 0 }}</div>
    <!-- <ng-container *ngIf="!!broadcastDuration">
      <div class="psa-icon-clock"></div>
      <div class="psa-info-text">{{ broadcastDuration }}</div>
    </ng-container> -->
    <div class="psa-timer">
      <app-date-time-timer *ngIf="streamState == stateStarted" [isActive]="true"></app-date-time-timer>
    </div>
  </div>
  <div class="psa-name-label">
    <span>{{ streamTitle }}</span>
  </div>
</div>

<div class="psa-actions">
  <div class="psa-box-left">
    <!-- <ng-container *ngIf="!!streamDto?.credentials">
      <button type="button" mat-button color="accent" (click)="doSettings(streamDto?.credentials || null)"
        class="mat-stroked-button smd-button slim mat-elevation-z">
        <span class="icon settings"></span>
        <span>{{ 'panel-stream-admin.btn_settings' | translate }}</span>
      </button>
    </ng-container> -->
  </div>
  <div class="psa-box-middle">

  </div>
  <div class="psa-box-right">
    <ng-container *ngIf="isBntPrepare(streamState)">
      <button type="button" mat-stroked-button (click)="doChangeState(statePreparing)"
        class="smd-button slim mat-elevation-z btn-orange">
        <span>{{ 'panel-stream-admin.prepare' | translate }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="isBntStart(streamState)">
      <button type="button" mat-stroked-button (click)="doChangeState(stateStarted)"
        class="smd-button slim mat-elevation-z btn-orange">
        <span class="icon streaming"></span>
        <span>{{ 'panel-stream-admin.go_live' | translate }}</span>
      </button>
    </ng-container>

    <ng-container *ngIf="isBntPause(streamState)">
      <button type="button" mat-stroked-button color="warn" (click)="doChangeState(statePaused)"
        class="smd-button slim mat-elevation-z"
        [matTooltip]="'panel-stream-admin.pause' | translate"
        matTooltipPosition="above">
        <span class="icon no-indent pause"></span>
      </button>
    </ng-container>

    <ng-container *ngIf="isBtnStop(streamState)">
      <button type="button" mat-stroked-button color="warn" (click)="doChangeOnStateStopped()"
        class="smd-button slim mat-elevation-z">
        <span class="icon streaming"></span>
        <span>{{ 'panel-stream-admin.stop_stream' | translate }}</span>
      </button>
    </ng-container>
  </div>

</div>
