/*# sourceURL=field-input.component.scss */

app-field-input {
    display: block;

    &[wd100] {
        width: 100%;
    }

    &[hg100] {
        height: 100%;
    }

    mat-form-field {
        max-width: inherit;
        width: inherit;
    }
}