<div class="lg-content">
  <form
    class="lg-form"
    [formGroup]="formGroup"
    novalidate
  >
    <div class="lg-title">{{ 'login.title' | translate }}</div>

    <app-field-nickname
      wd-100
      formControlName="nickname"
      [isRequired]="true"
      label="login.email_or_nickname"
      (input)="updateErrMsg()"
    >
    </app-field-nickname>

    <app-field-password
      mr-tp-05
      wd-100
      formControlName="password"
      [isRequired]="true"
      (input)="updateErrMsg()"
    ></app-field-password>

    <button
      type="button"
      mat-raised-button
      mr-bt-05 
      mr-tp-05
      wd-100
      class="mat-primary"
      [disabled]="formGroup.invalid || isDisabledSubmit ? '' : undefined"
      (click)="doLogin()"
    >
      {{ 'login.button_login' | translate }}
    </button>

    <ng-container *ngFor="let errMsg of errMsgList">
      <mat-error class="lg-err">{{ errMsg }}</mat-error>
    </ng-container>
  </form>

  <div class="lg-note">
    <a routerLink="{{linkSignup}}">{{ 'login.create_an_account' | translate }}</a>
    <a routerLink="{{linkForgotPassword}}">{{ 'login.forgot_password' | translate }}</a>
  </div>

</div>
