<div class="lg-stand">
  <form
    class="lg-form"
    [formGroup]="formGroup"
    novalidate
  >
    <div class="lg-title">{{ 'login.title' | translate }}{{ 'app_name' | translate }}</div>

    <app-field-nickname
      class="lg-field"
      formControlName="nickname"
      [isRequired]="true"
      label="login.email_or_nickname"
      (input)="updateErrMsg()"
    >
    </app-field-nickname>

    <app-field-password
      class="lg-field"
      formControlName="password"
      [isRequired]="true"
      (input)="updateErrMsg()"
    ></app-field-password>

    <button
      type="button"
      indent
      mat-raised-button
      class="lg-field mat-primary"
      [disabled]="formGroup.invalid || isDisabledSubmit ? '' : undefined"
      (click)="doLogin()"
    >
      {{ 'login.button_login' | translate }}
    </button>

    <ng-container *ngFor="let errMsg of errMsgList">
      <mat-error>{{ errMsg }}</mat-error>
    </ng-container>
  </form>

  <div class="lg-note">
    <a [href]="linkSignup">{{ 'login.go_to_signup' | translate }}</a>
    <a [href]="linkForgotPassword">{{ 'login.go_to_forgot_password' | translate }}</a>
  </div>

</div>
