<ng-container [formGroup]="formGroup">
  <mat-form-field
    appearance="outline"
    color="primary">
    <mat-label>{{ label | translate }}</mat-label>
    <input [type]="type || 'email'"
      matInput
      autocomplete="new-password"
      autocapitalize="off"
      [email]="true"
      formControlName="email"
      [required]="isRequired"
      [attr.maxlength]="maxLen > 0 ? maxLen + 1 : undefined"
      [attr.spellcheck] ="!!isSpellcheck"
      (input)="onChange(formControl.value)"
      (blur)="onTouched()"
    />
    <mat-hint>{{ hint | translate }}</mat-hint>
    <mat-error>{{ (errorMsg || getErrorMsg(formControl.errors)) | translate : formControl.errors }}</mat-error>
  </mat-form-field>
</ng-container>
