/*# sourceURL=panel-profile-delete.scss */

app-panel-profile-delete {
    ---ppd-pd: calc(0.03125 * min(100vw, 1280px) - 2px); // 512.22px: 14px;  1024.44px: 30px;
    ---ppd-item-wd: var(--ppd-item-wd, min(calc(0.27344 * 100vw + 420px), 100%));

    background-color: var(--app-pn-bg);
    background-image: var(--app-pn-bg-img);
    border: 2px solid var(--app-pn-brd);
    border-radius: var(--ppd-pn-brd-rd, var(---ppd-pd));
    box-shadow: var(--ppd-pn-sh, rgba(0, 0, 0, 0.35) 0px 4px 11px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: calc(var(---ppd-pd) / 2) var(---ppd-pd);
    max-width: var(---ppd-item-wd);

    [ppd-mt-2] {
        margin-top: 0.5rem;
    }

    [ppd-mt-4] {
        margin-top: 1rem;
    }

    // ** Form **
    .ppd-form {
        display: flex;
        flex-direction: column;
        padding-bottom: calc(var(---ppd-pd) / 2);
    }

    .ppd-title {
        font-size: calc(100% + 6px);
        font-weight: 500;
        text-align: center;
    }

    // ** Actions **
    .ppd-actions {
        display: flex;
        justify-content: center;

        .mdc-button__label {
            display: flex;
            align-items: center;
        }
    }
}