<div class="pa-content">
  <div class="pa-form">

    <div class="pa-title">{{ 'panel-about.title' | translate : { appName: ('app.name' | translate) } }}</div>

    <div pa-mr-tp-1>{{ 'panel-about.label' | translate : { appName: ('app.name' | translate) } }}</div>
    
    <div>
      <a href="/swagger-ui/" target="_blank">Swagger-UI</a> - {{ 'panel-about.label_swagger' | translate }}
    </div>
    <div>
      <a href="/rapidoc" target="_blank">RapiDoc</a> - {{ 'panel-about.label_rapidoc' | translate }}
    </div>
    <div>
      <a href="/redoc" target="_blank">ReDoc</a> - {{ 'panel-about.label_redoc' | translate }}
    </div>

    <div pa-mr-tp-1 class="pa-details">
      <span>{{ 'panel-about.frontend_used' | translate }}</span>
      <ul>
        @for (item of (('panel-about.frontend_items' | translate) || []); track item) {
          <li>{{ item }}</li>
        }
      </ul>
      <span>{{ 'panel-about.backend_used' | translate }}</span>
      <ul pa-mr-bt-0>
        <li>{{ backendItem01 }}</li>
        <li>[dependencies]
          <ul>
            @for (item of backendItem02; track item) {
              <li>{{ item }}</li>
            }
          </ul>
        </li>
        <li>[dev-dependencies]
            <ul>
              @for (item of backendItem03; track item) {
                <li>{{ item }}</li>
              }
            </ul>
        </li>
      </ul>
    </div>

  </div>
</div>
