/*# sourceURL=forgot-password.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-forgot-password {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  [mr-bt-05] { margin-bottom: 0.5em; }
  [mr-tp-05] { margin-top: 0.5em; }

  .mat-mdc-form-field-subscript-wrapper {
    --mdc-typography-caption-line-height: 1.2;
    &::before {
      height: calc(2em + 2px);
    }
    mat-hint, mat-error {
      display: flex;
      margin-top: 1px;
    }
  }

  .fp-content {
    @media screen and (width <= dimensions.$mobile-480) {
      --fp-pd: 0.5em;
      --fp-wd: 100%;
    }
    @media screen and (dimensions.$mobile-480 < width <= dimensions.$tablet-768) {
      --fp-pd: 1.5em;
      --fp-wd: 30em;
    }
    @media screen and (dimensions.$tablet-768 < width <= dimensions.$laptop-1024) {
      --fp-pd: 2em;
      --fp-wd: 32em;
    }
    @media screen and (dimensions.$laptop-1024 < width <= dimensions.$desktop-1280) {
      --fp-pd: 2.5em;
      --fp-wd: 34em;
    }
    @media screen and (dimensions.$desktop-1280 < width) {
      --fp-pd: 3em;
      --fp-wd: 36em;
    }
      
    border-radius: var(--fp-pd);
    border: 1px solid var(--app-site-border-cl);
    box-sizing: border-box;
    margin-bottom: 7em;
    padding: var(--fp-pd);
    width: var(--fp-wd);
  }

  .fp-form {
    display: flex;
    flex-direction: column;
  }

  .fp-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    margin-bottom: 1em;
    text-align: center;
  }

  .fp-note {
    display: flex;
    margin-top: 0.5em;
    justify-content: center;
    span {
      color: darkslategrey;
    }
    a {
      margin-left: 0.5em;
    }
  }

  .fp-err {
    font-size: 13px;
  }
}
