/*# sourceURL=field-message.component.scss */

app-field-message {
    display: block;
    background-color: var(-fm-bg);

    &[wd100] {
        width: 100%;
    }

    &[hg100] {
        height: 100%;
    }

    &[is-prefix] .mat-mdc-text-field-wrapper {
        padding-left: 4px;
    }

    &[is-suffix] .mat-mdc-text-field-wrapper {
        padding-right: 4px;
    }

    &[scroll-thin] textarea.fm-textarea {
        scrollbar-width: thin;
    }

    &[hide-error] .mat-mdc-form-field-error-wrapper {
        display: none;
    }

    mat-form-field {
        max-width: inherit;
        width: inherit;
    }

    .fm-nmsg-label {
        &:not([is-focuse-msg]) {
            ---fm-nmsg-label-cl: var(--mdc-outlined-text-field-outline-color, var(--mat-app-outline));
        }

        &[is-focuse-msg] {
            ---fm-nmsg-label-cl: var(--mdc-outlined-text-field-focus-outline-color, var(--mat-app-primary));
        }

        align-items: center;
        color: var(---fm-nmsg-label-cl);
        display: flex;
        font-size: calc(1rem - 4px);
        font-style: italic;
        font-weight: 500;
        left: 1rem;
        position: absolute;
        top: 0.3rem;
    }

    .fm-svg-mini {
        height: 1rem;
        width: 1rem;
        vertical-align: middle;
    }

}