/*# sourceURL=panel-stream-event.component.scss */

app-panel-stream-event {
  --pse-logo-wd: 60px;
  --pse-edit-wd: 40px;
  --pse-pn-stream-bg: var(--app-pn-stream);
  --pse-pn-stream-brd: var(--app-pn-stream-low);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;

  .pse-stream {
    align-items: center;
    background-color: var(--pse-pn-stream-bg);
    border: 1px solid var(--pse-pn-stream-brd);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 52px;
    &:not(:first-of-type) {
      margin-top: 1vh;
    }
  }
  .pse-logo {
    align-items: center;
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--app-theme-accent);
    cursor: pointer;
    display: flex;
    flex: 0 0 var(--pse-logo-wd);
    height: 100%;
    justify-content: center;
    padding: 2px 0 2px 0;
  }
  .pse-details-wrap {
    box-sizing: border-box;
    flex: 0 0 calc(100% - var(--pse-logo-wd));
    padding-left: 0.3em;
    width: calc(100% - var(--pse-logo-wd));
  }
  .pse-details {
    display: flex;
  }
  .pse-starttime {
    width: 14.5em;
  }
  .pse-edit-btn {
    background: transparent;
    border: none;
    color: var(--app-primary);
    cursor: pointer;
    font-weight: 600;
    outline: none;
  }

  .pse-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .pse-logo-future {
    background: transparent none no-repeat center center;
    background-image: url('../../../assets/icons/logo-future.svg');
    background-size: cover;
    height: 24px;
    display: inline-block;
    width: 24px;
  }
}