/*# sourceURL=panel-browse-params.scss */

app-panel-browse-params {
    display: block;
    line-height: 1.7;

    [pbp-mr-r0_5] {
        margin-right: 0.5rem;
    }

    .pbp-param {
        display: flex;
        flex-wrap: wrap;
    }

    .pbp-middle {
        vertical-align: middle;
    }

    .pbp-clock {
        display: flex;
        align-items: center;
    }

    // ** icon **

    .pbp-icon-users {
        color: var(--app-svg-icon-cl);
        height: 2.5rem;
        width: 2.5rem;
    }

    .pbp-icon-clock {
        color: var(--app-svg-icon-cl);
        height: 2.25rem;
        width: 2.25rem;
    }
}