/*# sourceURL=styles-theme.scss */
html {

    &.light-azure-magenta {
        --sys-background: #faf9fd;
        --sys-error: #ba1a1a;
        --sys-error-container: #ffdad6;
        --sys-inverse-on-surface: #f2f0f4;
        --sys-inverse-primary: #abc7ff;
        --sys-inverse-surface: #2f3033;
        --sys-on-background: #1a1b1f;
        --sys-on-error: #ffffff;
        --sys-on-error-container: #410002;
        --sys-on-primary: #ffffff;
        --sys-on-primary-container: #001b3f;
        --sys-on-primary-fixed: #001b3f;
        --sys-on-primary-fixed-variant: #00458f;
        --sys-on-secondary: #ffffff;
        --sys-on-secondary-container: #131c2b;
        --sys-on-secondary-fixed: #131c2b;
        --sys-on-secondary-fixed-variant: #3e4759;
        --sys-on-surface: #1a1b1f;
        --sys-on-surface-variant: #44474e;
        --sys-on-tertiary: #ffffff;
        --sys-on-tertiary-container: #380038;
        --sys-on-tertiary-fixed: #380038;
        --sys-on-tertiary-fixed-variant: #810081;
        --sys-outline: #74777f;
        --sys-outline-variant: #c4c6d0;
        --sys-primary: #005cbb;
        --sys-primary-container: #d7e3ff;
        --sys-primary-fixed: #d7e3ff;
        --sys-primary-fixed-dim: #abc7ff;
        --sys-scrim: #000000;
        --sys-secondary: #565e71;
        --sys-secondary-container: #dae2f9;
        --sys-secondary-fixed: #dae2f9;
        --sys-secondary-fixed-dim: #bec6dc;
        --sys-shadow: #000000;
        --sys-surface: #faf9fd;
        --sys-surface-bright: #faf9fd;
        --sys-surface-container: #efedf0;
        --sys-surface-container-high: #e9e7eb;
        --sys-surface-container-highest: #e3e2e6;
        --sys-surface-container-low: #f4f3f6;
        --sys-surface-container-lowest: #ffffff;
        --sys-surface-dim: #dbd9dd;
        --sys-surface-tint: #005cbb;
        --sys-surface-variant: #e0e2ec;
        --sys-tertiary: #a900a9;
        --sys-tertiary-container: #ffd7f5;
        --sys-tertiary-fixed: #ffd7f5;
        --sys-tertiary-fixed-dim: #ffabf3;
    }

    &.light-cyan-magenta {
        --sys-background: #f7faf9;
        --sys-error: #ba1a1a;
        --sys-error-container: #ffdad6;
        --sys-inverse-on-surface: #eff1f0;
        --sys-inverse-primary: #00dddd;
        --sys-inverse-surface: #2d3131;
        --sys-on-background: #191c1c;
        --sys-on-error: #ffffff;
        --sys-on-error-container: #410002;
        --sys-on-primary: #ffffff;
        --sys-on-primary-container: #002020;
        --sys-on-primary-fixed: #002020;
        --sys-on-primary-fixed-variant: #004f4f;
        --sys-on-secondary: #ffffff;
        --sys-on-secondary-container: #051f1f;
        --sys-on-secondary-fixed: #051f1f;
        --sys-on-secondary-fixed-variant: #324b4b;
        --sys-on-surface: #191c1c;
        --sys-on-surface-variant: #3f4948;
        --sys-on-tertiary: #ffffff;
        --sys-on-tertiary-container: #380038;
        --sys-on-tertiary-fixed: #380038;
        --sys-on-tertiary-fixed-variant: #810081;
        --sys-outline: #6f7979;
        --sys-outline-variant: #bec9c8;
        --sys-primary: #006a6a;
        --sys-primary-container: #00fbfb;
        --sys-primary-fixed: #00fbfb;
        --sys-primary-fixed-dim: #00dddd;
        --sys-scrim: #000000;
        --sys-secondary: #4a6363;
        --sys-secondary-container: #cce8e7;
        --sys-secondary-fixed: #cce8e7;
        --sys-secondary-fixed-dim: #b0cccb;
        --sys-shadow: #000000;
        --sys-surface: #f7faf9;
        --sys-surface-bright: #f7faf9;
        --sys-surface-container: #ebefed;
        --sys-surface-container-high: #e6e9e7;
        --sys-surface-container-highest: #e0e3e2;
        --sys-surface-container-low: #f1f4f3;
        --sys-surface-container-lowest: #ffffff;
        --sys-surface-dim: #d7dbd9;
        --sys-surface-tint: #006a6a;
        --sys-surface-variant: #dae5e4;
        --sys-tertiary: #a900a9;
        --sys-tertiary-container: #ffd7f5;
        --sys-tertiary-fixed: #ffd7f5;
        --sys-tertiary-fixed-dim: #ffabf3;
    }

    &.light-violet-magenta {
        --sys-background: #fef8fc;
        --sys-error: #ba1a1a;
        --sys-error-container: #ffdad6;
        --sys-inverse-on-surface: #f5eff4;
        --sys-inverse-primary: #d5baff;
        --sys-inverse-surface: #323033;
        --sys-on-background: #1d1b1e;
        --sys-on-error: #ffffff;
        --sys-on-error-container: #410002;
        --sys-on-primary: #ffffff;
        --sys-on-primary-container: #270057;
        --sys-on-primary-fixed: #270057;
        --sys-on-primary-fixed-variant: #5f00c0;
        --sys-on-secondary: #ffffff;
        --sys-on-secondary-container: #1f182a;
        --sys-on-secondary-fixed: #1f182a;
        --sys-on-secondary-fixed-variant: #4b4357;
        --sys-on-surface: #1d1b1e;
        --sys-on-surface-variant: #49454e;
        --sys-on-tertiary: #ffffff;
        --sys-on-tertiary-container: #380038;
        --sys-on-tertiary-fixed: #380038;
        --sys-on-tertiary-fixed-variant: #810081;
        --sys-outline: #7b757f;
        --sys-outline-variant: #cbc4cf;
        --sys-primary: #7d00fa;
        --sys-primary-container: #ecdcff;
        --sys-primary-fixed: #ecdcff;
        --sys-primary-fixed-dim: #d5baff;
        --sys-scrim: #000000;
        --sys-secondary: #645b70;
        --sys-secondary-container: #eadef7;
        --sys-secondary-fixed: #eadef7;
        --sys-secondary-fixed-dim: #cec2db;
        --sys-shadow: #000000;
        --sys-surface: #fef8fc;
        --sys-surface-bright: #fef8fc;
        --sys-surface-container: #f2ecf1;
        --sys-surface-container-high: #ede6eb;
        --sys-surface-container-highest: #e6e1e6;
        --sys-surface-container-low: #f8f2f6;
        --sys-surface-container-lowest: #ffffff;
        --sys-surface-dim: #ded8dd;
        --sys-surface-tint: #7d00fa;
        --sys-surface-variant: #e8e0eb;
        --sys-tertiary: #a900a9;
        --sys-tertiary-container: #ffd7f5;
        --sys-tertiary-fixed: #ffd7f5;
        --sys-tertiary-fixed-dim: #ffabf3;
    }

    &.light-orange-magenta {
        --sys-background: #fff8f5;
        --sys-error: #ba1a1a;
        --sys-error-container: #ffdad6;
        --sys-inverse-on-surface: #fbeee8;
        --sys-inverse-primary: #ffb787;
        --sys-inverse-surface: #362f2b;
        --sys-on-background: #201a17;
        --sys-on-error: #ffffff;
        --sys-on-error-container: #410002;
        --sys-on-primary: #ffffff;
        --sys-on-primary-container: #311300;
        --sys-on-primary-fixed: #311300;
        --sys-on-primary-fixed-variant: #723600;
        --sys-on-secondary: #ffffff;
        --sys-on-secondary-container: #2b1708;
        --sys-on-secondary-fixed: #2b1708;
        --sys-on-secondary-fixed-variant: #5b4130;
        --sys-on-surface: #201a17;
        --sys-on-surface-variant: #52443c;
        --sys-on-tertiary: #ffffff;
        --sys-on-tertiary-container: #380038;
        --sys-on-tertiary-fixed: #380038;
        --sys-on-tertiary-fixed-variant: #810081;
        --sys-outline: #84746a;
        --sys-outline-variant: #d7c3b8;
        --sys-primary: #964900;
        --sys-primary-container: #ffdcc7;
        --sys-primary-fixed: #ffdcc7;
        --sys-primary-fixed-dim: #ffb787;
        --sys-scrim: #000000;
        --sys-secondary: #755846;
        --sys-secondary-container: #ffdcc7;
        --sys-secondary-fixed: #ffdcc7;
        --sys-secondary-fixed-dim: #e5bfa8;
        --sys-shadow: #000000;
        --sys-surface: #fff8f5;
        --sys-surface-bright: #fff8f5;
        --sys-surface-container: #f8ebe6;
        --sys-surface-container-high: #f2e6e1;
        --sys-surface-container-highest: #ece0da;
        --sys-surface-container-low: #fef1ec;
        --sys-surface-container-lowest: #ffffff;
        --sys-surface-dim: #e3d8d3;
        --sys-surface-tint: #964900;
        --sys-surface-variant: #f4ded3;
        --sys-tertiary: #a900a9;
        --sys-tertiary-container: #ffd7f5;
        --sys-tertiary-fixed: #ffd7f5;
        --sys-tertiary-fixed-dim: #ffabf3;
    }

    &.light-magenta-cyan {
        --sys-background: #fff7f9;
        --sys-error: #ba1a1a;
        --sys-error-container: #ffdad6;
        --sys-inverse-on-surface: #f8eef2;
        --sys-inverse-primary: #ffabf3;
        --sys-inverse-surface: #342f32;
        --sys-on-background: #1e1a1d;
        --sys-on-error: #ffffff;
        --sys-on-error-container: #410002;
        --sys-on-primary: #ffffff;
        --sys-on-primary-container: #380038;
        --sys-on-primary-fixed: #380038;
        --sys-on-primary-fixed-variant: #810081;
        --sys-on-secondary: #ffffff;
        --sys-on-secondary-container: #271624;
        --sys-on-secondary-fixed: #271624;
        --sys-on-secondary-fixed-variant: #554151;
        --sys-on-surface: #1e1a1d;
        --sys-on-surface-variant: #4e444b;
        --sys-on-tertiary: #ffffff;
        --sys-on-tertiary-container: #002020;
        --sys-on-tertiary-fixed: #002020;
        --sys-on-tertiary-fixed-variant: #004f4f;
        --sys-outline: #80747c;
        --sys-outline-variant: #d1c2cb;
        --sys-primary: #a900a9;
        --sys-primary-container: #ffd7f5;
        --sys-primary-fixed: #ffd7f5;
        --sys-primary-fixed-dim: #ffabf3;
        --sys-scrim: #000000;
        --sys-secondary: #6e5869;
        --sys-secondary-container: #f7daef;
        --sys-secondary-fixed: #f7daef;
        --sys-secondary-fixed-dim: #dabfd2;
        --sys-shadow: #000000;
        --sys-surface: #fff7f9;
        --sys-surface-bright: #fff7f9;
        --sys-surface-container: #f5ebf0;
        --sys-surface-container-high: #efe6ea;
        --sys-surface-container-highest: #e9e0e4;
        --sys-surface-container-low: #fbf1f5;
        --sys-surface-container-lowest: #ffffff;
        --sys-surface-dim: #e1d7dc;
        --sys-surface-tint: #a900a9;
        --sys-surface-variant: #eedee7;
        --sys-tertiary: #006a6a;
        --sys-tertiary-container: #00fbfb;
        --sys-tertiary-fixed: #00fbfb;
        --sys-tertiary-fixed-dim: #00dddd;
    }

    &.dark-azure-magenta {
        --sys-background: #121316;
        --sys-error: #ffb4ab;
        --sys-error-container: #93000a;
        --sys-inverse-on-surface: #2f3033;
        --sys-inverse-primary: #005cbb;
        --sys-inverse-surface: #e3e2e6;
        --sys-on-background: #e3e2e6;
        --sys-on-error: #690005;
        --sys-on-error-container: #ffdad6;
        --sys-on-primary: #002f65;
        --sys-on-primary-container: #d7e3ff;
        --sys-on-primary-fixed: #001b3f;
        --sys-on-primary-fixed-variant: #00458f;
        --sys-on-secondary: #283041;
        --sys-on-secondary-container: #dae2f9;
        --sys-on-secondary-fixed: #131c2b;
        --sys-on-secondary-fixed-variant: #3e4759;
        --sys-on-surface: #e3e2e6;
        --sys-on-surface-variant: #e0e2ec;
        --sys-on-tertiary: #5b005b;
        --sys-on-tertiary-container: #ffd7f5;
        --sys-on-tertiary-fixed: #380038;
        --sys-on-tertiary-fixed-variant: #810081;
        --sys-outline: #8e9099;
        --sys-outline-variant: #44474e;
        --sys-primary: #abc7ff;
        --sys-primary-container: #00458f;
        --sys-primary-fixed: #d7e3ff;
        --sys-primary-fixed-dim: #abc7ff;
        --sys-scrim: #000000;
        --sys-secondary: #bec6dc;
        --sys-secondary-container: #3e4759;
        --sys-secondary-fixed: #dae2f9;
        --sys-secondary-fixed-dim: #bec6dc;
        --sys-shadow: #000000;
        --sys-surface: #121316;
        --sys-surface-bright: #38393c;
        --sys-surface-container: #1f2022;
        --sys-surface-container-high: #292a2c;
        --sys-surface-container-highest: #38393c;
        --sys-surface-container-low: #1a1b1f;
        --sys-surface-container-lowest: #0d0e11;
        --sys-surface-dim: #121316;
        --sys-surface-tint: #abc7ff;
        --sys-surface-variant: #44474e;
        --sys-tertiary: #ffabf3;
        --sys-tertiary-container: #810081;
        --sys-tertiary-fixed: #ffd7f5;
        --sys-tertiary-fixed-dim: #ffabf3;
    }

    &.dark-cyan-magenta {
        --sys-background: #101414;
        --sys-error: #ffb4ab;
        --sys-error-container: #93000a;
        --sys-inverse-on-surface: #2d3131;
        --sys-inverse-primary: #006a6a;
        --sys-inverse-surface: #e0e3e2;
        --sys-on-background: #e0e3e2;
        --sys-on-error: #690005;
        --sys-on-error-container: #ffdad6;
        --sys-on-primary: #003737;
        --sys-on-primary-container: #00fbfb;
        --sys-on-primary-fixed: #002020;
        --sys-on-primary-fixed-variant: #004f4f;
        --sys-on-secondary: #1b3534;
        --sys-on-secondary-container: #cce8e7;
        --sys-on-secondary-fixed: #051f1f;
        --sys-on-secondary-fixed-variant: #324b4b;
        --sys-on-surface: #e0e3e2;
        --sys-on-surface-variant: #dae5e4;
        --sys-on-tertiary: #5b005b;
        --sys-on-tertiary-container: #ffd7f5;
        --sys-on-tertiary-fixed: #380038;
        --sys-on-tertiary-fixed-variant: #810081;
        --sys-outline: #889392;
        --sys-outline-variant: #3f4948;
        --sys-primary: #00dddd;
        --sys-primary-container: #004f4f;
        --sys-primary-fixed: #00fbfb;
        --sys-primary-fixed-dim: #00dddd;
        --sys-scrim: #000000;
        --sys-secondary: #b0cccb;
        --sys-secondary-container: #324b4b;
        --sys-secondary-fixed: #cce8e7;
        --sys-secondary-fixed-dim: #b0cccb;
        --sys-shadow: #000000;
        --sys-surface: #101414;
        --sys-surface-bright: #363a39;
        --sys-surface-container: #1c2020;
        --sys-surface-container-high: #272b2a;
        --sys-surface-container-highest: #363a39;
        --sys-surface-container-low: #191c1c;
        --sys-surface-container-lowest: #0b0f0e;
        --sys-surface-dim: #101414;
        --sys-surface-tint: #00dddd;
        --sys-surface-variant: #3f4948;
        --sys-tertiary: #ffabf3;
        --sys-tertiary-container: #810081;
        --sys-tertiary-fixed: #ffd7f5;
        --sys-tertiary-fixed-dim: #ffabf3;
    }

    &.dark-violet-magenta {
        --sys-background: #151316;
        --sys-error: #ffb4ab;
        --sys-error-container: #93000a;
        --sys-inverse-on-surface: #323033;
        --sys-inverse-primary: #7d00fa;
        --sys-inverse-surface: #e6e1e6;
        --sys-on-background: #e6e1e6;
        --sys-on-error: #690005;
        --sys-on-error-container: #ffdad6;
        --sys-on-primary: #42008a;
        --sys-on-primary-container: #ecdcff;
        --sys-on-primary-fixed: #270057;
        --sys-on-primary-fixed-variant: #5f00c0;
        --sys-on-secondary: #352d40;
        --sys-on-secondary-container: #eadef7;
        --sys-on-secondary-fixed: #1f182a;
        --sys-on-secondary-fixed-variant: #4b4357;
        --sys-on-surface: #e6e1e6;
        --sys-on-surface-variant: #e8e0eb;
        --sys-on-tertiary: #5b005b;
        --sys-on-tertiary-container: #ffd7f5;
        --sys-on-tertiary-fixed: #380038;
        --sys-on-tertiary-fixed-variant: #810081;
        --sys-outline: #958e99;
        --sys-outline-variant: #49454e;
        --sys-primary: #d5baff;
        --sys-primary-container: #5f00c0;
        --sys-primary-fixed: #ecdcff;
        --sys-primary-fixed-dim: #d5baff;
        --sys-scrim: #000000;
        --sys-secondary: #cec2db;
        --sys-secondary-container: #4b4357;
        --sys-secondary-fixed: #eadef7;
        --sys-secondary-fixed-dim: #cec2db;
        --sys-shadow: #000000;
        --sys-surface: #151316;
        --sys-surface-bright: #3b383c;
        --sys-surface-container: #211f22;
        --sys-surface-container-high: #2b292d;
        --sys-surface-container-highest: #3b383c;
        --sys-surface-container-low: #1d1b1e;
        --sys-surface-container-lowest: #0f0d11;
        --sys-surface-dim: #151316;
        --sys-surface-tint: #d5baff;
        --sys-surface-variant: #49454e;
        --sys-tertiary: #ffabf3;
        --sys-tertiary-container: #810081;
        --sys-tertiary-fixed: #ffd7f5;
        --sys-tertiary-fixed-dim: #ffabf3;
    }

    &.dark-orange-magenta {
        --sys-background: #181210;
        --sys-error: #ffb4ab;
        --sys-error-container: #93000a;
        --sys-inverse-on-surface: #362f2b;
        --sys-inverse-primary: #964900;
        --sys-inverse-surface: #ece0da;
        --sys-on-background: #ece0da;
        --sys-on-error: #690005;
        --sys-on-error-container: #ffdad6;
        --sys-on-primary: #502400;
        --sys-on-primary-container: #ffdcc7;
        --sys-on-primary-fixed: #311300;
        --sys-on-primary-fixed-variant: #723600;
        --sys-on-secondary: #422b1b;
        --sys-on-secondary-container: #ffdcc7;
        --sys-on-secondary-fixed: #2b1708;
        --sys-on-secondary-fixed-variant: #5b4130;
        --sys-on-surface: #ece0da;
        --sys-on-surface-variant: #f4ded3;
        --sys-on-tertiary: #5b005b;
        --sys-on-tertiary-container: #ffd7f5;
        --sys-on-tertiary-fixed: #380038;
        --sys-on-tertiary-fixed-variant: #810081;
        --sys-outline: #9f8d83;
        --sys-outline-variant: #52443c;
        --sys-primary: #ffb787;
        --sys-primary-container: #723600;
        --sys-primary-fixed: #ffdcc7;
        --sys-primary-fixed-dim: #ffb787;
        --sys-scrim: #000000;
        --sys-secondary: #e5bfa8;
        --sys-secondary-container: #5b4130;
        --sys-secondary-fixed: #ffdcc7;
        --sys-secondary-fixed-dim: #e5bfa8;
        --sys-shadow: #000000;
        --sys-surface: #181210;
        --sys-surface-bright: #3f3834;
        --sys-surface-container: #241e1b;
        --sys-surface-container-high: #2f2926;
        --sys-surface-container-highest: #3f3834;
        --sys-surface-container-low: #201a17;
        --sys-surface-container-lowest: #120d0b;
        --sys-surface-dim: #181210;
        --sys-surface-tint: #ffb787;
        --sys-surface-variant: #52443c;
        --sys-tertiary: #ffabf3;
        --sys-tertiary-container: #810081;
        --sys-tertiary-fixed: #ffd7f5;
        --sys-tertiary-fixed-dim: #ffabf3;
    }

    &.dark-magenta-cyan {
        --sys-background: #161215;
        --sys-error: #ffb4ab;
        --sys-error-container: #93000a;
        --sys-inverse-on-surface: #342f32;
        --sys-inverse-primary: #a900a9;
        --sys-inverse-surface: #e9e0e4;
        --sys-on-background: #e9e0e4;
        --sys-on-error: #690005;
        --sys-on-error-container: #ffdad6;
        --sys-on-primary: #5b005b;
        --sys-on-primary-container: #ffd7f5;
        --sys-on-primary-fixed: #380038;
        --sys-on-primary-fixed-variant: #810081;
        --sys-on-secondary: #3d2b3a;
        --sys-on-secondary-container: #f7daef;
        --sys-on-secondary-fixed: #271624;
        --sys-on-secondary-fixed-variant: #554151;
        --sys-on-surface: #e9e0e4;
        --sys-on-surface-variant: #eedee7;
        --sys-on-tertiary: #003737;
        --sys-on-tertiary-container: #00fbfb;
        --sys-on-tertiary-fixed: #002020;
        --sys-on-tertiary-fixed-variant: #004f4f;
        --sys-outline: #9a8d95;
        --sys-outline-variant: #4e444b;
        --sys-primary: #ffabf3;
        --sys-primary-container: #810081;
        --sys-primary-fixed: #ffd7f5;
        --sys-primary-fixed-dim: #ffabf3;
        --sys-scrim: #000000;
        --sys-secondary: #dabfd2;
        --sys-secondary-container: #554151;
        --sys-secondary-fixed: #f7daef;
        --sys-secondary-fixed-dim: #dabfd2;
        --sys-shadow: #000000;
        --sys-surface: #161215;
        --sys-surface-bright: #3d383b;
        --sys-surface-container: #231e22;
        --sys-surface-container-high: #2d292c;
        --sys-surface-container-highest: #3d383b;
        --sys-surface-container-low: #1e1a1d;
        --sys-surface-container-lowest: #110d10;
        --sys-surface-dim: #161215;
        --sys-surface-tint: #ffabf3;
        --sys-surface-variant: #4e444b;
        --sys-tertiary: #00dddd;
        --sys-tertiary-container: #004f4f;
        --sys-tertiary-fixed: #00fbfb;
        --sys-tertiary-fixed-dim: #00dddd;
    }
}