/*# sourceURL=styles-dimensions.scss */

/* 
$mobile-480: 480px;
$tablet-768: 768px;
$laptop-992: 992px;
$desktop-1024: 1024px;
*/
$mobile-480  :  480px;
$tablet-768  :  768px; // +288
$laptop-1024 : 1024px; // +256
$desktop-1280: 1280px; // +256
$extra-1536  : 1536px; // +256

/*
$size-mobile-max: 767.99px;

$size-tablet-min: 768px;
$size-tablet-max: 1024px;

$size-desktop-min: 1024.1px;
*/