/*# sourceURL=styles.scss */

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

@use './styles-mdc.scss';

html {
    @include mat.theme((color: (primary: mat.$azure-palette,
                tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}


html {
    font-family: Roboto, 'Helvetica Neue', sans-serif; // #? Arial, Helvetica, sans-serif;
    height: 100%;
    line-height: 1.5;
}

body {
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;

    // #Define the default background color and text color.
    // #background-color: var(--sys-surface);
    // #color: var(--sys-on-surface);

    // #Learn more https://material.angular.dev/guide/system-variables
    // #background-color: var(--mat-sys-surface);
    // #color: var(--mat-sys-on-surface);
    // #font: var(--mat-sys-body-medium); // 400 0.875rem / 1.25rem Roboto
    // #color-scheme: light; // [`light`, `dark`]

    height: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

a[no-decor],
a:visited[no-decor],
a:hover[no-decor] {
    text-decoration: none;
}

a {
    text-decoration: none;
}

// Underline when hovering over a link.
a:hover {
    text-decoration: underline;
}

.global-scroll {
    --scr-bar-wd: thin;
    scrollbar-width: var(--scr-bar-wd-firefox, var(--scr-bar-wd));

    // only for Firefox browser
    @-moz-document url-prefix() {
        --scr-bar-wd-firefox: auto;
    }

    // --scrollbarBG: rgb(207 216 220 / 20%);
    // --thumbBG: #90a4ae;
    //   scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    //   &::-webkit-scrollbar { width: 9px; height: 9px; }
    //   &::-webkit-scrollbar-track { background: var(--scrollbarBG); }
    //   &::-webkit-scrollbar-thumb { background-color: var(--thumbBG); border-radius: 6px; border: 3px solid var(--scrollbarBG); }
}