/*# sourceURL=styles-mdc-infix.scss */
/* Complements the "Material Design" style library. */

body {
  --mat-menu-item-label-text-size: none;
}
.cdk-overlay-pane.app-modal-panel {

  .mdc-dialog__container {
    // --mdc-dialog-container-color: white;
    --mdc-dialog-container-color: var(--app-default-bg-high); // background-color: var(--mdc-dialog-container-color, white);

    // --mdc-dialog-subhead-color: rgba(0, 0, 0, 0.87);

    --mdc-dialog-supporting-text-color: var(--app-default-cl); // rgba(0, 0, 0, 0.6);
    
    --mdc-dialog-container-shape: 1em; //  border-radius: var(--mdc-dialog-container-shape); // 4px

    --mdc-dialog-container-elevation:
      0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

}

.stl-mdc-infix {
  
  // ** mat-error **
  .infix-err-hg-bg .ng-invalid.ng-touched .mat-mdc-form-field-subscript-wrapper {
    height: 2.25em;
  }

   //  cdk-overlay-container
  .cdk-overlay-container {
    .mat-mdc-menu-item, // Mat-Menu
    .mat-mdc-option {   // Mat-Select
      min-height: 40px;
    }
    // Mat-Select
    .mat-mdc-option .mat-pseudo-checkbox-minimal {
      margin-left: 0.5em;
    }
  }

  // **
  // ** Color palette (light-theme/dark-theme) for "Material Design" components. **
  // **


  // Light
  &.light-theme {
    .mat-mdc-form-field.app-infix-tm {
      --nfx-tm-text-field-border: hsla(var(--app-default-cl-h), var(--app-default-cl-s), var(--app-default-cl-l), 0.23);
    }
  }
  &.dark-theme {
    .mat-mdc-form-field.app-infix-tm {
      --nfx-tm-text-field-border: hsla(var(--app-default-cl-h), var(--app-default-cl-s), var(--app-default-cl-l), 0.3);
    }
  }  

  
  .mat-mdc-form-field.app-infix-tm {
    --mdc-theme-error: var(--app-warn); // .mat-form-field-invalid
    --mdc-theme-primary: var(--app-primary);
    --nfx-tm-text-field-disabled: hsla(var(--app-default-cl-h), var(--app-default-cl-s), var(--app-default-cl-l), 0.36);
    // --mdc-filled-text-field-container-color: hsl(0, 0%, 96%);
    // --mdc-filled-text-field-container-color: hsl(var(--app-default-bg-h), var(--app-default-bg-s), calc(var(--app-default-bg-l) - 2%));

    .mdc-text-field--focused:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-floating-label {
      color: var(--app-primary);
    } 

    .mdc-text-field--disabled {
      color: var(--nfx-tm-text-field-disabled);
      .mdc-floating-label { color: inherit; }
    }
    .mdc-text-field--disabled .mdc-notched-outline > div {
      border-color: var(--nfx-tm-text-field-border);
    }
  }
    

  &.light-theme {
    --infix-button-ordinary-brd: var(--app-ordinary-high);
    --infix-button-ordinary-text-cl: var(--app-default-cl);
    --infix-button-ordinary-text-dis-cl: hsla(var(--app-default-cl-h), var(--app-default-cl-s), var(--app-default-cl-l), 0.50);

    --infix-button-ordinary-bg: hsl(var(--app-ordinary-h), var(--app-ordinary-s), calc(var(--app-ordinary-l) + 37%));
    --infix-form-field-hint-cl: hsl(210, 8%, 35%);

    // Field:
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
      color: inherit;
    }
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
      color: rgba(0, 0, 0, 0.75);
    }      

  }

  &.dark-theme {
    --infix-button-ordinary-brd: var(--app-ordinary-low);
    --infix-button-ordinary-text-cl: var(--app-default-cl);
    --infix-button-ordinary-text-dis-cl: hsla(var(--app-default-cl-h), var(--app-default-cl-s), var(--app-default-cl-l), 0.50);
    --infix-button-ordinary-bg: hsl(var(--app-ordinary-h), var(--app-ordinary-s), calc(var(--app-ordinary-l) - 28%));
    --infix-form-field-hint-cl: hsla(0, 0%, 100%, 0.6);

    // Field:
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
      color: inherit;
    }
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
      color: rgba(256, 256, 256, 0.75);
    }
    .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline div {
      border-color: #FFFFFF;
    }

    // ** mat-select **

    --mat-option-selected-state-label-text-color: #cce8e7;
    --mat-option-label-text-color: #e0e3e2; // white;
    --mat-option-hover-state-layer-color: rgba(224, 227, 226, .08); // rgba(255, 255, 255, .08);
    --mat-option-focus-state-layer-color: rgba(224, 227, 226, .12); // rgba(255, 255, 255, .08);
    --mat-option-selected-state-layer-color: hsl(180, 10%, 33%); // // #324b4b; 

    --mat-select-panel-background-color: hsl(180, 10%, 30%); // hsl(180, 10%, 25%); 
    --mat-select-enabled-trigger-text-color: #e0e3e2;
    --mat-select-disabled-trigger-text-color: rgba(224, 227, 226, .38);
    --mat-select-placeholder-text-color: #dae5e4;
    --mat-select-enabled-arrow-color: #dae5e4;
    --mat-select-disabled-arrow-color: rgba(224, 227, 226, .38);
    --mat-select-focused-arrow-color: #00dddd;
    --mat-select-invalid-arrow-color: #ffb4ab;

    // ** mat-menu
    --mat-menu-item-label-text-color: white;
    --mat-menu-item-icon-color: white;
    --mat-menu-item-hover-state-layer-color: rgba(255, 255, 255, .08);
    --mat-menu-item-focus-state-layer-color: rgba(255, 255, 255, .08);
    --mat-menu-container-color: hsl(180, 10%, 30%); // #424242;

    // ** mat-slide-toggle **
    --mdc-theme-text-primary-on-background: white;

  }

  // ** mat-button **          
  button.app-infix.app-ordinary {
    --mdc-outlined-button-outline-color: var(--infix-button-ordinary-brd);
    --mdc-outlined-button-label-text-color: var(--infix-button-ordinary-text-cl);
    --mdc-outlined-button-disabled-label-text-color: var(--infix-button-ordinary-text-dis-cl);
    --mdc-outlined-button-disabled-outline-color: var(--infix-button-ordinary-brd);

    --mdc-protected-button-label-text-color: var(--infix-button-ordinary-text-cl);
    --mdc-protected-button-disabled-label-text-color: var(--infix-button-ordinary-text-dis-cl);

    --mdc-outlined-button-container-color: var(--infix-button-ordinary-bg);
    --mdc-protected-button-container-color: var(--infix-button-ordinary-bg);
  }

  //.mat-mdc-raised-button.mat-unthemed {
  //  --mdc-protected-button-container-color: #424242;
  //  --mdc-protected-button-label-text-color: #fff;
  //}

  // ** mat-form-field **
  .mat-mdc-form-field-hint {
    color: var(--infix-form-field-hint-cl);
  }

 
  

  
}