/*# sourceURL=styles-mdc-infix.scss */
/* Complements the "Material Design" style library. */

.stl-mdc-infix {
  --demo-button-bg: #797979;

    
  .mat-mdc-form-field-subscript-wrapper {
    --mdc-typography-caption-line-height: 1.25;
    // &::before { height: calc(2em + 2px); }
    mat-hint, mat-error {
      display: flex;
      margin-top: 1px;
    }
  }

  &.dark-theme {
    --infix-button-ordinary-brd: var(--app-ordinary-low); // high
    // --demo--button-ordinary-text-cl: hsl(0, 0%, 100%); // #ffffff
    --infix-button-ordinary-text-cl: hsl(var(--app-default-cl-h),var(--app-default-cl-s),var(--app-default-cl-l));
    --infix-button-ordinary-text-dis-cl: hsla(var(--app-default-cl-h),var(--app-default-cl-s),var(--app-default-cl-l),0.50);
    // --demo--button-ordinary-bg : hsl(0, 0%, 19%);
    --infix-button-ordinary-bg: hsl(var(--app-ordinary-h), var(--app-ordinary-s), calc(var(--app-ordinary-l) - 28%));
    --infix-form-field-hint-cl: hsla(0, 0%, 100%, 0.6);
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
      color: inherit;
    }
    .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
      color: rgba(256, 256, 256, 0.6);
    }

    // ** mat-select **

    --mat-option-selected-state-label-text-color: #cce8e7;
    --mat-option-label-text-color: #e0e3e2; // white;
    --mat-option-hover-state-layer-color: rgba(224, 227, 226, .08); // rgba(255, 255, 255, .08);
    --mat-option-focus-state-layer-color: rgba(224, 227, 226, .12); // rgba(255, 255, 255, .08);
    --mat-option-selected-state-layer-color: hsl(180, 10%, 33%); // // #324b4b; 

    --mat-select-panel-background-color: hsl(180, 10%, 30%); // hsl(180, 10%, 25%); 
    --mat-select-enabled-trigger-text-color: #e0e3e2;
    --mat-select-disabled-trigger-text-color: rgba(224, 227, 226, .38);
    --mat-select-placeholder-text-color: #dae5e4;
    --mat-select-enabled-arrow-color: #dae5e4;
    --mat-select-disabled-arrow-color: rgba(224, 227, 226, .38);
    --mat-select-focused-arrow-color: #00dddd;
    --mat-select-invalid-arrow-color: #ffb4ab;

    // ** mat-menu
    --mat-menu-item-label-text-color: white;
    --mat-menu-item-icon-color: white;
    --mat-menu-item-hover-state-layer-color: rgba(255, 255, 255, .08);
    --mat-menu-item-focus-state-layer-color: rgba(255, 255, 255, .08);
    --mat-menu-container-color: hsl(180, 10%, 30%); // #424242;
  }
  &.light-theme {
    --infix-button-ordinary-brd: var(--app-ordinary-high);
    // --demo--button-ordinary-text-cl: hsl(0, 0%, 0%); // #000000
    --app-default-cl: hsl(var(--app-default-cl-h),var(--app-default-cl-s),var(--app-default-cl-l));
    --infix-button-ordinary-text-cl: hsl(var(--app-default-cl-h),var(--app-default-cl-s),var(--app-default-cl-l));
    --infix-button-ordinary-text-dis-cl: hsla(var(--app-default-cl-h),var(--app-default-cl-s),var(--app-default-cl-l),0.50);
    // --demo-button-ordinary-bg : hsl(0, 0%, 84%);
    --infix-button-ordinary-bg: hsl(var(--app-ordinary-h), var(--app-ordinary-s), calc(var(--app-ordinary-l) + 37%));
    --infix-form-field-hint-cl: hsl(210, 8%, 35%);
  }

            
  button.app-infix.app-ordinary {
    --mdc-outlined-button-outline-color: var(--infix-button-ordinary-brd);
    --mdc-outlined-button-label-text-color: var(--infix-button-ordinary-text-cl);
    --mdc-outlined-button-disabled-label-text-color: var(--infix-button-ordinary-text-dis-cl);
    --mdc-outlined-button-disabled-outline-color: var(--infix-button-ordinary-brd);

    --mdc-protected-button-label-text-color: var(--infix-button-ordinary-text-cl);
    --mdc-protected-button-disabled-label-text-color: var(--infix-button-ordinary-text-dis-cl);

    --mdc-outlined-button-container-color: var(--infix-button-ordinary-bg);
    --mdc-protected-button-container-color: var(--infix-button-ordinary-bg);
  }

  .mat-mdc-dialog-content.mdc-dialog__content {
    padding-top: 1em;
  }
  .mat-mdc-form-field-hint {
    color: var(--infix-form-field-hint-cl);
  }

   //  cdk-overlay-container
  .cdk-overlay-container {
    .mat-mdc-menu-item, // Mat-Menu
    .mat-mdc-option {   // Mat-Select
      min-height: 40px;
    }
    // Mat-Select
    .mat-mdc-option .mat-pseudo-checkbox-minimal {
      margin-left: 0.5em;
    }
  }
  
}