/*# sourceURL=styles-colors.scss */

:root {

  .dark-theme {
    color-scheme: dark;
    // "default" background-color: hsl(0, 5%, 10%); #1b1818
    --app-default-bg-h: 0;
    --app-default-bg-s: 5%;
    --app-default-bg-l: 10%;
    --app-default-bg: hsl(var(--app-default-bg-h),var(--app-default-bg-s),var(--app-default-bg-l));
    --app-default-bg-high: hsl(0, 0%, 22%);
    --app-default-bg-low: hsl(0, 0%, 17%);
    // "default" color: hsl(0, 0%, 100%); #fff;
    --app-default-cl-h: 0;
    --app-default-cl-s: 0%;
    --app-default-cl-l: 100%;
    --app-default-cl: hsl(var(--app-default-cl-h),var(--app-default-cl-s),var(--app-default-cl-l));
   
    --app-site-unauth: hsl(24, 70%, 60%);
    --app-site-auth: hsl(140, 40%, 30%);

    --app-pn-stream: hsl(210, 20%, 15%);  // --app-theme-background-panel-2: hsl(210, 20%, 15%);
    --app-pn-stream-low: hsl(210, 20%, 25%);
  }
  .light-theme {
    color-scheme: light;
    // "default" background-color: hsl(0, 0%, 100%); #fff;
    --app-default-bg-h: 0;
    --app-default-bg-s: 0%;
    --app-default-bg-l: 100%;
    --app-default-bg: hsl(var(--app-default-bg-h),var(--app-default-bg-s),var(--app-default-bg-l));
    // "default" color: hsl(0, 5%, 10%,); #1b1818
    --app-default-cl-h: 0;
    --app-default-cl-s: 5%;
    --app-default-cl-l: 10%;
    --app-default-cl: hsl(var(--app-default-cl-h),var(--app-default-cl-s),var(--app-default-cl-l));
    
    // --app-primary-demo-01: hsla(230.85, 48.36%, 47.84%, 0.1); // #3f51b51a
    // --app-primary-demo : hsl(230.85, 48.36%, 47.84%);       // #3f51b5
    --app-primary-h: 230.85;
    --app-primary-s: 48.36%;
    --app-primary-l: 47.84%;
    --app-primary: hsl(var(--app-primary-h), var(--app-primary-s), var(--app-primary-l));
    --app-primary-low: hsla(var(--app-primary-h), var(--app-primary-s), var(--app-primary-l), 0.1);
  
    --app-site-unauth: hsl(27, 95%, 90%);
    --app-site-auth: hsl(140, 40%, 90%);

    --app-pn-stream: hsl(222, 50%, 96%);  // --app-theme-background-panel-2: hsl(222, 50%, 96%);
    --app-pn-stream-low: hsl(222, 50%, 86%);
  
  
  }

  .dark-theme {
    background-color: var(--app-default-bg);
    color: var(--app-default-cl);
  }
  .light-theme {
    background-color: var(--app-default-bg);
    color: var(--app-default-cl);
  }

  // OLD variant
  // --app-theme-input-border: darkgray;

  .dark-theme {
    // @include angular-material-theme($dark-theme);
    // @include app-theme-color($dark-theme);
    --app-theme-accent: #999999;
    --app-theme-green100: #26A69A;
    --app-theme-blue-grey-500: #1E3046;
    --app-theme-orange: #FB8C00;
    --app-theme-nickname: #69717A;
    --app-theme-nickname-text: #D9DCDE;
    --app-theme-blue-300: #2196F3;
    --app-theme-input-border: rgba(255, 255, 255, 0.3);
    --app-theme-grey-100: #A3B4CB;
  }
  .light-theme {
    // @include angular-material-theme($light-theme);
    // @include app-theme-color($light-theme);
    // --app-theme-primary: var(--blue-800);
    --app-theme-accent: #999999;
    --app-theme-green100: #26A69A;
    --app-theme-blue-grey-500: #1E3046;
    --app-theme-orange: #FB8C00;
    --app-theme-nickname: #69717A;
    --app-theme-nickname-text: #D9DCDE;
    --app-theme-blue-300: #2196F3;
    --app-theme-input-border: rgba(0, 0, 0, 0.12);
    --app-theme-grey-100: #788393;
  
    --app-input-dis: rgba(0, 0, 0, 0.38);
    --app-input-brd: rgba(0, 0, 0, 0.38);
    --app-input-brd-hov: rgba(0, 0, 0, 0.87);
    --app-input-brd-dis: rgba(0, 0, 0, 0.06);
  
  
    // --app-site-off-header-bg: var(--orange-100);
    // --app-site-off-footer-bg: var(--orange-100);
  
    --app-site-footer-bg: var(--green-050);
    --app-site-header-bg: var(--green-050);
    --app-site-border-cl: var(--green-500);
    --app-site-border-warn-cl: var(--red-500);
  }

}