/*# sourceURL=styles.scss */

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use "@angular/material" as mat;

@use "./styles-mdc.scss";

/*html {
    @include mat.theme( //
        (color: ( // old
                primary: mat.$azure-palette, // old
                tertiary: mat.$blue-palette, // old

                // theme-type: light,
                // theme-type: dark,

                // primary : mat.$azure-palette, //  1p azure-orange
                // tertiary: mat.$orange-palette, // 1t azure-orange

                // primary : mat.$cyan-palette, //   2p cyan-orange
                // tertiary: mat.$orange-palette, // 2t cyan-orange

                // primary : mat.$violet-palette, //     3p violet-chartreuse
                // tertiary: mat.$chartreuse-palette, // 3t violet-chartreuse

                // primary : mat.$orange-palette, //  4p orange-magenta
                // tertiary: mat.$magenta-palette, // 4t orange-magenta

                // primary : mat.$magenta-palette, // 5p magenta-cyan
                // tertiary: mat.$cyan-palette, //    5t magenta-cyan

                // primary : mat.$azure-palette,
                // tertiary: mat.$blue-palette, // -
                // primary : mat.$rose-palette, // - 
                // tertiary: mat.$red-palette, // -
                // primary : mat.$magenta-palette, 
                // tertiary: mat.$violet-palette,
                // primary : mat.$cyan-palette,
                // tertiary: mat.$orange-palette,
                // primary : mat.$green-palette, // -
                // tertiary: mat.$cyan-palette,
            ),
            typography: Roboto,
            density: 0,
        ));
}*/

@use "./styles-theme.scss";
@use "./styles-typography.scss";



html {
    font-family: Roboto, 'Helvetica Neue', sans-serif; // #? Arial, Helvetica, sans-serif;
    height: 100%;
    line-height: 1.5;
}

body {
    -webkit-text-size-adjust: 100% !important;
    -ms-text-size-adjust: 100% !important;
    -webkit-font-smoothing: antialiased !important;

    // Learn more https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    // #font: var(--mat-sys-body-medium); // 400 0.875rem / 1.25rem Roboto
    // #color-scheme: light; // [`light`, `dark`]

    height: 100%;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

a[no-decor],
a:visited[no-decor],
a:hover[no-decor] {
    text-decoration: none;
}

a {
    text-decoration: none;
}

// Underline when hovering over a link.
a:hover {
    text-decoration: underline;
}

.global-scroll {
    --scr-bar-wd: thin;
    scrollbar-width: var(--scr-bar-wd-firefox, var(--scr-bar-wd));

    // only for Firefox browser
    @-moz-document url-prefix() {
        --scr-bar-wd-firefox: auto;
    }

    // --scrollbarBG: rgb(207 216 220 / 20%);
    // --thumbBG: #90a4ae;
    //   scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    //   &::-webkit-scrollbar { width: 9px; height: 9px; }
    //   &::-webkit-scrollbar-track { background: var(--scrollbarBG); }
    //   &::-webkit-scrollbar-thumb { background-color: var(--thumbBG); border-radius: 6px; border: 3px solid var(--scrollbarBG); }
}