/*# sourceURL=styles.scss */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$verbena-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
    use-system-variables: true, // Added
  ),
  typography: (
    use-system-variables: true, // Added
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($verbena-theme);
  @include mat.system-level-colors($verbena-theme); // Added
  @include mat.system-level-typography($verbena-theme); // Added
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($verbena-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($verbena-theme);
/* You can add global styles to this file, and also import other style files */


@import './styles-colors-list.scss';
@import './styles-colors.scss';
@import './styles-theme.scss';
@import './styles-mdc-infix.scss';

html {
  --scrollbarBG: rgb(207 216 220 / 20%);
  --thumbBG: #90a4ae;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100%;
  line-height: 1.5;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body {
  height: 100%;
  margin: 0;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  -webkit-font-smoothing: antialiased !important;
}
h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
}
p {
  margin: 0;
}

a[no-decor],
a:visited[no-decor],
a:hover[no-decor] {
  text-decoration: none;
}

.global-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
}

body {
  --mat-menu-item-label-text-size: none;
}
// old
// .spacer {
//   flex: 1;
// }


.cdk-overlay-pane.app-modal-panel {

  .mdc-dialog__container {
    // --mdc-dialog-container-color: white;
    --mdc-dialog-container-color: var(--app-default-bg-high); // background-color: var(--mdc-dialog-container-color, white);

    // --mdc-dialog-subhead-color: rgba(0, 0, 0, 0.87);

    --mdc-dialog-supporting-text-color: var(--app-default-cl); // rgba(0, 0, 0, 0.6);
    
    --mdc-dialog-container-shape: 1em; //  border-radius: var(--mdc-dialog-container-shape); // 4px

    --mdc-dialog-container-elevation:
      0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

}
