/*# sourceURL=styles-theme.scss */

:root {

  //    primary  : hsl(231, 48%, 48%); #3f51b5
  --thm-primary-h: 231;
  --thm-primary-s: 48%;
  --thm-primary-l: 48%;
  --thm-primary  : hsl(var(--thm-primary-h), var(--thm-primary-s), var(--thm-primary-l));
  //    primary-high: #c5cbe9  hsl(230, 45%, 84%)   hsl(230, 45%, 84%)
  --thm-primary-high: hsl(calc(var(--thm-primary-h) - 1), calc(var(--thm-primary-s) - 3%), calc(var(--thm-primary-l) + 36%));
  //    primary-low : #29379d  hsl(233, 59%, 39%)
  --thm-primary-low : hsl(calc(var(--thm-primary-h) + 2), calc(var(--thm-primary-s) + 11%), calc(var(--thm-primary-l) - 0%));

  //    accent  : hsl( 35, 97%, 38%); #c07003  
  --thm-accent-h: 35;
  --thm-accent-s: 97%;
  --thm-accent-l: 38%;
  --thm-accent  : hsl(var(--thm-accent-h), var(--thm-accent-s), var(--thm-accent-l));
  //    accent-high: #ecd4b3  hsl(35, 60%, 81%)
  --thm-accent-high: hsl(calc(var(--thm-accent-h) - 0), calc(var(--thm-accent-s) - 37%), calc(var(--thm-accent-l) + 43%));
  //    accent-low: #aa5302  hsl(29, 98%, 34%)
  --thm-accent-low : hsl(calc(var(--thm-accent-h) - 6), calc(var(--thm-accent-s) + 1%), calc(var(--thm-accent-l) - 4%));
  
}