/*# sourceURL=styles-colors.scss */

:root {

  // OLD variant
  // --app-theme-input-border: darkgray;

  .dark-theme {
    // @include angular-material-theme($dark-theme);
    // @include app-theme-color($dark-theme);
    --app-theme-primary: hsl(206, 100%, 52%); // --blue -500: hsl(206, 100%, 52%);
    --app-theme-accent: #999999;
    --app-theme-green100: #26A69A;
    --app-theme-blue-grey-500: #1E3046;
    --app-theme-orange: #FB8C00;
    --app-theme-nickname: #69717A;
    --app-theme-nickname-text: #D9DCDE;
    --app-theme-blue-300: #2196F3;
    --app-theme-input-border: rgba(0, 0, 0, 0.38); // rgba(255, 255, 255, 0.3);
    --app-theme-grey-100: #A3B4CB;
  }
  .light-theme {
    // @include angular-material-theme($light-theme);
    // @include app-theme-color($light-theme);
    --app-theme-primary: hsl(209, 100%, 32%); //  --blue -800: hsl(209, 100%, 32%);
    --app-theme-accent: #999999;
    --app-theme-green100: #26A69A;
    --app-theme-blue-grey-500: #1E3046;
    --app-theme-orange: #FB8C00;
    --app-theme-nickname: #69717A;
    --app-theme-nickname-text: #D9DCDE;
    --app-theme-blue-300: #2196F3;
    --app-theme-input-border: rgba(0, 0, 0, 0.38); // rgba(0, 0, 0, 0.12);
    --app-theme-grey-100: #788393;
  
    --app-input-dis: rgba(0, 0, 0, 0.38);
    --app-input-brd: rgba(0, 0, 0, 0.38);
    --app-input-brd-hov: rgba(0, 0, 0, 0.87);
    --app-input-brd-dis: rgba(0, 0, 0, 0.06);
  
    --app-site-footer-bg: hsl(140, 40%, 90%); // var(--green -050);  --green -050: hsl(140, 40%, 90%);
    --app-site-header-bg: hsl(140, 40%, 90%); // var(--green -050);
    --app-site-border-cl: hsl(140, 40%, 90%); // var(--green -500);
    --app-site-border-warn-cl: hsl(358, 62%, 52%); /// var(--red -500);
  }

}