<!-- @if (streamStateService.changeOfState) {
  <app-spinner [isFullOwner]="true"></app-spinner>
} -->

<div class="cv-side-bar">
  <button class="cv-btn-arrow cv-left" (click)="isSidebarLfOpen = !isSidebarLfOpen;">
    <svg [ngClass]="['cv-arrow cv-rotate', (isSidebarLfOpen ? 'cv-0deg' : 'cv-180deg')]">
      <use href="assets/icons/lib-concept/concept-view/angle-left-bin.svg#angle-left-bin"></use>
    </svg>
  </button>
    
  <app-sidebar [isOpen]="isSidebarLfOpen" [isVeilByClosing]="true" (clickByVeil)="isSidebarLfOpen=true">
    <aside class="cv-aside cv-fix-rg">
      cv-bar-left
  <!-- <app-panel-left-followers
    [isMiniSize]="isMiniSidebarLeft"
    [isLoading]="followersService.followersAndPopularLoading"
    [followerList]="followersService.followerDTOList"
    [popularList]="followersService.popularDTOList"
  >
    <div class="ticker" [appTradMarketOverview]="{ isDarkTheme: isDarkTheme }">
    </div>
  </app-panel-left-followers> -->
    </aside>
  </app-sidebar>
</div>

<div class="cv-center">
  
  <div [ngClass]="[(isStreamVideo ? 'cv-stream-video' : '')]">
    <!-- <div [ngClass]="['cv-box-video', classNameViewerSize()]"> -->
      <!-- <div class="height-100ps" [appMillicastViewer]="millicastViewer"></div> -->
      <div class="cv-hg100"></div>
      <app-panel-stream-state class="cv-stream-state"
        [streamState]="streamDto?.state || null">
      </app-panel-stream-state>
    <!-- </div> -->
  </div>

  <div class="cv-stream-panel">
    
    <app-panel-stream-params style9="outline: 1px dashed darkblue;"
      [title]="streamDto?.title"
      [tags]="streamDto?.tags || []"
      [startDateTime]="getDate(streamDto?.starttime)">
    </app-panel-stream-params>
    
    <div class="cv-stream-tools">
      stream-tools
    </div>
    <div class="cv-stream-actions">
      @if (isStreamOwner) {
        <app-panel-stream-actions
          [state]="streamDto?.state"
          [title]="streamDto?.title"
          (changeState)="doChangeState($event)">
        </app-panel-stream-actions>
      }
    </div>
  </div>
  @if (!isStreamOwner) {
    Is not Stream Owner
    <!-- @if (subscribeLoading) {
    <app-spinner [isFullOwner]="true" [diameter]="60"></app-spinner>
    }
    <app-panel-stream-info
      [streamDTO]="streamDTO"
      [extendedUserDTO]="extendedUserDTO"
      [hasSubscribe]="hasSubscriptionToAuthor"
      [countOfViewer]="socketService.countOfViewer$ | async"
      [broadcastDuration]="broadcastDuration"
      (actionSubscribe)="doActionSubscribe($event)">
    </app-panel-stream-info> -->
  } @else {
    <!-- <div class="cv-stream-info">
      <app-panel-stream-admin
        countOfViewer9="socketService.countOfViewer$ | async"
        [countOfViewer]="0"
        [state]="streamDto?.state"
        [startDate]="getDate(streamDto?.starttime)"
        [title]="streamDto?.title"
        (changeState)="doChangeState($event)">
      </app-panel-stream-admin>
    </div> -->
  }

  <!-- <div class="user-portfolio">
    <app-panel-portfolio-schedule class="details"
      [isDarkTheme]="isDarkTheme"
      [queryParamMap]="route.queryParamMap | async"
      [userId]="streamDTO?.userId || null"
    ></app-panel-portfolio-schedule>
  </div> -->
</div>

<div class="cv-side-bar">
  <button class="cv-btn-arrow cv-right" (click)="isSidebarRgOpen = !isSidebarRgOpen;">
    <svg [ngClass]="['cv-arrow cv-rotate', (isSidebarRgOpen ? 'cv-0deg' : 'cv-180deg')]">
      <use href="assets/icons/lib-concept/concept-view/angle-right-bin.svg#angle-right-bin"></use>
    </svg>
  </button>
    
  <app-sidebar [isOpen]="isSidebarRgOpen" [isVeilByClosing]="true" (clickByVeil)="isSidebarRgOpen=true">
    <aside class="cv-aside cv-fix-lf">
      <app-panel-chat
        [isBlocked]="false"
        [isEditable]="true"
        [locale]="localeService.getLocale()"
        [nickname]="'Teodor_Nickols'"
        [title]="'concept-view.chat_title'">
      </app-panel-chat>
    <!-- <app-panel-right-chat
    [isEditable]="isEditableChat"
    [userId]="profileService.getUserId()"
    [chatMessages]="chatMessages"
    [isStreamOwner]="isStreamOwner"
    [isUserBanned]="isUserBanned || (socketService.userBanned$ | async)"
    (sendMessage)="doSendMessage($event)"
    (removeMessage)="doRemoveMessage($event)"
    (editMessage)="doEditMessage($event)"
    (bannedUser)="doBannedUser($event)"
  ></app-panel-right-chat> -->
    </aside>
  </app-sidebar>
</div>