@if (isLoadStream) {
  <app-spinner isFillParent></app-spinner>
}

<app-sidebar class="cv-sidebar" mode="left" style="display: none;"
  [isOpen]="isSidebarLfOpen"
  (click)="isSidebarLfOpen=(isSidebarLfOpen==false ? true: isSidebarLfOpen)">
  <div sidebar-layer>
    <button class="cv-sdb-btn cv-btn-arrow cv-btn-lf" (click)="clearEvent($event); isSidebarLfOpen = !isSidebarLfOpen;">
      <svg [ngClass]="['cv-arrow cv-rotate', (isSidebarLfOpen ? 'cv-0deg' : 'cv-180deg')]">
        <use href="assets/icons/lib-concept/concept-view/angle-left-bin.svg#angle-left-bin"></use>
      </svg>
    </button>
  </div>
  <div cv-hg100 cv-brd-bx cv-pd-rg0_5>
    <div cv-hg100 class="cv-sdb-brd cv-brd-rg">
      bar-left 1 bar-left 2

  <!-- <app-panel-left-followers
    [isMiniSize]="!isSidebarLfOpen"
    [isLoading]="followersService.followersAndPopularLoading"
    [followerList]="followersService.followerDTOList"
    [popularList]="followersService.popularDTOList"
  >
    <div class="ticker" [appTradMarketOverview]="{ isDarkTheme: isDarkTheme }">
    </div>
  </app-panel-left-followers> -->

    </div>
  </div>
</app-sidebar>

<div class="cv-center">
  
  <div [ngClass]="[(isStreamVideo ? 'cv-cnt-video' : '')]">
  <!-- <div [ngClass]="['cv-box-video', classNameViewerSize()]"> -->
    <!-- <div class="height-100ps" [appMillicastViewer]="millicastViewer"></div> -->
    <div cv-hg100></div>
    <app-panel-stream-state class="cv-stream-state"
      [streamState]="streamDto?.state || null">
    </app-panel-stream-state>
  <!-- </div> -->
  </div>

  <div class="cv-cnt-sepr"></div>

  <div class="cv-cnt-footer">

    <div class="cv-cnt-title">
      <span cv-mr-rg0_5>{{ 'concept-view.title' | translate }}</span>
      <span class="cv-cnt-label">{{ streamDto?.title }}</span>
    </div>

    <div class="cv-cnt-brd"></div>

    <div class="cv-cnt-params">
        
      <div class="cv-cnt-nickname cv-cnt-prm" style9="outline: 1px dashed cadetblue;">
        <app-avatar cv-mr-rg0_5 class="cv-cnt-avatar"
          [avatar]="avatar">
        </app-avatar>
        <div class="cv-cnt-name-tags">
          <div>{{ nickname }}</div>
          <div class="cv-cnt-tags">
            <span cv-mr-rg0_5>{{ 'Tags:' | translate }}</span>
            @for (tag of (streamDto?.tags || []); track tag) {
              <span cv-mr-rg0_5>#{{ tag }}</span>
            }
          </div>
        </div>
      </div>

      <div class="cv-cnt-prm" style9="outline: 1px dashed orangered;">
      <app-panel-stream-params class="cv-params9"
        [countOfViewer]="countOfViewer"
        [isShowTimer]="isShowTimer"
        [locale]="localeService.getLocale()"
        [start]="getDate(streamDto?.starttime)"
        [started]="getDate(streamDto?.started)"
        [stopped]="getDate(streamDto?.stopped)">
      </app-panel-stream-params>
      </div>

      <div class="cv-cnt-prm" style9="outline: 1px dashed green;">
        @if (isStreamOwner) {
          <app-panel-stream-actions
            [state]="streamDto?.state"
            [title]="streamDto?.title"
            (changeState)="doChangeState($event)">
          </app-panel-stream-actions>
        }
      </div>

    </div>

  </div>
    
  <!-- @if (!isStreamOwner) {
    Is not Stream Owner
    @if (subscribeLoading) {
    <app-spinner [isFullOwner]="true" [diameter]="60"></app-spinner>
    }
    <app-panel-stream-info
      [streamDTO]="streamDTO"
      [extendedUserDTO]="extendedUserDTO"
      [hasSubscribe]="hasSubscriptionToAuthor"
      [countOfViewer]="socketService.countOfViewer$ | async"
      [broadcastDuration]="broadcastDuration"
      (actionSubscribe)="doActionSubscribe($event)">
    </app-panel-stream-info>
  } @else {
    <div class="cv-stream-info">
      <app-panel-stream-admin
        countOfViewer9="socketService.countOfViewer$ | async"
        [countOfViewer]="0"
        [state]="streamDto?.state"
        [startDate]="getDate(streamDto?.starttime)"
        [title]="streamDto?.title"
        (changeState)="doChangeState($event)">
      </app-panel-stream-admin>
    </div> 
  }
  <div class="user-portfolio">
    <app-panel-portfolio-schedule class="details"
      [isDarkTheme]="isDarkTheme"
      [queryParamMap]="route.queryParamMap | async"
      [userId]="streamDTO?.userId || null"
    ></app-panel-portfolio-schedule>
  </div> -->
</div>

<app-sidebar class="cv-sidebar" mode="right"
  [isOpen]="isSidebarRgOpen"
  (click)="isSidebarRgOpen=(isSidebarRgOpen==false ? true: isSidebarRgOpen)">
  <div sidebar-layer>
    <button class="cv-sdb-btn cv-btn-arrow cv-btn-rg" (click)="clearEvent($event); isSidebarRgOpen=!isSidebarRgOpen;">
      <svg [ngClass]="['cv-arrow cv-rotate', (isSidebarRgOpen ? 'cv-0deg' : 'cv-180deg')]">
        <use href="assets/icons/lib-concept/concept-view/angle-right-bin.svg#angle-right-bin"></use>
      </svg>
    </button>
  </div>
  <div cv-hg100 cv-brd-bx cv-pd-lf0_5>
    <app-panel-chat class="cv-sdb-chat cv-sdb-brd cv-brd-lf"
      [chatMsgs]="chatMsgs"
      [isEditable]="chatIsEditable"
      [locale]="localeService.getLocale()"
      [maxRows]="chatMaxRows"
      [minRows]="chatMinRows"
      [nickname]="nickname || ''"
      [title]="'concept-view.chat_title'"
      (sendMsg)="doSendMessage($event)"
      (editMsg)="doEditMessage($event)"
      (removeMsg)="doRemoveMessage($event)"
      (queryChatMsgs)="doQueryChatMsgs($event)">
    </app-panel-chat>
  </div>

  <!-- <app-panel-right-chat
    [isEditable]="isStreamActive"
    [userId]="profile Service.getUserId()"
    [chatMessages]="chatMessages"
    [isStreamOwner]="isStreamOwner"
    [isUserBanned]="isUserBanned || (socketService.userBanned$ | async)"
    (sendMessage)="doSendMessage($event)"
    (removeMessage)="doRemoveMessage($event)"
    (editMessage)="doEditMessage($event)"
    (bannedUser)="doBannedUser($event)"
  ></app-panel-right-chat> -->

</app-sidebar>


