/*# sourceURL=concept-view.component.scss */

// .dark-theme app-concept-view {
//     ---cv-pn-bg: var(--app-concept-pn-low);
//     ---cv-pn-low-bg: var(--app-concept-pn);
// }

// .light-theme app-concept-view {
//     ---cv-pn-bg: var(--app-concept-pn);
//     ---cv-pn-low-bg: var(--app-concept-pn-low);
// }

app-concept-view {
    ---cv-pn-bg: var(--app-concept-pn-bg);
    ---cv-pn-brd: var(--app-concept-pn-brd);
    --sb-mn-wd: var(--cv-sb-mn-wd, 57px);
    --sb-mx-wd: var(--cv-sb-mx-wd, 350px);
    --sb-durat: 1200ms; // --sb-durat: 1.200s;
    ---cv-brd-sz: var(--cv-brd-sz, medium); // thin-1px, medium-3px, thick-5px
    ---cv-brd-cl: var(--cv-brd-cl, var(--sys-outline-variant));

    // background-color: var(---cv-pn-low-bg);
    container: cnt-concept-view / inline-size;
    display: flex;
    height: 100%;
    position: relative;

    [cv-mr-rg1] {
        margin-right: 1rem;
    }

    [cv-mr-rg0_5] {
        margin-right: 0.5rem;
    }

    [cv-brd-bx] {
        box-sizing: border-box;
    }

    [cv-pd-lf0_5] {
        padding-left: 0.5rem;
    }

    [cv-pd-rg0_5] {
        padding-right: 0.5rem;
    }

    [cv-hg100] {
        height: 100%;
    }

    // ** left, right side **

    .cv-sidebar {
        flex-shrink: 0;
        z-index: 2;
    }

    .cv-sdb-btn {
        position: absolute;
        top: 0.5em;
        z-index: 1;

        &.cv-btn-lf {
            right: -0.78rem;
        }

        &.cv-btn-rg {
            left: -0.78rem;
        }
    }

    .cv-sdb-brd {
        border-color: var(---cv-brd-cl, initial);
        border-style: solid;
        border-width: 0px;
        box-sizing: border-box;

        &.cv-brd-lf {
            border-left-width: var(---cv-brd-sz);
        }

        &.cv-brd-rg {
            border-right-width: var(---cv-brd-sz);
        }
    }

    // ** center **

    .cv-center {
        box-sizing: border-box;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        z-index: 1;
    }

    // * center video *
    .cv-cnt-video {
        background-color: var(---cv-pn-bg);
        border: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        height: 100%;
        position: relative;
    }

    .cv-stream-state {
        // --pss-panel-bg: var(---cv-pn-bg);
        //   --pss-icon-cl: var(---cv-pn-low-bg);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .cv-cnt-sepr {
        padding-top: 0.5rem;
    }

    // * center footer *
    .cv-cnt-footer {
        background-color: var(---cv-pn-bg);
        border: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        padding: 0.5rem;
    }

    .cv-cnt-title {
        box-sizing: border-box;
        max-height: 15rem;
        overflow: hidden;
        padding-bottom: 0.25rem;
    }

    .cv-cnt-label {
        font-size: 1rem;
        font-weight: 500;
    }

    // * center footer - params *
    .cv-cnt-params {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // # outline: 1px dashed darkseagreen;
    }

    .cv-cnt-brd {
        border-top: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        padding-bottom: 0.25rem;
    }

    .cv-cnt-nickname {
        --av-sz: 4rem;
        --av-brd-rd: 0.5rem;
        display: flex;
        max-width: max(33%, 15rem);
    }

    .cv-cnt-prm {
        flex-grow: 1;
    }

    .cv-cnt-name-tags {
        display: block;
        overflow-wrap: anywhere;
    }

    .cv-cnt-tags {
        display: flex;
        flex-wrap: wrap;
    }

    // * right side - chat * 
    .cv-sdb-chat {
        --pc-itm-sh: var(---cv-brd-cl);
        --pc-brd-sz: var(---cv-brd-sz);

        --pc-bg: var(--sys-surface);
        --pc-mdl-fn-sz: 0.9rem;
        --pc-pd-lf: 0.25rem;
    }

    // ** **

    // ** btn-arrow **

    .cv-btn-arrow {
        // background-color: var(--cv-btn-arrow-cl, var(--sys-tertiary-container));
        // background-color: var(--sys-surface-container-low);
        border-radius: 50%;
        border-width: 0;
        box-shadow: 0 0 3px 1px var(--sys-tertiary);
        box-sizing: border-box;
        display: flex;
        padding: 2px;
    }

    .cv-arrow {
        color: var(--sys-tertiary);
        display: block;
        height: 2.2rem;
        width: 2.2rem;
    }

    .cv-rotate {
        transition-property: transform;
        transition-duration: var(--sb-durat);

        &.cv-0deg {
            transform: rotate(0deg);
        }

        &.cv-180deg {
            transform: rotate(180deg);
        }
    }

    // ** **

    @container cnt-concept-view (width < 900px) {
        .cv-cnt-actions {
            max-width: var(--cv-cnt-act-mx-wd, 200px);
        }
    }

    @container cnt-concept-view (width < 1024px) {
        .cv-sidebar {
            ---sb-ovr-wd: var(---sb-mn-wd);
            ---sb-panel-pos: absolute;
        }
    }
}