/*# sourceURL=concept-view.component.scss */

// .dark-theme app-concept-view {
//     ---cv-pn-bg: var(--app-concept-pn-low);
//     ---cv-pn-low-bg: var(--app-concept-pn);
// }

// .light-theme app-concept-view {
//     ---cv-pn-bg: var(--app-concept-pn);
//     ---cv-pn-low-bg: var(--app-concept-pn-low);
// }

app-concept-view {
    ---cv-pn-bg: var(--app-concept-pn-bg);
    ---cv-pn-brd: var(--app-concept-pn-brd);
    --sb-mn-wd: var(--cv-sb-mn-wd, 57px);
    --sb-mx-wd: var(--cv-sb-mx-wd, 300px);
    --sb-durat: 1200ms; // --sb-durat: 1.200s;


    // background-color: var(---cv-pn-low-bg);
    container: cnt-concept-view / inline-size;
    display: flex;
    height: 100%;
    // overflow: hidden;

    [cv-mr-rg1] {
        margin-right: 1rem;
    }

    [cv-mr-rg0_5] {
        margin-right: 0.5rem;
    }

    [cv-pd-tp0_5] {
        box-sizing: border-box;
        padding-top: 0.5rem;
    }

    .cv-hg100 {
        height: 100%;
    }

    // ** left, right side **

    .cv-sidebar {
        flex-shrink: 0;
        z-index: 2;
    }

    // ** left side **

    .cv-sdb-cover-lf {
        box-sizing: border-box;
        height: 100%;
        padding-right: 0.5rem;
    }

    .cv-sdb-box-lf {
        background-color: bisque;
        height: 100%;
    }

    // ** center **

    .cv-center {
        // background-color: var(--sys-inverse-on-surface);
        // background-color: var(--sys-secondary-container);
        box-sizing: border-box;
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
    }

    // * center video *
    .cv-cnt-video {
        background-color: var(---cv-pn-bg);
        border: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        height: 100%;
        position: relative;
    }

    .cv-stream-state {
        // --pss-panel-bg: var(---cv-pn-bg);
        //   --pss-icon-cl: var(---cv-pn-low-bg);
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    // * center footer *
    .cv-cnt-footer {
        background-color: var(---cv-pn-bg);
        border: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        padding: 0.5rem;
    }

    .cv-cnt-title {
        max-height: 15rem;
        overflow: hidden;
    }

    .cv-cnt-label {
        font-size: calc(1em + 2px);
        font-weight: 500;
    }

    // * center footer - params *
    .cv-cnt-params {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        outline: 1px dashed darkseagreen;
    }

    .cv-cnt-nickname {
        --av-sz: 4rem;
        --av-brd-rd: 0.5rem;
        display: flex;
        max-width: max(33%, 15rem);
    }

    .cv-cnt-prm {
        flex-grow: 1;
    }

    .cv-cnt-name-tags {
        display: block;
        overflow-wrap: anywhere;
    }

    .cv-cnt-tags {
        display: flex;
        flex-wrap: wrap;
    }

    // ** right side **

    .cv-sdb-cover-rg {
        box-sizing: border-box;
        height: 100%;
        padding-left: 0.5rem;
    }

    // * right side - chat * 
    .cv-sdb-chat {
        --pc-pd: 0px 0px 0px 0.5rem;
        --pc-bg: var(--sys-surface-variant);
        --pc-itm-bg: var(--sys-surface);
        --pc-itm-sh: var(--sys-outline-variant);
        --pc-itm-self-bg: var(--sys-on-primary);
        --pc-itm-self-sh: var(--sys-primary-fixed-dim);
        --pc-name-cl: var(--sys-on-surface);
        --pc-name-self-cl: var(--sys-primary);
        --pc-date-cl: var(--sys-secondary);
    }

    // ** **

    @container cnt-concept-view (width<800px) {
        .cv-sidebar {
            ---sb-ovr-wd: var(---sb-mn-wd);
            ---sb-panel-pos: absolute;
        }
    }

    // ** OLD **


    // ** sidebar **
    .cv-side-bar {
        background-color: var(--sys-surface-container-high);
        border-style: solid;
        border-color: var(---cv-pn-brd);
        border-width: 1px;
        box-sizing: border-box;
        position: var(---cv-side2bar-posit, relative);
    }

    .cv-btn-arrow {
        // background-color: var(--cv-btn-arrow-cl, var(--sys-tertiary-container));
        // background-color: var(--sys-surface-container-low);
        border-radius: 50%;
        border-width: 0;
        box-shadow: 0 0 3px 1px var(--sys-tertiary);
        box-sizing: border-box;
        display: flex;
        padding: 2px;
        position: absolute;
        top: 0.5em;
        z-index: 2;

        &.cv-left {
            right: calc(-1.5em + 1px);
        }

        &.cv-right {
            left: calc(-1.5em + 1px);
        }
    }

    .cv-arrow {
        color: var(--sys-tertiary);
        display: block;
        height: 2.2rem;
        width: 2.2rem;
    }

    .cv-rotate {
        transition-property: transform;
        transition-duration: var(--sb-durat);

        &.cv-0deg {
            transform: rotate(0deg);
        }

        &.cv-180deg {
            transform: rotate(180deg);
        }
    }

    // ** **


    // ** cv-stream-panel ** 
    .cv-stream-panel {
        outline: 1px dashed orange;
        background-color: var(---cv-pn-bg);
        border: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        // margin-top: 1rem;
        // padding: 1rem;
    }

}