/*# sourceURL=concept-view.component.scss */

// .dark-theme app-concept-view {
//     ---cv-pn-bg: var(--app-concept-pn-low);
//     ---cv-pn-low-bg: var(--app-concept-pn);
// }

// .light-theme app-concept-view {
//     ---cv-pn-bg: var(--app-concept-pn);
//     ---cv-pn-low-bg: var(--app-concept-pn-low);
// }

app-concept-view {
    ---cv-pn-bg: var(--app-profile-pn-bg);
    ---cv-pn-brd: var(--app-profile-pn-brd);
    --sb-mn-wd: var(--cv-sb-mn-wd, 57px);
    --sb-mx-wd: var(--cv-sb-mx-wd, 300px);
    --sb-durat: 1s;

    // background-color: var(---cv-pn-low-bg);
    display: flex;
    height: 100%;

    [cv-mr-rg-1] {
        margin-right: 1rem;
    }

    // ** sidebar **
    .cv-side-bar {
        border-style: solid;
        border-color: var(---cv-pn-brd);
        border-width: 1px;
        box-sizing: border-box;
        position: relative;
    }

    .cv-aside {
        height: 100%;
        width: var(--sb-mx-wd);
        position: absolute;

        &.cv-fix-lf {
            left: 0;
        }

        &.cv-fix-rg {
            right: 0;
        }
    }

    .cv-btn-arrow {
        // background-color: var(--cv-btn-arrow-cl, var(--sys-tertiary-container));
        // background-color: var(--sys-surface-container-low);
        border-radius: 50%;
        border-width: 0;
        box-shadow: 0 0 3px 1px var(--sys-tertiary);
        display: flex;
        padding: 2px;
        position: absolute;
        top: 0.5em;
        z-index: 2;

        &.cv-left {
            right: calc(-1.5em + 1px);
        }

        &.cv-right {
            left: calc(-1.5em + 1px);
        }
    }

    .cv-arrow {
        color: var(--sys-tertiary);
        display: block;
        height: 2.2rem;
        width: 2.2rem;
    }

    .cv-rotate {
        transition-property: transform;
        transition-duration: var(--sb-durat);

        &.cv-0deg {
            transform: rotate(0deg);
        }

        &.cv-180deg {
            transform: rotate(180deg);
        }
    }

    // ** center **
    .cv-center {
        // background-color: var(--sys-inverse-on-surface);
        // background-color: var(--sys-secondary-container);
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    // * stream-video *
    .cv-cnt-video {
        background-color: var(---cv-pn-bg);
        border: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        flex-grow: 1;

        position: relative;
    }

    .cv-cnt-footer {
        background-color: var(---cv-pn-bg);
        border: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .cv-flex {
        display: flex;
    }

    .cv-grow {
        flex-grow: 1;
    }

    .cv-wrap {
        flex-wrap: wrap;
    }

    // ** **

    .cv-stream-state {
        // --pss-panel-bg: var(---cv-pn-bg);
        //   --pss-icon-cl: var(---cv-pn-low-bg);
        --pss-icon-cl: green;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .cv-hg100 {
        height: 100%;
    }

    // ** cv-stream-panel ** 
    .cv-stream-panel {
        outline: 1px dashed orange;
        background-color: var(---cv-pn-bg);
        border: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        margin-top: 1rem;
        padding: 1rem;
    }

    .cv-stream-tools {
        // outline: 1px dashed orange;
    }

    .cv-stream-actions {
        outline: 1px dashed blueviolet;
    }



}