@if (isLoadStream) {
  <app-spinner isFillParent></app-spinner>
}

<app-sidebar class="cv-sidebar" mode="left" style="display: none;"
  [isOpen]="isSidebarLfOpen"
  (click)="isSidebarLfOpen=(isSidebarLfOpen==false ? true: isSidebarLfOpen)">
  <div sidebar-layer>
    <button class="cv-sdb-btn cv-btn-arrow cv-btn-lf" (click)="clearEvent($event); isSidebarLfOpen = !isSidebarLfOpen;">
      <svg [ngClass]="['cv-arrow cv-rotate', (isSidebarLfOpen ? 'cv-0deg' : 'cv-180deg')]">
        <use href="assets/icons/lib-concept/concept-view/angle-left-bin.svg#angle-left-bin"></use>
      </svg>
    </button>
  </div>
  <div cv-hg100 cv-brd-bx cv-pd-rg0_5>
    <div cv-hg100 class="cv-sdb-brd cv-brd-rg">
      bar-left 1 bar-left 2

    </div>
  </div>
</app-sidebar>

<div class="cv-center">
  
  <div [ngClass]="[(isStreamVideo ? 'cv-cnt-video' : '')]">
  <!-- <div [ngClass]="['cv-box-video', classNameViewerSize()]"> -->
    <!-- <div class="height-100ps" [appMillicastViewer]="millicastViewer"></div> -->
    <div cv-hg100></div>
    <app-panel-stream-state class="cv-stream-state"
      [streamState]="streamDto?.state || null">
    </app-panel-stream-state>
  <!-- </div> -->
  </div>

  <div class="cv-cnt-sepr"></div>

  <div class="cv-cnt-footer">

    <div class="cv-cnt-title">
      <span cv-mr-rg0_5 class="cv-cnt-label">{{ 'concept-view.title' | translate }}</span>
      <span>{{ streamDto?.title }}</span>
    </div>

    <div class="cv-cnt-brd"></div>

    <div class="cv-cnt-params">
        
      <div class="cv-cnt-nickname cv-cnt-prm">
        <app-avatar av-mx-wd-1_5-hg cv-mr-rg0_5 class="cv-cnt-avatar"
          [avatar]="ownerAvatar">
        </app-avatar>
        <div class="cv-cnt-name-tags">
          <div>{{ ownerNickname }}</div>
          <div class="cv-cnt-email">{{ ownerEmail }}</div>
          <div class="cv-cnt-tags">
            <span cv-mr-rg0_5>{{ 'concept-view.tags' | translate }}</span>
            @for (tag of (streamDto?.tags || []); track tag) {
              <span cv-mr-rg0_5>#{{ tag }}</span>
            }
          </div>
        </div>
      </div>

      <div class="cv-cnt-prm cv-cnt-actions">
        <span class="cv-cnt-label">{{ 'concept-view.state' | translate }}</span>
        <span>@if (!!streamDto) {  {{ ('concept-view.' + streamDto.state) | translate }}  }</span>
        @if (isStreamOwner) {
          <app-panel-stream-actions
            [state]="streamDto?.state"
            [title]="streamDto?.title"
            (changeState)="doChangeState($event)">
          </app-panel-stream-actions>
        }
      </div>

      <div class="cv-cnt-prm">
        <app-panel-stream-params
          [countOfViewer]="countOfViewer"
          [locale]="localeService.getLocale()"
          [streamStarttime]="streamDto?.starttime"
          [streamStarted]="streamDto?.started"
          [streamPaused]="streamDto?.paused"
          [streamStopped]="streamDto?.stopped"
          [timerActive]="timerActive"
          [timerIsShow]="timerIsShow"
          [timerValue]="timerValue">
        </app-panel-stream-params>
      </div>

    </div>

    <div class="cv-cnt-brd"></div>

    <div class="cv-cnt-title">
      <span cv-mr-rg0_5 class="cv-cnt-label">{{ 'concept-view.descript' | translate }}</span>
      <span>{{ streamDto?.descript }}</span>
    </div>
 
  </div>
    
</div>

<app-sidebar class="cv-sidebar" mode="right"
  [isOpen]="isSidebarRgOpen"
  (click)="isSidebarRgOpen=(isSidebarRgOpen==false ? true: isSidebarRgOpen)">
  <div sidebar-layer>
    <button class="cv-sdb-btn cv-btn-arrow cv-btn-rg" (click)="clearEvent($event); isSidebarRgOpen=!isSidebarRgOpen;">
      <svg [ngClass]="['cv-arrow cv-rotate', (isSidebarRgOpen ? 'cv-0deg' : 'cv-180deg')]">
        <use href="assets/icons/lib-concept/concept-view/angle-right-bin.svg#angle-right-bin"></use>
      </svg>
    </button>
  </div>
  <div cv-hg100 cv-brd-bx cv-pd-lf0_5>
    <app-panel-chat class="cv-sdb-chat cv-sdb-brd cv-brd-lf"
      [blockedUsers]="chatBlockedUsers"
      [chatPastMsgs]="chatPastMsgs"
      [chatNewMsgs]="chatNewMsgs"
      [chatRmvIds]="chatRmvIds"
      [isBlocked]="chatIsBlocked"
      [isEditable]="chatIsEditable"
      [isLoadData]="chatIsLoadData"
      [isOwner]="chatIsOwner"  
      [locale]="localeService.getLocale()"
      [maxLen]="chatMaxLen"
      [minLen]="chatMinLen"
      [maxRows]="chatMaxRows"
      [minRows]="chatMinRows"
      [nickname]="chatNickname || ''"
      [title]="'concept-view.chat_title'"
      (blockUser)="doBlockUser($event)"
      (unblockUser)="doUnblockUser($event)"
      (sendMsg)="doSendMessage($event)"
      (editMsg)="doEditMessage($event)"
      (cutMsg)="doCutMessage($event)"
      (rmvMsg)="doRmvMessage($event)"
      (queryPastMsgs)="doQueryPastMsgs($event)">
    </app-panel-chat>
  </div>

</app-sidebar>


