/*# sourceURL=concept-view.component.scss */

// .dark-theme app-concept-view {
//     ---cv-pn-bg: var(--app-concept-pn-low);
//     ---cv-pn-low-bg: var(--app-concept-pn);
// }

// .light-theme app-concept-view {
//     ---cv-pn-bg: var(--app-concept-pn);
//     ---cv-pn-low-bg: var(--app-concept-pn-low);
// }

app-concept-view {
    ---cv-pn-bg: var(--app-profile-pn-bg);
    ---cv-pn-brd: var(--app-profile-pn-brd);

    ---cv-sb-mn-wd: 57px;
    ---cv-sb-mx-wd: 260px;
    ---cv-sb-durat: 1s;

    // background-color: var(---cv-pn-low-bg);
    display: flex;
    height: 100%;

    .cv-side-bar {
        --sb-mn-wd: var(---cv-sb-mn-wd);
        --sb-mx-wd: var(---cv-sb-mx-wd);
        --sb-ov-fl: visible;
        --sb-durt: var(---cv-sb-durat);
        border-style: solid;
        border-color: var(---cv-pn-brd);
        flex: 0 0 auto;
        // background-color: var(---cv-pn-bg);
        position: relative;

        &.cv-brd-lf {
            border-left-width: 1px;
        }

        &.cv-brd-rg {
            border-right-width: 1px;
        }
    }

    // ** center **
    .cv-center {
        // background-color: var(--sys-inverse-on-surface);
        // background-color: var(--sys-secondary-container);
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    // ** stream-video **
    .cv-stream-video {
        background-color: var(---cv-pn-bg);
        border: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        flex-grow: 1;

        position: relative;
    }

    .cv-stream-state {
        // --pss-panel-bg: var(---cv-pn-bg);
        //   --pss-icon-cl: var(---cv-pn-low-bg);
        --pss-icon-cl: green;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .cv-hg100 {
        height: 100%;
    }

    // ** cv-stream-panel ** 
    .cv-stream-panel {
        align-items: center;
        background-color: var(---cv-pn-bg);
        border: 1px solid var(---cv-pn-brd);
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 1rem;
        padding: 1rem;
    }

    .cv-stream-tools {
        outline: 1px dashed orange;
    }

    .cv-stream-actions {
        outline: 1px dashed blueviolet;
    }

    // ** sidebar **
    .cv-aside {
        height: 100%;
        width: 100%;
    }

    .cv-btn-arrow {
        // background-color: var(--cv-btn-arrow-cl, var(--sys-tertiary-container));
        // background-color: var(--sys-surface-container-low);
        border-radius: 50%;
        border-width: 0;
        display: flex;
        padding: 2px;
        position: absolute;
        top: 0.5em;
        z-index: 2;

        &.cv-left {
            right: calc(-1.5em + 1px);
        }

        &.cv-right {
            left: calc(-1.5em + 1px);
        }
    }

    .cv-arrow {
        // color: var(--app-svg-icon-cl);
        display: block;
        height: 2.2rem;
        width: 2.2rem;
    }

    .cv-rotate {
        transition-property: transform;
        transition-duration: var(---cv-sb-durat);

        &.cv-0deg {
            transform: rotate(0deg);
        }

        &.cv-180deg {
            transform: rotate(180deg);
        }
    }


}