<div class="fp-stand">
    <form
      class="fp-form"
      [formGroup]="formGroup"
      novalidate
    >
      <div class="fp-title">{{ 'forgot-password.title' | translate }}</div>
  
      <app-field-email
        class="fp-field"
        formControlName="email"
        [isRequired]="true"
        label="forgot-password.email_address"
        (input)="updateErrMsg()"
      >
      </app-field-email>
  
      <button
        type="button"
        indent
        mat-raised-button
        class="fp-field mat-primary"
        [disabled]="formGroup.invalid || isDisabledSubmit ? '' : undefined"
        (click)="doResend()"
      >
        {{ 'forgot-password.button_resend' | translate }}
      </button>
  
      <ng-container *ngFor="let errMsg of errMsgList">
        <mat-error>{{ errMsg }}</mat-error>
      </ng-container>
    </form>

    <div class="fp-note">
      <a [href]="linkLogin">{{ 'forgot-password.go_to_login' | translate }}</a>
    </div>
    
  </div>
  