<div class="fp-content">
  <form
    class="fp-form"
    [formGroup]="formGroup"
    novalidate
  >
    <div class="fp-title">{{ 'forgot-password.title' | translate }}</div>
    <div mr-bt-05>{{ 'forgot-password.you_forgot_password' | translate }}</div>
    
    <app-field-email
      wd-100
      formControlName="email"
      [isRequired]="true"
      label="forgot-password.email_address"
      (input)="updateErrMsg()"
    >
    </app-field-email>
  
    <button
      type="button"
      mat-raised-button
      mr-tp-05
      mr-bt-05
      wd-100
      class="mat-primary"
      [disabled]="formGroup.invalid || isDisabledSubmit ? '' : undefined"
      (click)="doResend()"
    >
    {{ 'forgot-password.button_send' | translate }}
    </button>
  
    <ng-container *ngFor="let errMsg of errMsgList">
      <mat-error class="fp-err">{{ errMsg }}</mat-error>
    </ng-container>
  </form>

  <div class="fp-note">
    <span>{{ 'forgot-password.go_to' | translate }} </span>
    <a routerLink="{{linkLogin}}">{{ 'forgot-password.login' | translate }}</a>
  </div>
  
</div>
  