/*# sourceURL=panel-signup.scss */

app-panel-signup {
    ---ps-pd: calc(0.03125 * min(100vw, 1280px) - 2px); // 512.22px: 14px;  1024.44px: 30px;
    ---ps-wd: min(100vw, calc((26px + 100vw / 128) * 16));
    --app-pn-bg-h: 30; // hsl(27, 50%, 50%); unauthoriz

    [ps-mt-2] {
        margin-top: 0.5rem;
    }

    [ps-mt-4] {
        margin-top: 1rem;
    }

    [ps-ml-2] {
        margin-left: 0.5rem;
    }

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

    .ps-content {
        background-color: var(--app-pn-bg);
        background-image: var(--app-pn-bg-img);
        border: 2px solid var(--app-pn-brd);
        border-radius: var(--ps-pn-brd-rd, var(---ps-pd));
        box-shadow: var(--ps-pn-sh, rgba(0, 0, 0, 0.35) 0px 4px 11px);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: calc(var(---ps-pd) / 2) var(---ps-pd);
        width: var(---ps-wd);
    }

    .ps-form {
        display: flex;
        flex-direction: column;
        padding-bottom: calc(var(---ps-pd) / 2);
    }

    .ps-title {
        font-size: calc(100% + 6px);
        font-weight: 500;
        text-align: center;
    }

    .ps-note {
        display: flex;
        justify-content: center;
    }
}