/*# sourceURL=field-password.scss */

app-field-password {
    display: block;

    &[wd100] {
        width: 100%;
    }

    &[hg100] {
        height: 100%;
    }

    &[fp-no-pd-hint-error] {

        .mat-mdc-form-field-hint-wrapper,
        .mat-mdc-form-field-error-wrapper {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .fp-btn-passwd {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding-right: 0.75rem;
    }

    .fp-svg-icon {
        color: var(--app-svg-icon-cl);
        height: 1.5rem;
        width: 1.5rem;
    }

    mat-form-field {
        max-width: inherit;
        width: inherit;
    }
}