/*# sourceURL=field-password.component.scss */

app-field-password {
  display: block;

  .fl-ps-btn-passwd {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding-right: 0.75em;
  }
  mat-form-field {
    max-width: inherit;
    width: inherit;
  }
  .mat-mdc-form-field-subscript-wrapper {
    --mdc-typography-caption-line-height: 1.25;
  }
}
