<div class="su-content">
  <form
    class="su-form"
    [formGroup]="formGroup"
    novalidate
  >
    <div class="su-title">{{ 'signup.title' | translate }}</div>

    <app-field-nickname
      mr-bt-1
      wd-100
      formControlName="nickname"
      [isRequired]="true"
      label="field-nickname.label"
      hint="field-nickname.nickname_hint"
      (input)="updateErrMsg()"
    >
    </app-field-nickname>

    <app-field-email
      mr-tp-05
      mr-bt-1
      wd-100
      formControlName="email"
      [isRequired]="true"
      label="field-email.label"
      (input)="updateErrMsg()"
    >
    </app-field-email>

    <app-field-password
      mr-tp-05
      mr-bt-1
      wd-100
      formControlName="password"
      [isRequired]="true"
      hint="field-password.password_hint"
      (input)="updateErrMsg()"
    ></app-field-password>

    <button
      type="button"
      mat-raised-button
      mr-bt-05
      mr-tp-05
      wd-100
      class=" mat-primary"
      [disabled]="formGroup.invalid || isDisabledSubmit ? '' : undefined"
      (click)="doSignup()"
    >
      {{ 'signup.button_signup' | translate }}
    </button>

    <ng-container *ngFor="let errMsg of errMsgList">
      <mat-error class="su-err">{{ errMsg | translate }}</mat-error>
    </ng-container>
  </form>

  <div class="su-note">
    <span>{{ 'signup.already_registered' | translate }} </span>
    <a [href]="linkLogin">{{ 'signup.log_in' | translate }}</a>
  </div>

</div>
