<div class="su-stand">
  <form
    class="su-form"
    [formGroup]="formGroup"
    novalidate
  >
    <div class="su-title">{{ 'signup.title' | translate }}{{ 'app_name' | translate }}</div>

    <app-field-nickname
      class="su-field"
      formControlName="nickname"
      [isRequired]="true"
      label="field-nickname.label"
      (input)="updateErrMsg()"
    >
    </app-field-nickname>

    <app-field-email
      class="su-field"
      formControlName="email"
      [isRequired]="true"
      label="field-email.label"
      (input)="updateErrMsg()"
    >
    </app-field-email>

    <app-field-password
      class="su-field"
      formControlName="password"
      [isRequired]="true"
      (input)="updateErrMsg()"
    ></app-field-password>

    <button
      type="button"
      indent
      mat-raised-button
      class="su-field mat-primary"
      [disabled]="formGroup.invalid || isDisabledSubmit ? '' : undefined"
      (click)="doSignup()"
    >
      {{ 'signup.button_signup' | translate }}
    </button>

    <ng-container *ngFor="let errMsg of errMsgList">
      <mat-error>{{ errMsg }}</mat-error>
    </ng-container>
  </form>

  <div class="su-note">
    <a [href]="linkLogin">{{ 'signup.go_to_login' | translate }}</a>
  </div>

</div>
