/*# sourceURL=confirmation.component.scss */

app-confirmation {
  display: inline-block;
  //   margin: 1.5em;
  position: relative;

  .btn-close {
    position: absolute;
    top: 1vh;
    right: 1vw;
    background-color: transparent;
    color: var(--app-theme-color);
    border: none;
    font-size: x-large;
    cursor: pointer;
    z-index: 1;
  }

  & > h1[mat-dialog-title] {
    font-size: large;
  }

  .content {
    font-size: medium;
    font-style: normal;
  }

  .actions {
    justify-content: center;
  }

  .mat-dialog-actions {
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
  }
}
