/*# sourceURL=confirmation.component.scss */

app-confirmation {
  display: inline-block;
  position: relative;

  .dc-title {
    font-size: 1.5em;
    font-weight: 500;
    padding: 0.5em 0.5em 0.5em 0.8em;
    background-color: var(--app-pn-stream-low);
  }
  .dc-close {
    position: absolute;
    top: 1vh;
    right: 1vw;
    background-color: transparent;
    color: var(--app-theme-color);
    border: none;
    font-size: x-large;
    cursor: pointer;
    z-index: 1;
  }

  .dc-content {
    font-size: medium;
    font-style: normal;
  }

  .dc-actions {
    justify-content: center;
  }
}
