<button class="dc-close" (click)="cancel()">
  &#215;
</button>
<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content class="dc-content">
  <ng-container *ngIf="!!message">
    {{ message }}
  </ng-container>
  <ng-container *ngIf="!!messageHtml">
    <div [innerHTML]="messageHtml"></div>
  </ng-container>
</div>
<div mat-dialog-actions class="dc-actions">
  <button mat-stroked-button
    *ngIf="!!btnNameCancel"
    class="mat-elevation-z3"
    color="primary"
    (click)="cancel()"
    cdkFocusInitial
  >
    {{ btnNameCancel }}
  </button>
  <button mat-stroked-button
    *ngIf="!!btnNameAccept"
    class="mat-elevation-z3"
    color="primary"
    (click)="accept()"
  >
    {{ btnNameAccept }}
  </button>
</div>
