<button class="dc-close" (click)="cancel()">&#215;</button>
<div class="dc-title">{{ title }}</div>
<div mat-dialog-content class="dc-content">
  @if (!!message) {
    {{ message }}
  }
  @if (!!messageHtml) {
    <div [innerHTML]="messageHtml"></div>
  }
</div>
<div mat-dialog-actions class="dc-actions">
  @if (!!btnNameCancel) {
    <button mat-stroked-button
      class="app-infix app-ordinary mat-elevation-z3"
      (click)="cancel()"
      cdkFocusInitial>
      {{ btnNameCancel }}
    </button>
  }
  @if (!!btnNameAccept) {
    <button mat-stroked-button
      class="app-infix app-ordinary mat-elevation-z3"
      (click)="accept()">
      {{ btnNameAccept }}
    </button>
  }
</div>
