@if (isShowBntPrepare(state)) {
  <button matButton type="button" pba-btn class="stl-btn-brd" (click)="doChangeState(statePreparing)">
    <svg appIconBox mode="Hourglass" stroke-width="5" pba-mr-1 class="pba-svg-sz1 pba-ver-md"></svg>
    <span pba-mr-1 class="pba-ver-md">{{ 'panel-browse-actions.prepare_stream' | translate }}</span>
  </button>
}

@if (isShowBntStart(state)) {
  <button matButton type="button" pba-btn class="stl-btn-brd" (click)="doChangeState(stateStarted)">
    <svg appIconBox mode="Play" pba-mr-1 class="pba-svg-sz2 pba-ver-md"></svg>
    <span pba-mr-1 class="pba-ver-md">{{ 'panel-browse-actions.go_live_stream' | translate }}</span>
  </button>
}

@if (isShowBntPause(state)) {
  <button matButton type="button" pba-btn class="stl-btn-brd" (click)="doChangeState(statePaused)">
    <svg appIconBox mode="Pause" pba-mr-1 class="pba-svg-sz2 pba-ver-md"></svg>
    <span pba-mr-1 class="pba-ver-md">{{ 'panel-browse-actions.pause_stream' | translate }}</span>
  </button>
}

@if (isShowBtnStop(state)) {
  <button matButton type="button" pba-btn class="stl-btn-brd" (click)="doChangeState(stateStopped)">
    <svg appIconBox mode="Stop" pba-mr-1 class="pba-svg-sz2 pba-ver-md"></svg>
    <span pba-mr-1 class="pba-ver-md">{{ 'panel-browse-actions.stop_stream' | translate }}</span>
  </button>
}
