/*# sourceURL=panel-browse-actions */

app-panel-browse-actions {
    --mat-outlined-button-horizontal-padding: 0.7rem;
    --mat-button-protected-horizontal-padding: 1.15rem;

    display: flex;
    flex-wrap: wrap;

    [pba-btn] {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        margin-top: 0.25rem;
    }

    [pba-mr-1] {
        margin-right: 0.25rem;
    }

    .pba-ver-md {
        vertical-align: middle;
    }

    // ** icon **
    .pba-svg-sz {
        height: 1.75rem;
        width: 1.75rem;
    }

    .pba-scale {
        scale: 1.15;
    }
}