/*# sourceURL=footer.component.scss */

app-footer {
  display: flex;
  height: 100%;
  padding-left: 0.8em;
  &:not(.ft-user-info) {
    ---ft-bg-cl: var(--app-site-off-footer-bg);
  }
  &.ft-user-info {
    ---ft-bg-cl: var(--app-site-footer-bg);
  }
  background-color: var(---ft-bg-cl);

}
