/*# sourceURL=footer.component.scss */

app-footer {
    align-items: center;
    display: flex;
    height: 100%;
    line-height: 1;
    padding-left: 0.8em;

    &.f-is-authorized {
        ---ftr-auth-pn-bg: var(--app-auth-pn-bg);
    }

    background-color: var(---ftr-auth-pn-bg, var(--app-unauth-pn-bg));

}