/*# sourceURL=panel-forgot-password.component.scss */

app-panel-forgot-password {
  ---pfp-pn-bg: color-mix(in srgb, var(--app-pn-forgot) 10%, var(--sys-surface));
  ---pfp-pn-brd: color-mix(in srgb, var(--app-pn-forgot) 22%, var(--sys-surface));
  ---pfp-pd: calc(0.03125 * min(100vw, 1280px) - 2px);  // 512.22px: 14px;  1024.44px: 30px;
  ---pfp-wd: min(100vw, calc((26px + 100vw / 128) * 16));

  [pfp-mr-tp-0_5] { margin-top: 0.5em; }
  [pfp-mr-tp-1] { margin-top: 1.1em; }

  display: flex;
  justify-content: center;
  height: 100%;
  overflow: auto;

  .pfp-content {
    background-color: var(--pfp-pn-bg, var(---pfp-pn-bg));
    border-color: var(--pfp-pn-brd, var(---pfp-pn-brd));
    border-style: solid;
    border-width: 2px;
    border-radius: var(--pfp-pn-brd-rd, var(---pfp-pd));
    box-shadow: var(--pfp-pn-sh, rgba(0, 0, 0, 0.35) 0px 4px 11px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: calc(var(---pfp-pd) / 2) var(---pfp-pd);
    width: var(---pfp-wd);
  }

  .pfp-form {
    display: flex;
    flex-direction: column;
    padding-bottom: calc(var(---pfp-pd) / 2);
  }

  .pfp-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    text-align: center;
  }

  .pfp-note {
    display: flex;
    justify-content: space-between;
  }
}
