<div class="pfp-content">
  <form novalidate class="pfp-form"
    [formGroup]="formGroup">

    <div class="pfp-title">{{ 'panel-forgot-password.title' | translate }}</div>

    <div pfp-mr-tp-0_5>{{ 'panel-forgot-password.you_forgot_password' | translate }}</div>

    <app-field-input wd100 pfp-mr-tp-0_5
      formControlName="email"
      gist="email"
      [isRequired]="true"
      label="panel-forgot-password.email_address"
      [maxLen]="emailMaxLen"
      [minLen]="emailMinLen"
      type="email"
      (input)="updateErrMsg()">
    </app-field-input>

    <button mat-flat-button pfp-mr-tp-1
      class="mat-primary"
      [disabled]="formGroup.invalid || isDisabledSubmit ? '' : undefined"
      (click)="doResend()">
      {{ 'panel-forgot-password.button_send' | translate }}
    </button>
    
    <div pfp-mr-tp-1 class="pfp-note">
      <a no-decor routerLink="{{linkLogin}}">{{ 'panel-forgot-password.go_to_login_page' | translate }}</a>
    </div>
  </form>

  <div class="mat-mdc-form-field-subscript-wrapper">
    @for (errMsg of errMsgs; track errMsg) {
      <mat-error>{{ errMsg | translate }}</mat-error>
    }
  </div>
</div>
