<div class="pfp-content">
  <form novalidate class="pfp-form"
    [formGroup]="formGroup">

    <div pfp-mr-tp-0_5 class="pfp-title">{{ 'panel-forgot-password.title' | translate }}</div>

    <div pfp-mr-tp-0_5>{{ 'panel-forgot-password.you_forgot_password' | translate }}</div>
      
    <app-field-email wd100 pfp-mr-tp-0_5
      formControlName="email"
      [isRequired]="true"
      label="panel-forgot-password.email_address"
      (input)="updateErrMsg()">
    </app-field-email>
    
    <button mat-flat-button pfp-mr-tp-1
      class="mat-primary"
      [disabled]="formGroup.invalid || isDisabledSubmit ? '' : undefined"
      (click)="doResend()">
      {{ 'panel-forgot-password.button_send' | translate }}
    </button>
    
    <div pfp-mr-tp-1 class="pfp-note">
      <a no-decor routerLink="{{linkLogin}}">{{ 'panel-forgot-password.go_to_login_page' | translate }}</a>
    </div>
  </form>

  <div class="mat-mdc-form-field-subscript-wrapper">
    <ng-container *ngFor="let errMsg of errMsgs">
      <mat-error>{{ errMsg | translate }}</mat-error>
    </ng-container>
  </div>
</div>
