/*# sourceURL=panel-forgot-password.component.scss */

@use '../../../styles-dimensions.scss' as dimensions;

app-panel-forgot-password {
  ---pfp-width: calc(100% - 1vw + 1vw); // width in "px".
  ---pfp-pn-bg: var(--app-forgot-pw-pn);
  ---pfp-pn-brd: var(--app-forgot-pw-pn-low);

  // 512.22px: 18.767px;  640px: 23.976px;  767.78px: 28.767px;  896.67px: 33.611px;  1024.44px: 38.403px;  1280px: 47.986px;
  ---pfp-pd: calc(0.0375 * min(var(---pfp-width), 1280px) - 0.0115px);  
  ---pfp-wd: min(100vw, calc((26px + var(---pfp-width) / 128) * 16));

  [pfp-mr-tp-0_5] { margin-top: 0.5em; }
  [pfp-mr-tp-1] { margin-top: 1.1em; }

  display: flex;
  justify-content: center;
  height: 100%;
  overflow: auto;

  .pfp-content {
    background-color: var(--pfp-pn-bg, var(---pfp-pn-bg));
    border-color: var(--pfp-pn-brd, var(---pfp-pn-brd));
    border-style: solid;
    border-width: 2px;
    border-radius: var(--pfp-pn-brd-rd, var(---pfp-pd));
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: calc(var(---pfp-pd) / 2) var(---pfp-pd);
    width: var(---pfp-wd);
  }

  .pfp-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
  }

  .pfp-title {
    font-size: calc(100% + 6px);
    font-weight: 500;
    text-align: center;
  }

  .pfp-note {
    display: flex;
    justify-content: space-between;
  }
}
