<ng-container [formGroup]="formGroup">
  <mat-form-field
    appearance="outline"
    color="primary">
    <mat-label>{{ label | translate }}</mat-label>
    <input
      matInput
      formControlName="date"
      [matDatepicker]="datepickerItem"
      [required]="isRequired"
      [max]="maxDate"
      [min]="minDate"
      autocomplete="new-password"
      (dateInput)="doDateInput($event)"
      (dateChange)="doDateChange($event)"
      (blur)="onTouched()"
    />
    <mat-datepicker-toggle matSuffix [for]="datepickerItem"></mat-datepicker-toggle>
    <mat-datepicker #datepickerItem panelClass="cstm-calendar"></mat-datepicker>
    <mat-hint>{{ hint | translate }}</mat-hint>
    <mat-error>{{ doTranslate(getErrorMsg(formControl.errors), formControl.errors) }}</mat-error>
  </mat-form-field>
</ng-container>
