@if(!!streamDto) {
  <a class="psi-logo psi-img-shd" [href]="linkToStream">
    <app-image class="psi-logo-box" [srcImg]="streamDto.logo"></app-image>
  </a>

  <div class="psi-details">
    <div class="psi-date">
      {{ streamDto.starttime | dateTimeFormat:locale:formatDateTime }} 
    </div>
    <div class="psi-title">
      <a [href]="linkToStream">
        {{ streamDto.title }}
      </a>
    </div>
    <div class="psi-descript">{{ streamDto.descript }}</div>
  </div>

  <div class="psi-actions">
    @if (canDuplicate) {
      <button matButton type="button" class="psi-action-btn stl-btn-brd psi-actions-box"
        (click)="doActionDuplicate(streamDto.id)" psi-mr-2>
        <span class="psi-action-label">
          <svg appIconBox mode="CopyFile" psi-mr-1 class="psi-duplicate-accent"></svg>
          <span>{{ 'panel-stream-info.btn-duplicate' | translate }}</span>
        </span>
      </button>
    }
    <div class="psi-actions-both">
      @if (canEdit) {
        <button matButton type="button" class="psi-action-btn stl-btn-brd"
          (click)="doActionEdit(streamDto.id)" psi-mr-2>
          <span class="psi-action-label">
            <svg appIconBox mode="EditFile" psi-mr-1 class="psi-edit-accent"></svg> 
            <span>{{ 'panel-stream-info.btn-edit' | translate }}</span>
          </span>
        </button>
      }
      @if (canDelete) {
        <button matButton type="button" class="psi-action-btn stl-btn-brd"
          (click)="doActionDelete(streamDto)" psi-mr-2>
          <span class="psi-action-label">
            <svg appIconBox mode="DeleteFile" psi-mr-1 class="psi-delete-accent"></svg>
            <span>{{ 'panel-stream-info.btn-delete' | translate }}</span>
          </span>
        </button>
      }
    </div>
  </div>
}
