/*# sourceURL=main-menu.component.scss */

app-main-menu {
  --mdc-typography-button-letter-spacing: normal;
  align-items: center;
  display: flex;
  height: 100%;

  .mat-mdc-button {
    padding-right: 0;
  }
}

.cdk-overlay-container .mat-mdc-menu-panel {
  .mm-mr-lf-1 {
    margin-left: 1em;
  }
  .mm-item-fn-it {
    font-style: italic;
  }
  .mm-mr-lf-0_5 {
    margin-left: 0.5em;
  }
}  