<button
  mat-button
  [matMenuTriggerFor]="mainMenu"
  [disabled]="isDisabledMenu">
  <ng-content></ng-content>
</button>

<mat-menu #mainMenu="matMenu" class="app-panel-mainmenu">

  <button mat-menu-item *ngIf="isShowMyStreams" class="app-main-menu-item" [routerLink]="[linkMyStreams]">
    <span class="mm-icon mm-my-streams"></span>
    <span class="mm-mr-lf">{{ 'main_menu.my_streams' | translate }}</span>
  </button>

  <button mat-menu-item *ngIf="isShowCreateStream" class="app-main-menu-item" [routerLink]="[linkCreateStream]">
    <span class="mm-icon mm-my-streams"></span>
    <span class="mm-mr-lf">{{ 'main_menu.create_stream' | translate }}</span>
  </button>

  <button mat-menu-item *ngIf="isShowDarkTheme" class="pn-main-menu-item" (click)="doChangeDarkTheme(!isDarkTheme)">
    <span class="mm-icon mm-dark-theme"></span>
    <span class="mm-mr-lf">{{ 'main_menu.dark_theme' | translate }}</span>
    <mat-slide-toggle class="mm-mr-lf" color="primary" [ngModel]="isDarkTheme"></mat-slide-toggle>
  </button>
    
  <button mat-menu-item *ngIf="isShowLogout" class="app-main-menu-item" (click)="doLogout()">
    <span class="mm-icon mm-log-out"></span>
    <span class="mm-mr-lf">{{ 'main_menu.log_out' | translate }}</span>
  </button>

</mat-menu>
