/*# sourceURL=main-menu.component.scss */

app-main-menu {
  display: inline;
  --mdc-typography-button-letter-spacing: normal;
}

.cdk-overlay-container 
.app-panel-mainmenu {
  .mm-mr-lf {
    margin-left: 1em;
  }
}