/*# sourceURL=main-menu.component.scss */

app-main-menu {
  --mdc-typography-button-letter-spacing: normal;
  align-items: center;
  display: flex;
  height: 100%;

  .mat-mdc-button {
    padding-right: 0;
  }
}

.cdk-overlay-container 
.app-panel-mainmenu {
  .mm-mr-lf {
    margin-left: 1em;
  }
}