<ng-container [formGroup]="formGroup">
  <mat-form-field class="fcg-max-wd"
    appearance="outline"
    color="primary">
    <mat-label>{{ label | translate }}</mat-label>
    <mat-chip-grid #chipGrid [formControl]="formControl">
      <mat-chip-row
        *ngFor="let chip of formControl.value"
        [removable]="!!isRemovable"
        (removed)="chipRemove(chip, formControl.value)">
        {{ chip }}
        <button class="fcg-btn-chip-remove" matChipRemove *ngIf="!!isRemovable">&#215;</button>
      </mat-chip-row>
      <input #chipInput
        autocomplete="off"
        autocapitalize="off"
        [readonly]="isReadonly"
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorCodes"
        (matChipInputTokenEnd)="chipAdd($event, formControl.value)"
        (blur)="onTouched()"
      />
    </mat-chip-grid>
    <mat-hint>{{ hint | translate }}</mat-hint>
    <mat-error>{{ getErrorMsg(formControl.errors) | translate : formControl.errors }}</mat-error>
  </mat-form-field>
</ng-container>
