/*# sourceURL=field-chip-grid.component.scss */

app-field-chip-grid {
  display: block;

  .fcg-btn-chip-remove {
    background-color: transparent;
    border: none;
    font-size: large;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    height: 1.3vh;
  }
  &[wd100] {
    width: 100%;
  }
  &[hg100] {
    height: 100%;
  }

  mat-form-field {
    max-width: inherit;
    width: inherit;
  }
  .mat-mdc-form-field-subscript-wrapper {
    --mdc-typography-caption-line-height: 1.25;
  }
  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}
  