/*# sourceURL=field-chip-grid.component.scss */

app-field-chip-grid {
  display: block;

  .fcg-btn-chip-remove {
    background-color: transparent;
    border: none;
    font-size: large;
    padding: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
    height: 1.3vh;
  }
  mat-form-field {
    width: 100%;
  }
  .mat-mdc-form-field-subscript-wrapper {
    --mdc-typography-caption-line-height: 1.25;
  }
}
  